Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Revert testing multiple amounts of heads
  src/metatrain/experimental/mace/.gitignore
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Support multi-heads MACE models (#1183)
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/experimental/mace/utils/mace_head.py
  src/metatrain/experimental/mace/utils/structures.py
Due: none

Resolved comments
  src/metatrain/cli/train.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/additive/zbl.py
  tests/cli/test_train_model.py
Due: PET

Increased the PET CSCS tests timeout
  ci/cscs.yml
Due: none

Renamed default_target to default_head
  docs/src/concepts/fine-tuning.rst
  src/metatrain/cli/train.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/finetuning.py
  tests/cli/test_train_model.py
  tests/utils/test_abc.py
Due: PET

apply suggestions
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_non_strict_nl.py
Due: PET

add support of non strict nl in pet (#1197)
  docs/src/dev-docs/changelog.rst
  examples/1-advanced/10-pet-hidden-features.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_non_strict_nl.py
Due: PET

Updated the checkpoint
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v14.ckpt.gz
Due: PET

improve reference to finetuning doc
  docs/src/concepts/fine-tuning.rst
  docs/src/getting-started/quickstart.rst
  examples/0-beginner/02-fine-tuning.py
  examples/1-advanced/05-multi-gpu.py
Due: none

Reformat folder name for memmap option
  docs/src/dev-docs/changelog.rst
  file
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/writers/__init__.py
  src/metatrain/utils/data/writers/memmap.py
  tests/cli/test_eval_model.py
  tests/utils/data/test_writers.py
Due: none

Solve failing tests
  file
  src/metatrain/utils/data/writers/__init__.py
Due: none

Address review comments
  src/metatrain/composition/__init__.py
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/utils/metrics.py
  tox.ini
Due: none

Fix composition model export dtype: dummy_buffer must be float64
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/test_errors.py
Due: none

Address further comments and add test
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/metrics.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

Address Pol's comments
  src/metatrain/cli/eval.py
  src/metatrain/composition/__init__.py
  src/metatrain/composition/_base_composition.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/composition/tests/regression_checkpoint.ckpt.gz
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/composition/tests/test_checkpoint.py
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/composition/tests/test_export.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/tests/test_torchscript.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/gap/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/metrics.py
  tests/utils/test_additive.py
Due: GAP, SOAP-BPNN, PET, FlashMD

Add docs
  docs/src/architectures/templates/model_hypers.rst
  docs/src/architectures/templates/trainer_hypers.rst
  src/metatrain/composition/documentation.py
  src/metatrain/composition/trainer.py
Due: none

Skip target blocks the model doesn't predict in RMSE/MAE accumulators
  src/metatrain/cli/eval.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/metrics.py
Due: FlashMD

Test eval-mode sparsification of composition outputs
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/pet/tests/test_functionality.py
  tests/utils/data/test_atomic_basis_helpers.py
  tests/utils/test_additive.py
Due: PET

Sparsify composition model outputs in eval mode
  src/metatrain/cli/eval.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: SOAP-BPNN, PET

Expand docs
  src/metatrain/composition/documentation.py
Due: none

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Change behaviour from renaming folder to raising error
  src/metatrain/utils/data/writers/memmap.py
  tests/utils/data/test_writers.py
  tox.ini
Due: none

Move composition model to a separate table in the README
  README.md
Due: none

Cast type to avoid new mypy lint error
  src/metatrain/utils/pydantic.py
Due: none

Increase tests time limit
  ci/cscs.yml
Due: none

Support multiple gap targets in gap_pet
  src/metatrain/gap_pet/__init__.py
  src/metatrain/gap_pet/model.py
  src/metatrain/gap_pet/tests/test_gap_specific.py
  src/metatrain/gap_pet/tests/test_multihead.py
  src/metatrain/gap_pet/trainer.py
Due: none

Add a timeout for tests to detect deadlock
  tox.ini
Due: none

Use function scope for fixtures so that there is no corruption
  tests/cli/test_train_model.py
Due: none

Fix FlashMD momenta and masses attachment
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

Revert metatomic
  pyproject.toml
Due: none

Revert everything
  pyproject.toml
Due: none

Cast type to avoid new mypy lint error (#1200)
  ci/cscs.yml
  pyproject.toml
  src/metatrain/utils/pydantic.py
  tests/cli/test_train_model.py
  tox.ini
Due: none

Update sphericart dependency
  pyproject.toml
Due: none

Update sphericart dependency (#1202)
  pyproject.toml
Due: none

Unpin metatensor-torch and metatomic-torch
  pyproject.toml
Due: none

Unpin metatensor-torch and metatomic-torch (#1203)
  pyproject.toml
Due: none

Undo mypy pin
  tox.ini
Due: none

Add memmap output format to mtt eval (#1193)
  docs/src/dev-docs/changelog.rst
  docs/src/dev-docs/utils/data/writers.rst
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/writers/__init__.py
  src/metatrain/utils/data/writers/memmap.py
  tests/cli/test_eval_model.py
  tests/utils/data/test_writers.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
