Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

add mtt show
  docs/src/dev-docs/cli/index.rst
  docs/src/dev-docs/cli/show.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/__main__.py
  src/metatrain/cli/show.py
  src/metatrain/share/metatrain-completion.bash
  src/metatrain/utils/io.py
  tests/cli/test_cli.py
  tests/cli/test_show_model.py
Due: none

fix lint & windows path
  src/metatrain/utils/io.py
  tests/cli/test_show_model.py
Due: none

Extended the MaxAtomSampler to Dataset and DiskDataset
  src/metatrain/pet/documentation.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: PET

Updated the checkpoint
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v14.ckpt.gz
Due: PET

Add the MaxAtomSampler in other architectures
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v6.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v6.ckpt.gz
  src/metatrain/llpr/tests/options-llpr-ensemble-training.yaml
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v11.ckpt.gz
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/data/__init__.py
  src/metatrain/utils/data/dataloaders.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Fixed the tests
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/soap_bpnn/tests/test_regression.py
Due: SOAP-BPNN

Fix tests
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v14.ckpt.gz
  tests/cli/test_train_model.py
Due: PET

Add max_atoms_per_batch sampler and memory-scalable DiskDataset reading for very large datasets
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  src/metatrain/utils/data/writers/diskdataset.py
  tests/utils/data/test_writers.py
Due: none

First implementation of atom pairs
  src/metatrain/composition/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/scaler/scaler.py
  tests/conftest.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

Return to use zipfile
  src/metatrain/utils/data/dataset.py
Due: none

Encapsulate scalable zip reading in a SmartZip class
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/smart_zip.py
  tests/utils/data/test_smart_zip.py
  tests/utils/data/test_writers.py
Due: none

Fix lint and Python 3.10 compatibility
  src/metatrain/utils/data/smart_zip.py
  tests/utils/data/test_smart_zip.py
Due: none

Extract DiskDataset scan, validation, and atom-count loading into helpers
  src/metatrain/utils/data/dataset.py
Due: none

Group DiskDataset helpers next to the class definition
  src/metatrain/utils/data/dataset.py
Due: none

Friendlier warning for files that are not part of the DiskDataset format
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_writers.py
Due: none

Say "file" instead of "member" in DiskDataset error messages
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_writers.py
Due: none

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Use MemmapWriter in test
  tests/utils/data/test_dataset.py
Due: none

Support max_atoms_per_batch for DiskDataset and make DiskDataset scale to large zips (#1205)
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  src/metatrain/utils/data/smart_zip.py
  src/metatrain/utils/data/writers/diskdataset.py
  tests/utils/data/test_smart_zip.py
  tests/utils/data/test_writers.py
Due: none

Recover per-tensor system ids for augmentation instead of a shared batch mapping
  src/metatrain/utils/augmentation.py
  tests/utils/test_augmentation.py
Due: none

Cover per-system pairing, inversion parity, rank-3 Cartesian and the random entry point
  tests/utils/test_augmentation.py
Due: none

Drop the stale Cartesian rank limit and simplify the augmentation adapter
  src/metatrain/utils/augmentation.py
Due: none

Delegate O(3) augmentation to metatomic
  pyproject.toml
  src/metatrain/utils/augmentation.py
  tests/utils/test_augmentation.py
Due: none

Regenerate PET regression values for the torch-based augmentation RNG stream
  src/metatrain/pet/tests/test_regression.py
Due: PET

Seed the model init in the conditioning test to make it order-independent
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

Mention the augmentation delegation in the changelog
  docs/src/dev-docs/changelog.rst
Due: none

Delegate the PhACE inversion augmentation to the shared RotationalAugmenter
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/phace/utils.py
Due: none

Fix FlashMD momenta and masses attachment (#1201)
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

Unify augmentation into a single O3Augmenter with a transformation group option
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/experimental/phace/utils.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: PET, LLPR, FlashMD

Clean composition model tests
  src/metatrain/composition/tests/test_basic.py
Due: none

Widen the PhACE train regression tolerance to cover cross-platform drift
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Add spherical dependency to composition tests
  tox.ini
Due: none

Take the test-helper Wigner matrices from metatomic and drop the spherical dependency
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/testing/equivariance.py
  tox.ini
Due: none

Rotate test systems and references with metatomic.torch.o3 and drop the equivariance helpers
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/testing/equivariance.py
  src/metatrain/utils/testing/output.py
Due: none

Consolidate repeated config and data-loading blocks in the augmentation tests
  tests/utils/test_augmentation.py
Due: none

Cover the inversions group, extra data and group validation, and tighten the random test
  src/metatrain/utils/testing/output.py
  tests/utils/test_augmentation.py
Due: none

Delegate O(3) data augmentation to metatomic-torch (#1206)
  docs/src/dev-docs/changelog.rst
  pyproject.toml
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/experimental/phace/utils.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/testing/equivariance.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
  tox.ini
Due: PET, LLPR, FlashMD

Remove spherical dependency
  tox.ini
Due: none

Add experimental edge composition model
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/__init__.py
  src/metatrain/experimental/edge_composition/checkpoints.py
  src/metatrain/experimental/edge_composition/documentation.py
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/__init__.py
  src/metatrain/experimental/edge_composition/radials/exponential.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/tests/test_basic.py
  src/metatrain/experimental/edge_composition/tests/test_samples.py
  src/metatrain/experimental/edge_composition/trainer.py
  src/metatrain/experimental/edge_composition/utils/samples.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  tox.ini
Due: none

Some more flexibility
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/operations.py
Due: none
