Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Fix inherit_heads being reapplied when restarting an interrupted finetuning run
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
Due: PET, FlashMD

Guard against DDP unused-parameters crash when continuing training with fewer targets
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
Due: PET, FlashMD

Fixed the test_abc
  tests/utils/test_abc.py
Due: none

Fixed the tests
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v14.ckpt.gz
  src/metatrain/pet/trainer.py
Due: PET

DiskDataset: avoid confusing error on garbage collection
  src/metatrain/utils/data/dataset.py
Due: none

sanitize per-atom property names for ASE writer
  src/metatrain/utils/data/writers/ase.py
Due: none

implement max atoms sampler for dd and fix some bugs
  src/metatrain/pet/trainer.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/scaler.py
  src/metatrain/utils/system_data.py
Due: PET

local modification
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  tests/cli/test_train_model.py
  tests/utils/test_pydantic.py
Due: none

Add write_training_set, write_validation_set, write_test_set optional flags
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
  tests/utils/test_pydantic.py
Due: none

DiskDataset: avoid confusing error on garbage collection (#1186)
  src/metatrain/utils/data/dataset.py
Due: none

Fix bug for metrics that are 0
  src/metatrain/utils/logging.py
  tests/utils/test_logging.py
Due: none

Avoid reindexing atomic-basis targets to batch-local system ids
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

Add targeted regression tests for atomic-basis system id handling
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

Add evaluate_best_model option to skip final RMSE/MAE evaluation in mtt train
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
Due: none

rename to final_eval
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
Due: none

Add dataset formats doc and update references
  docs/src/concepts/dataset-formats.rst
  docs/src/concepts/index.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/pet/documentation.py
  src/metatrain/utils/data/dataset.py
Due: PET

DiskDataset now makes use of the key of targets
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
Due: none

Update changelog.rst
  docs/src/dev-docs/changelog.rst
Due: none

Fix test
  src/metatrain/utils/data/dataset.py
  tests/cli/test_train_model.py
Due: none

move changelog from "added" to "changed"
  docs/src/dev-docs/changelog.rst
Due: none

address review comments
  docs/src/concepts/dataset-formats.rst
Due: none

fix formatting
  docs/src/concepts/dataset-formats.rst
Due: none

update finetuning docs
  docs/src/concepts/fine-tuning.rst
  docs/static/images/fine-tuning.svg
  docs/static/images/fine-tuning_dark.svg
Due: none

Fix bug for metrics that are 0 (#1190)
  src/metatrain/utils/logging.py
  tests/utils/test_logging.py
Due: none

Add the possibility to avoid printing stats
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
Due: none

changelog
  docs/src/dev-docs/changelog.rst
Due: none

Avoid reindexing atomic-basis targets to batch-local system ids (#1191)
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/atomic_basis_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

DiskDataset now makes use of the key of targets (#1195)
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
  tests/cli/test_train_model.py
Due: none

add support of non strict nl in pet
  docs/src/dev-docs/changelog.rst
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_non_strict_nl.py
Due: PET

update neighbor list handling in example 10
  examples/1-advanced/10-pet-hidden-features.py
Due: none

replace deprecated per_atom with sample_kind in the example 10
  examples/1-advanced/10-pet-hidden-features.py
Due: none

Add memmap output format to mtt eval
  docs/src/dev-docs/changelog.rst
  docs/src/dev-docs/utils/data/writers.rst
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/writers/__init__.py
  src/metatrain/utils/data/writers/memmap.py
  tests/cli/test_eval_model.py
  tests/utils/data/test_writers.py
Due: none

Update ckpt updating function
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
Due: none

Added changelog entry
  docs/src/dev-docs/changelog.rst
Due: none

Add version comment
  src/metatrain/experimental/mace/documentation.py
Due: none

Unpin mace
  pyproject.toml
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
Due: none

added doc label references
  docs/src/concepts/dataset-formats.rst
  docs/src/faq.rst
  examples/0-beginner/01-data_preparation.py
Due: none

clarify dosctring
  src/metatrain/pet/modules/structures.py
Due: PET

Add dataset formats reference (#1194)
  docs/src/concepts/dataset-formats.rst
  docs/src/concepts/index.rst
  docs/src/faq.rst
  docs/src/getting-started/train_yaml_config.rst
  examples/0-beginner/01-data_preparation.py
  src/metatrain/pet/documentation.py
  src/metatrain/utils/data/dataset.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
