Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Add to codecov
  .codecov.yml
Due: none

Prune unused targets while fine-tuning (#1184)
  docs/src/concepts/fine-tuning.rst
  src/metatrain/composition/_base_composition.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_abc.py
Due: PET, FlashMD

Make it really work
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
Due: none

Truncate PhACE odd-l channels to match the CG padding
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/tests/test_functionality.py
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Add finetuning support to PhACE
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/finetuning.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/phace/tests/test_finetuning.py
  src/metatrain/experimental/phace/trainer.py
Due: none

List PhACE among the fine-tuning-capable architectures
  docs/src/concepts/fine-tuning.rst
Due: none

Support distributed training in the standalone composition model
  src/metatrain/composition/__init__.py
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/composition/trainer.py
Due: none

Increase timeout for space tests on CSCS
  ci/cscs.yml
Due: none

Fit standalone composition model on the requested device
  src/metatrain/composition/__init__.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
Due: none

Make the distributed composition fit exact and fully parallel
  src/metatrain/composition/tests/test_distributed.py
  src/metatrain/composition/trainer.py
Due: none

Parallelize data loading in the composition trainer
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/composition/trainer.py
Due: none

Proof of concept for hooks
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Add post-hooks to PET
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/utils/hooks/__init__.py
Due: PET

Add tensor basis hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/tensor_basis.py
Due: none

Fix gap hook
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Make multipole hook work on GPU
  src/metatrain/utils/hooks/global_multipole.py
Due: none

fix output block with cuda values but cpu labels (#14)
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Add gap hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Fail early on multi-task SLURM launches without distributed training
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/train.py
  src/metatrain/utils/distributed/slurm.py
  tests/utils/test_slurm.py
Due: none

Fix memmap gradient property label for renamed energy targets
  src/metatrain/utils/data/dataset.py
Due: none

Add CSCS CI test for the multi-task misconfiguration guard
  ci/cscs.yml
  tests/distributed/options-not-distributed.yaml
Due: none

fix bug
  src/metatrain/utils/data/dataset.py
Due: none

Add changelog entries for distributed composition training
  docs/src/dev-docs/changelog.rst
Due: none

Default the distributed option to "auto", deprecate explicit booleans
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/distributed/slurm.py
  tests/distributed/options-distributed.yaml
  tests/utils/test_slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Fix memmap gradient property label for renamed energy targets (#1216)
  src/metatrain/utils/data/dataset.py
Due: none

Address review: move distributed checks into hypers sanitization
  ci/cscs.yml
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/architectures.py
  src/metatrain/utils/distributed/slurm.py
  tests/distributed/options-distributed-finetuning.yaml
  tests/distributed/options-distributed-multitarget.yaml
  tests/distributed/options-distributed.yaml
  tests/distributed/options-not-distributed.yaml
  tests/distributed/readme.txt
  tests/distributed/submit-distributed.sh
  tests/utils/test_slurm.py
Due: none

Make the distributed option optional instead of adding an "auto" value
  ci/cscs.yml
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/architectures.py
  src/metatrain/utils/distributed/slurm.py
  tests/utils/test_slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Add tests for the LLPR energy ensemble explicit gradients
  src/metatrain/llpr/tests/test_energy_ensemble_gradients.py
Due: LLPR

Add explicit positions and strain gradients for the LLPR energy ensemble
  docs/src/dev-docs/changelog.rst
  src/metatrain/llpr/model.py
Due: LLPR

Default the distributed option to "auto", deprecate explicit booleans
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/distributed/slurm.py
  tests/distributed/options-distributed.yaml
  tests/utils/test_slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Make the distributed option optional instead of adding an "auto" value
  ci/cscs.yml
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/architectures.py
  src/metatrain/utils/distributed/slurm.py
  tests/utils/test_slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Keep the distributed key in default hypers to preserve checkpoints
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/documentation.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Move sanitizing inside pydantic
  src/metatrain/utils/architectures.py
  src/metatrain/utils/pydantic.py
Due: none

Don't use deprecated pydantic method
  src/metatrain/utils/pydantic.py
Due: none

Fix multi-GPU example after removal of options-distributed.yaml
  examples/1-advanced/05-multi-gpu.py
  examples/1-advanced/options-distributed-soap.yaml
  examples/1-advanced/options-distributed.yaml
Due: none
