Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Densify computation of composition and scaler weights for atomic basis targets (#1115)
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_additive.py
Due: SOAP-BPNN, PET

Turn off computation of training metrics for epochs that aren't logged
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Add charge normalization loss
  src/metatrain/utils/loss.py
Due: none

fix dtype mismatch
  src/metatrain/utils/loss.py
Due: none

Add L1 penalty to RI norm
  src/metatrain/utils/loss.py
Due: none

Skip allreduce for fixed-weight targets in the composition model
  src/metatrain/utils/additive/composition.py
Due: none

fix cm
  src/metatrain/utils/additive/composition.py
Due: none

Skip allreduce for fixed-weight targets in the composition model (#1120)
  src/metatrain/utils/additive/composition.py
Due: none

Turn off computation of training metrics for epochs that aren't logged (#1119)
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Add experimental e-pet architecture
  src/metatrain/experimental/e_pet/__init__.py
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/__init__.py
  src/metatrain/experimental/e_pet/tests/options-e-pet.yaml
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Extend tensor basis support for e-pet
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN

Preserve PET diagnostic hooks and shared heads
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/concepts/output-naming.rst
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Add invariant block-aware TensorMap losses
  docs/src/concepts/loss-functions.rst
  src/metatrain/utils/loss.py
  src/metatrain/utils/tests/test_loss.py
Due: none

Document e-pet mainline alignment
  docs/src/dev-docs/e-pet-alignment.rst
  docs/src/dev-docs/index.rst
Due: none

Stabilize PET and E-PET smoke training
  docs/src/concepts/loss-functions.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/logging.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/tests/test_loss.py
  src/metatrain/utils/training_diagnostics.py
  tests/utils/test_logging.py
  tests/utils/test_metrics.py
Due: PET

Clean e-pet tensor-basis and trainer surfaces
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/options-e-pet.yaml
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN, PET

Default e-pet training to split learning rates
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
Due: none

Fix error in atomic basis targets return dict
  src/metatrain/pet/model.py
Due: PET

Fix return dict for PET atomic basis targets (#1123)
  src/metatrain/pet/model.py
Due: PET

Add helpers to fetch adaptive cutoff statistics from PET models
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Decouple PET cutoff from nl cutoff
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Smooth transition when the cutoff is reduced
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

pet: rename spin to spin_multiplicity to match metatomic standard quantity
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/utils/system_data.py
  tests/utils/data/test_dataset.py
Due: PET

pet: address PR #1080 review nits (sofiia-chorna)
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/dataset.py
Due: PET

pet: address PR #1080 review nits (round 2)
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/pet/trainer.py
Due: PET

Add SSH embeddings and Z-conditioned readout
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/_atomic_basis.py
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/modules/transformer.py
Due: PET

Make torchscriptable
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/modules/transformer.py
Due: PET

Hack ESP loss
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/loss.py
Due: none

Clean up E-PET option surface and helpers
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

test PR #210 + metatensor main, point at fork, suppress deprecations
  pyproject.toml
Due: none

First run at atomic_predictions
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
Due: none

Add E-PET l0 readout diagnostics controls
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

replace removed labels.view with column
  src/metatrain/experimental/mace/utils/structures.py
  src/metatrain/utils/long_range.py
Due: none

Add gap_pet: size-intensive HOMO-LUMO gap architecture
  src/metatrain/gap_pet/__init__.py
  src/metatrain/gap_pet/documentation.py
  src/metatrain/gap_pet/model.py
  src/metatrain/gap_pet/tests/__init__.py
  src/metatrain/gap_pet/tests/test_gap_specific.py
  src/metatrain/gap_pet/trainer.py
  tests/resources/options-gap-pet.yaml
Due: none

Use targetinfo quantity as modeloutput quantity was deprecated
  src/metatrain/utils/evaluate_model.py
Due: none

Experiments on LR, clipping, whitening
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Refactor GapPET heads to mirror PET's standard energy readout
  src/metatrain/gap_pet/documentation.py
  src/metatrain/gap_pet/model.py
  src/metatrain/gap_pet/tests/test_gap_specific.py
  tests/resources/options-gap-pet.yaml
Due: none

replace removed labels.view with column (#1127)
  src/metatrain/experimental/mace/utils/structures.py
  src/metatrain/utils/long_range.py
Due: none

Add test
  tests/utils/test_slurm.py
Due: none
