Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Fix gap hook
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Forgot to remove post_hooks from PET hypers
  src/metatrain/pet/documentation.py
Due: PET

Fix tensor basis hook
  src/metatrain/utils/hooks/tensor_basis/hook.py
Due: none

Proof of concept for hooks
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Add tensor basis hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/tensor_basis.py
Due: none

Enable PET finetuning with hooks.
  src/metatrain/cli/train.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/helpers.py
  tests/utils/test_hooks.py
Due: PET

fix output block with cuda values but cpu labels (#14)
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Add a note about periodic systems
  src/metatrain/utils/hooks/global_multipoles/documentation.py
Due: none

Make the dipole ansatz origin independent by subtracting the center of nuclear charge
  src/metatrain/utils/hooks/global_multipoles/documentation.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
Due: none

Add gap hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Add post-hooks to PET
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/utils/hooks/__init__.py
Due: PET

Make the origin a hyper of the GlobalMultipole hook, keeping the origin dependent version accessible
  src/metatrain/cli/train.py
  src/metatrain/utils/hooks/global_multipoles/documentation.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
  src/metatrain/utils/hooks/global_multipoles/tests/test_translation_invariance.py
Due: none

Fix restarting
  src/metatrain/experimental/mace/model.py
  src/metatrain/pet/model.py
Due: PET

Register hook outputs correctly
  src/metatrain/experimental/mace/model.py
  src/metatrain/pet/model.py
Due: PET

Add a loss with an equivariance error penalty
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/test_equivariance_penalty.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/equivariance_penalty.py
  src/metatrain/utils/loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_equivariance_penalty.py
  tests/utils/test_loss.py
Due: PET

Add spherical harmonics geometry embeddings to PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v18_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_geometry_embedding.py
Due: PET

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Add equivariance error to mtt eval
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/per_atom.py
  tests/utils/test_metrics.py
Due: none

Shallow ensembles in PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v19_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_shallow_ensemble.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/ensemble.py
  src/metatrain/utils/loss.py
Due: PET

Extend `mtt eval` to optionally log per-block metrics
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

Enable contractions
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/loss.py
Due: none

Raw-tensor system transport across dataloader workers
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataloaders.py
Due: PET

Defer per-batch host syncs in metric and loss accumulation
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/metrics.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Implement metric-loss for density learning, and make available in SPACE and PET
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_pyscf_loss.py
Due: PET

Refactor metrics reporting to allow L2 real-space density error to be reported in train/eval
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/reported_metrics.py
  tests/utils/test_abc.py
  tests/utils/test_pyscf_loss.py
  tests/utils/test_reported_metrics.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Record the removed scale in the scale-removal transform
  src/metatrain/utils/scaler/remove.py
Due: none

Port the system-frame augmenter to the batched O3Transformations API
  src/metatrain/utils/augmentation.py
  tests/utils/test_pyscf_loss.py
Due: none

Cache metric matrices across epochs
  tests/utils/test_pyscf_loss_cache.py
Due: none

Take the via_w coefficient layout from the projections
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Add a byte-budgeted LRU cache for collate-transform reuse
  src/metatrain/utils/data/byte_budget_cache.py
  tests/utils/data/test_byte_budget_cache.py
Due: none

Keep the batch order of system ids when padding for evaluation
  src/metatrain/cli/eval.py
  tests/cli/test_eval_atomic_basis_ids.py
Due: none

fix: undo the removed scale in the density losses
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Some changes related to reviewer's comment
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
Due: none

Upload updated ckpt
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
Due: none

Some other changes
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Fix MACE checkpoint updates
  src/metatrain/experimental/mace/checkpoints.py
Due: none

docs: fix typos in PET documentation
  src/metatrain/pet/documentation.py
Due: PET

have memmapdataset support shape-(1,) array for ns.npy
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
