Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Add a torch backend for the density-loss metric matrices
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/torch_metric.py
  tests/utils/test_torch_metric.py
Due: none

feat: Add unit equivalence function and its unit test
  src/metatrain/utils/units.py
  tests/utils/test_units.py
Due: none

feat: Add length unit equivalence check and add tests to verify equivalence, rejection of incompatible lenght units and different types of units
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

feat: Check unit equivalence in TargetInfo and additionally add a finetuning test to verify the reported behaviour
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/utils/data/target_info.py
  tests/utils/data/test_target_info.py
Due: PET

chore: Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Making metatrain wrapper work for PET
  src/metatrain/cli/train.py
  src/metatrain/composition/__init__.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/pet/tests/test_composition_checkpoint.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/pet/tests/test_pet_mad.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/match_tmaps.py
  src/metatrain/utils/io.py
  src/metatrain/utils/testing/checkpoints.py
  src/metatrain/utils/testing/training.py
  src/metatrain/utils/wrapper.py
Due: PET, LLPR

feat: Fix DatasetInfo equality for equivalent length units
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

lorem: finite second derivatives of the Bernstein basis at the cutoff
  src/metatrain/experimental/lorem/modules/radial.py
  src/metatrain/experimental/lorem/tests/test_basis.py
Due: none

Make ZBL a ModelInterface
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/io.py
Due: none

lorem: no host-device synchronization per training step
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/trainer.py
Due: none

lorem: gather with index_select on the differentiable paths
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/tests/test_modules.py
Due: none

lorem: huge k-grids and partial PBC through torch-pme one by one
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/tests/test_modules.py
Due: none

lorem: batched Ewald / direct long-range potentials
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/tests/test_modules.py
Due: none

Keep the PET LR schedule in place on restarts that change steps per epoch
  src/metatrain/pet/trainer.py
Due: PET

Speed up the torch metric assembly ~3.5x
  src/metatrain/utils/torch_metric.py
Due: none

Fix restart
  src/metatrain/pet/trainer.py
  src/metatrain/utils/wrapper.py
Due: PET

Make composition tests pass
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v3.ckpt.gz
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/trainer.py
Due: PET

Fix scaler tests
  src/metatrain/composition/tests/test_distributed.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/checkpoints.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/io.py
Due: PET

Allow restarts
  src/metatrain/experimental/graph2mat/model.py
Due: none

Ported soap-bpnn
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/io.py
Due: SOAP-BPNN, PET

soap_bpnn leftover
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN

Ported MACE
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/io.py
Due: SOAP-BPNN

Ported GAP (what everyone was waiting for)
  src/metatrain/gap/tests/test_errors.py
  src/metatrain/gap/tests/test_exported.py
  src/metatrain/gap/tests/test_regression.py
  src/metatrain/gap/tests/test_torchscript.py
  src/metatrain/gap/trainer.py
Due: GAP

More gap
  src/metatrain/gap/tests/test_regression.py
Due: GAP

Port DPA3
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/utils/io.py
Due: none

Almost space
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/tests/test_basic.py
  src/metatrain/experimental/space/tests/test_finetuning.py
  src/metatrain/experimental/space/tests/test_regression.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/utils/io.py
Due: none

Support non_conservative_stress/<variant> targets in PET and MemmapDataset
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: PET

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Strip variant suffixes from the remaining property label builders.
  src/metatrain/experimental/mace/tests/test_layout.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/system_data.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_target_info.py
  tests/utils/test_system_data.py
Due: none

Keep fine-tunes working after the non_conservative_force rename.
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/legacy_names.py
  src/metatrain/utils/io.py
  src/metatrain/utils/omegaconf.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_legacy_force_name.py
  tests/utils/test_omegaconf.py
Due: PET, LLPR

Document the new layout helpers so pydoclint passes.
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/legacy_names.py
Due: none

Apply nn.Module to get rid of calling `.to` for mts objects manually
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/gap/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
Due: GAP, SOAP-BPNN, PET, FlashMD

Bump dpa3 model version
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
Due: none

And also PET and LLPR
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
Due: PET, LLPR

And also scaler models
  src/metatrain/scaler/checkpoints.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
