Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Tentative fix
  src/metatrain/pet/trainer.py
Due: PET

Move the distributed training intialization to a helper
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/distributed/slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Fix NCCL distributed initialization for CUDA trainers (#1125)
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/distributed/slurm.py
  tests/utils/test_slurm.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

checks for composition model of rank 2 targets
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
Due: none

try to fix docs
  src/metatrain/utils/testing/output.py
Due: none

errors from models that don't support rank 2 spherical
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN

lint
  src/metatrain/soap_bpnn/tests/test_basic.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN

fix composition model test
  tests/utils/test_additive.py
Due: none

Add rank 2 spherical targets
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_target_info.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN

Fix missing space
  src/metatrain/utils/additive/composition.py
Due: none

Added scaler tests for per-atom rank-2 and atomic basis rank-2 targets, correctly calculating the scaling weights + chechking their rotational invariance (#9)
  tests/utils/test_scaler.py
Due: none

rotational augmentation for atomic basis not supported
  tests/utils/test_augmentation.py
Due: none

Improved derivative
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Smooth transition when the cutoff is reduced
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

Cleaner Newton based solver
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Decouple PET cutoff from nl cutoff
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Add exact adaptive cutoff solver
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Add helpers to fetch adaptive cutoff statistics from PET models
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Lint
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Added the adaptive bump cutoff
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
Due: PET

linting
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Tried to ensure stable result
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

ROBUST log cutoff
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/transformer.py
Due: PET

Target numerical instabilities in the bump
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Fix diagnostic buffers in distributed mode
  src/metatrain/pet/model.py
Due: PET

Added a solver approach to adaptive cutoff determination
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Forgot to add the checkpoint test
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET

Update LLPR and classifier checkpoints
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

Add a test for the adaptive cutoff derivatives
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Minor prettyfing changes
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

Made torch-script happy
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Linting fix
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Added a solver approach to adaptive cutoff determination (#1130)
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET, LLPR

Tweaked docstring
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Added code to extract stats about the adaptive cutoff and the number of neighbors in general
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Expose cutoff stats as mtt::aux outputs
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

fix torchscriptability
  src/metatrain/gap_pet/model.py
Due: none

Changes following informal review
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Apply suggestions from code review
  src/metatrain/pet/model.py
Due: PET

fix torchscriptability pt2
  src/metatrain/gap_pet/model.py
Due: none
