Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Update checkpoints
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET, LLPR

Fixed FlashMD tests
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Linting fix
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Merged v13 changes into v12
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Fixed the checkpoint version
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET

Add cutoff_width_adaptive option to set different smearing for the n(r) approximant
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Merged v13 changes into v12
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Fixed LLPR and classifier tests
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

Fixed FlashMD tests
  src/metatrain/experimental/flashmd/model.py
Due: FlashMD

Added edge tokens cutoff filter
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/utilities.py
Due: PET

replace unit placeholder with empty unit
  tests/utils/data/test_readers_metatensor.py
Due: none

replace copy with block re-creation
  src/metatrain/pet/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/evaluate_model.py
Due: PET

update metatensor and metatomic to the recent rc
  pyproject.toml
Due: none

copy tensorblock before reinserting into a new tensormap
  src/metatrain/pet/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/per_atom.py
  tests/utils/test_metrics.py
Due: PET

metatomic release candidate
  pyproject.toml
Due: none

Specify release candidate
  pyproject.toml
Due: none

fix test linting
  src/metatrain/pet/model.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_additive.py
Due: PET

Release candidates everywhere
  pyproject.toml
Due: none

Fix non-conservative stress scaler fitting
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN, PET, FlashMD

Lint
  tests/utils/test_scaler.py
Due: none

Make branch compatible with metatomic 0.1.12rc / metatensor-torch 0.9
  pyproject.toml
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/testing/output.py
Due: PET

Fix completely unrelated stuff that now fail linting...
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/09-symplectic-flashmd.py
  src/metatrain/utils/hypers.py
Due: none

metatomic 0.1.12 / metatensor 0.9 compat — basic tests round
  pyproject.toml
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/per_atom.py
  tests/utils/data/test_readers.py
  tests/utils/data/test_readers_metatensor.py
  tests/utils/test_metrics.py
Due: none

Update train.py
  src/metatrain/cli/train.py
Due: none

stupid new mypy complaints
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/09-symplectic-flashmd.py
  src/metatrain/utils/hypers.py
Due: none

More comprehensive tests for the nc stress scaler
  src/metatrain/pet/tests/test_regression.py
  tests/utils/test_scaler.py
Due: PET

Update pyproject.toml
  pyproject.toml
Due: none

Fix final model checkpoint copy for absolute output paths (#1134)
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/09-symplectic-flashmd.py
  src/metatrain/cli/train.py
  src/metatrain/utils/hypers.py
Due: none

add metatensor-core release candidate
  pyproject.toml
Due: none

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Lint
  docs/src/dev-docs/changelog.rst
Due: none

try to pin torch >=2.6, uv otherwise picks an early version that breaks on python 3.13 and job fails
  pyproject.toml
Due: none

Simplified the adaptive_cutoff_width logic
  src/metatrain/pet/modules/structures.py
Due: PET

Fixed tests
  src/metatrain/pet/documentation.py
  src/metatrain/pet/modules/structures.py
Due: PET

Support scaler
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
Due: PET

Make the test an actual regression step (still 0 epochs)
  src/metatrain/pet/tests/test_regression.py
Due: PET

lint
  src/metatrain/pet/tests/test_regression.py
Due: PET

Add comment to print regression target
  src/metatrain/pet/tests/test_regression.py
Due: PET

change test name
  src/metatrain/pet/tests/test_regression.py
Due: PET
