Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Add exponential messages
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/utils/log_transform.py
Due: none

Remove print
  src/metatrain/experimental/graph2mat/model.py
Due: none

Restore eval file
  src/metatrain/cli/eval.py
Due: none

Added matrix loss functions
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/matrix.py
Due: none

Small bug
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Remove debugging line
  src/metatrain/experimental/graph2mat/model.py
Due: none

Add support for edge composition model
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/additive/remove.py
Due: none

Trying to make eval work
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/utils/model.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/experimental/graph2mat/model.py
Due: none

Optimizations and profiling
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
Due: none

Little fix for new edge composition convention
  src/metatrain/utils/additive/remove.py
Due: none

Adapt to new main
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/space/model.py
Due: none

fixes from cscs
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/additive/remove.py
Due: none

docs: fix typos in PET documentation
  src/metatrain/pet/documentation.py
Due: PET

utils/io: suggest upgrade when trainer checkpoint version is too new
  src/metatrain/utils/io.py
Due: none

tests: update trainer checkpoint version test to expect upgrade suggestion
  tests/utils/test_io.py
Due: none

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Add equivariance error to mtt eval
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/per_atom.py
  tests/utils/test_metrics.py
Due: none

Lots of fixes to make things work
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/scaler/remove.py
Due: none

Compare nested restart hypers by specified keys only
  src/metatrain/utils/hypers.py
  tests/utils/test_hypers.py
Due: none

Add spherical harmonics geometry embeddings to PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v18_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_geometry_embedding.py
Due: PET

Shallow ensembles in PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v19_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_shallow_ensemble.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/ensemble.py
  src/metatrain/utils/loss.py
Due: PET

Defer per-batch host syncs in metric and loss accumulation
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/metrics.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Raw-tensor system transport across dataloader workers
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataloaders.py
Due: PET

Add a byte-budgeted LRU cache for collate-transform reuse
  src/metatrain/utils/data/byte_budget_cache.py
  tests/utils/data/test_byte_budget_cache.py
Due: none

Implement metric-loss for density learning, and make available in SPACE and PET
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_pyscf_loss.py
Due: PET

Cache metric matrices across epochs
  tests/utils/test_pyscf_loss_cache.py
Due: none

fix: undo the removed scale in the density losses
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Port the system-frame augmenter to the batched O3Transformations API
  src/metatrain/utils/augmentation.py
Due: none

Take the via_w coefficient layout from the projections
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Record the removed scale in the scale-removal transform
  src/metatrain/utils/scaler/remove.py
Due: none

Refactor metrics reporting to allow L2 real-space density error to be reported in train/eval
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/reported_metrics.py
  tests/utils/test_abc.py
  tests/utils/test_pyscf_loss.py
  tests/utils/test_reported_metrics.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Keep the batch order of system ids when padding for evaluation
  src/metatrain/cli/eval.py
  tests/cli/test_eval_atomic_basis_ids.py
Due: none

fix hook eval
  src/metatrain/cli/eval.py
Due: none

Add experimental edge composition model
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/__init__.py
  src/metatrain/experimental/edge_composition/checkpoints.py
  src/metatrain/experimental/edge_composition/documentation.py
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/__init__.py
  src/metatrain/experimental/edge_composition/radials/exponential.py
  src/metatrain/experimental/edge_composition/radials/splines.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/tests/test_basic.py
  src/metatrain/experimental/edge_composition/tests/test_samples.py
  src/metatrain/experimental/edge_composition/trainer.py
  src/metatrain/experimental/edge_composition/utils/samples.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/utils/additive/remove.py
  tox.ini
Due: none

Update atom pair utilities and Scaler (#13)
  src/metatrain/scaler/_base_scaler.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

Add graph2mat architecture
  src/metatrain/cli/eval.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/log_transform.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/experimental/space/model.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/matrix.py
  src/metatrain/utils/scaler/remove.py
Due: none

feat: Support extxyz as a prediction writer
  src/metatrain/utils/data/writers/__init__.py
Due: none

chore: Add tests for writing extxyz as well as for evals
  tests/cli/test_eval_model.py
  tests/utils/data/test_writers.py
Due: none

chore: Add a test for reading extxyz files
  tests/utils/data/test_readers.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
