Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Fix misleading device log when the composition model is fit inside another architecture (#1281)
  src/metatrain/composition/trainer.py
  src/metatrain/scaler/trainer.py
Due: none

Fix ensemble loss cartesian targets (#1282)
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/loss.py
  tests/utils/test_loss.py
Due: none

Support targets with several blocks in the ensemble losses
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/loss.py
  tests/utils/test_loss.py
Due: none

Fix SPACE last-layer features depending on the other targets
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/tests/test_functionality.py
Due: none

Skip inherit_heads when reloading a fine-tuned SPACE checkpoint
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/model.py
Due: none

Create heads for new targets in SPACE's restart
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_finetuning.py
Due: none

Fix SPACE per-block validation metrics
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/trainer.py
Due: none

Inherit scaler scales along with head weights in inherit_heads
  docs/src/concepts/fine-tuning.rst
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/tests/test_finetuning.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/scaler/model.py
Due: PET

Implement the LLPR interface in MACE
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_llpr.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/llpr/documentation.py
Due: LLPR

Implement the LLPR interface in SPACE
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_llpr.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
Due: LLPR

Generalize LLPR to targets with several blocks and block-aligned last-layer features
  docs/src/dev-docs/changelog.rst
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/llpr/tests/test_energy_ensemble_gradients.py
  src/metatrain/llpr/tests/test_equivariant_targets.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/last_layer.py
  src/metatrain/utils/testing/__init__.py
  src/metatrain/utils/testing/llpr.py
  tox.ini
Due: SOAP-BPNN, PET, LLPR

Fix copying outputs to the checkpoint dir when -o contains directories
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/train.py
  tests/cli/test_train_model.py
Due: none

Capture warnings in logging before the tests run
  tests/conftest.py
Due: none

Refactor LOREM architecture and update documentation
  .github/workflows/docs.yml
  README.md
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/lorem/README.md
  src/metatrain/experimental/lorem/documentation.py
  src/metatrain/experimental/lorem/flax_io.py
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/modules/__init__.py
  src/metatrain/experimental/lorem/modules/backbone.py
  src/metatrain/experimental/lorem/modules/bec.py
  src/metatrain/experimental/lorem/modules/e3x_compat.py
  src/metatrain/experimental/lorem/modules/harmonics.py
  src/metatrain/experimental/lorem/modules/jax_parity.py
  src/metatrain/experimental/lorem/modules/jax_parity_checkpoint.py
  src/metatrain/experimental/lorem/modules/long_range.py
  src/metatrain/experimental/lorem/modules/pet_trunk.py
  src/metatrain/experimental/lorem/modules/pme_batch.py
  src/metatrain/experimental/lorem/modules/radial.py
  src/metatrain/experimental/lorem/modules/tensor_dense.py
  src/metatrain/experimental/lorem/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/tests/test_basic.py
  src/metatrain/experimental/lorem/tests/test_bec.py
  src/metatrain/experimental/lorem/tests/test_followups.py
  src/metatrain/experimental/lorem/tests/test_jax_parity.py
  src/metatrain/experimental/lorem/tests/test_long_range.py
  src/metatrain/experimental/lorem/tests/test_paper_contracts.py
  src/metatrain/experimental/lorem/tests/test_regression.py
  src/metatrain/experimental/lorem/tests/test_train_step.py
  src/metatrain/experimental/lorem/trainer.py
Due: none

Update BornEffectiveChargeHead and tests for improved functionality
  src/metatrain/experimental/lorem/modules/bec.py
  src/metatrain/experimental/lorem/tests/test_long_range.py
  src/metatrain/experimental/lorem/tests/test_regression.py
Due: none

lorem: follow the PET trainer, tidy module docstrings
  src/metatrain/experimental/lorem/documentation.py
  src/metatrain/experimental/lorem/modules/e3x_compat.py
  src/metatrain/experimental/lorem/modules/jax_parity.py
  src/metatrain/experimental/lorem/modules/spherical.py
  src/metatrain/experimental/lorem/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/tests/test_basis.py
  src/metatrain/experimental/lorem/tests/test_long_range.py
  src/metatrain/experimental/lorem/tests/test_regression.py
  src/metatrain/experimental/lorem/tests/test_train_step.py
  src/metatrain/experimental/lorem/trainer.py
Due: none

lorem: rename the jax-parity modules after what they do
  src/metatrain/experimental/lorem/README.md
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/modules/__init__.py
  src/metatrain/experimental/lorem/modules/flax_checkpoint.py
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/tests/test_modules.py
  src/metatrain/experimental/lorem/tests/test_paper_contracts.py
Due: none

lorem: load lorem-jax exports and match lorem-jax, BEC included
  src/metatrain/experimental/lorem/README.md
  src/metatrain/experimental/lorem/documentation.py
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/modules/bec.py
  src/metatrain/experimental/lorem/modules/e3x_compat.py
  src/metatrain/experimental/lorem/modules/flax_checkpoint.py
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/modules/tensor_dense.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/generate.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_bec.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_scalar_messages.npz
  src/metatrain/experimental/lorem/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/tests/test_bec.py
  src/metatrain/experimental/lorem/tests/test_e3x_parity.py
  src/metatrain/experimental/lorem/tests/test_flax_checkpoint.py
  src/metatrain/experimental/lorem/tests/test_modules.py
Due: none

Lock training runs in Python
  tests/conftest.py
  tests/resources/run_trainings.sh
  tox.ini
Due: none

Update to metatensor-learn v0.6.1
  pyproject.toml
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
Due: SOAP-BPNN

Update the outer layer of composition model to mts.learn.nn.Module
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/utils/abc.py
Due: none

And also soap
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: SOAP-BPNN

And also PET and LLPR
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
Due: PET, LLPR

And also scaler models
  src/metatrain/scaler/checkpoints.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
Due: none

Apply nn.Module to get rid of calling `.to` for mts objects manually
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/gap/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
Due: GAP, SOAP-BPNN, PET, FlashMD

And experimental models
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v6.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
Due: FlashMD

Formatting, linting, and minor fixing
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Update mts-learn version requirement
  pyproject.toml
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, PET

Update GAP trainer to pass docs
  src/metatrain/gap/trainer.py
Due: GAP

Bump dpa3 model version
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
Due: none

lorem: address review (message-pass order, sphericart, dense CG product)
  src/metatrain/experimental/lorem/documentation.py
  src/metatrain/experimental/lorem/modules/bec.py
  src/metatrain/experimental/lorem/modules/clebsch_gordan.py
  src/metatrain/experimental/lorem/modules/e3x_compat.py
  src/metatrain/experimental/lorem/modules/flax_checkpoint.py
  src/metatrain/experimental/lorem/modules/harmonics.py
  src/metatrain/experimental/lorem/modules/lorem.py
  src/metatrain/experimental/lorem/modules/spherical.py
  src/metatrain/experimental/lorem/modules/tensor_dense.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/generate.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_bec.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_l4.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_scalar_messages.npz
  src/metatrain/experimental/lorem/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/tests/test_e3x_parity.py
  src/metatrain/experimental/lorem/tests/test_flax_checkpoint.py
  src/metatrain/experimental/lorem/tests/test_long_range.py
  src/metatrain/experimental/lorem/tests/test_paper_contracts.py
  src/metatrain/experimental/lorem/tests/test_regression.py
  src/metatrain/experimental/lorem/tests/test_tensor_dense.py
Due: none

Ignore new pytorch warning
  pyproject.toml
Due: none

in fact all warnings were changed
  pyproject.toml
Due: none

and more
  pyproject.toml
Due: none

don't specify the warning class
  pyproject.toml
Due: none

lol sorry
  pyproject.toml
Due: none

Ignore new pytorch warning (#1287)
  pyproject.toml
Due: none

lorem: pin num_workers=0 in the training regression test
  src/metatrain/experimental/lorem/tests/test_regression.py
Due: none

lorem: read lorem-jax#42 exports (npz only, checkpoint spec model.yaml)
  src/metatrain/experimental/lorem/README.md
  src/metatrain/experimental/lorem/modules/flax_checkpoint.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/generate.py
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_bec.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_l4.npz
  src/metatrain/experimental/lorem/tests/assets/lorem_jax/lorem_scalar_messages.npz
  src/metatrain/experimental/lorem/tests/test_flax_checkpoint.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
