Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Try to fix tests
  tests/resources/options-phace.yaml
  tests/resources/options.yaml
Due: none

Improve default learning rate
  src/metatrain/experimental/phace/documentation.py
Due: none

Fix tests
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Fix regression tests
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Rename some hypers
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/cg_iterator.py
  src/metatrain/experimental/phace/modules/layers.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  tests/resources/options-phace.yaml
Due: none

Lint
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
Due: none

Fix restart
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/trainer.py
  tests/resources/options-phace-debug.yaml
Due: none

Add functionality to fit Cartesian rank-2 targets
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/tests/test_functionality.py
  src/metatrain/experimental/phace/utils.py
Due: none

Port large-scale changes to PhACE
  src/metatrain/__main__.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/scaler/scaler.py
Due: none

First sketch of graph2mat
  pyproject.toml
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
Due: none

Add extra dependency
  pyproject.toml
Due: none

Fix bug for periodic systems
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Make distributed work
  src/metatrain/experimental/graph2mat/trainer.py
Due: none

Make it work on GPU
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
Due: none

Reorganized data handling and added temporary eval script
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
Due: none

Fix edge embeddings
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
Due: none

Allow 0-sized validation sets
  src/metatrain/experimental/graph2mat/trainer.py
Due: none

Remove debug print statement
  src/metatrain/experimental/phace/model.py
Due: none

Add classifier and mace architectures to coverage
  .codecov.yml
  docs/src/architectures/generate.py
  tox.ini
Due: none

Allow memmapdataset for molecular systems
  src/metatrain/utils/data/dataset.py
Due: none

Allow generic target names in MemmapDataset
  src/metatrain/utils/data/dataset.py
Due: none

Use dict.update
  src/metatrain/utils/data/dataset.py
Due: none

Pin MACE version
  pyproject.toml
Due: none

Temporary change branch for codecov
  .codecov.yml
Due: none

Fix codecov.yml validation errors
  .codecov.yml
Due: none

Revert default branch back to main
  .codecov.yml
Due: none

Add the possibility to retrieve descriptions from datasets
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  src/metatrain/utils/pydantic.py
Due: none

Remove nanoPET architecture
  .github/copilot-instructions.md
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  README.md
  docs/src/concepts/auxiliary-outputs.rst
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/deprecated/nanopet/__init__.py
  src/metatrain/deprecated/nanopet/checkpoints.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/deprecated/nanopet/model.py
  src/metatrain/deprecated/nanopet/modules/__init__.py
  src/metatrain/deprecated/nanopet/modules/attention.py
  src/metatrain/deprecated/nanopet/modules/encoder.py
  src/metatrain/deprecated/nanopet/modules/feedforward.py
  src/metatrain/deprecated/nanopet/modules/nef.py
  src/metatrain/deprecated/nanopet/modules/radial_mask.py
  src/metatrain/deprecated/nanopet/modules/structures.py
  src/metatrain/deprecated/nanopet/modules/transformer.py
  src/metatrain/deprecated/nanopet/tests/__init__.py
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v3.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v2_trainer-v3.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v6.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v7.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v8.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/test_checkpoints.py
  src/metatrain/deprecated/nanopet/tests/test_continue.py
  src/metatrain/deprecated/nanopet/tests/test_exported.py
  src/metatrain/deprecated/nanopet/tests/test_functionality.py
  src/metatrain/deprecated/nanopet/tests/test_regression.py
  src/metatrain/deprecated/nanopet/tests/test_torchscript.py
  src/metatrain/deprecated/nanopet/trainer.py
  tests/cli/test_train_model.py
  tests/utils/test_architectures.py
  tox.ini
Due: NanoPET

EigenvalueLoss
  src/metatrain/utils/loss.py
Due: none

Pass systems to the training and validation loss
  src/metatrain/pet/trainer.py
Due: PET

Reintroduce spherical package
  tox.ini
Due: none

Fix error where empty neighbor lists trigger an exception
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

Removed ghosts filtering from PET
  src/metatrain/pet/modules/structures.py
Due: PET

Added a safety code for running the empty systems
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Removed print statements
  src/metatrain/pet/modules/structures.py
Due: PET

Linting fix
  src/metatrain/pet/modules/structures.py
Due: PET

Fix issue in FlashMD as well
  src/metatrain/experimental/flashmd/modules/structures.py
Due: FlashMD

Format
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET, FlashMD

phace-large-scale-2
  src/metatrain/utils/data/dataset.py
Due: none

Fix YAML formatting in MACE documentation
  src/metatrain/experimental/mace/documentation.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
