Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

First graph2mat implementations
  src/metatrain/cli/eval.py
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/remove.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Make GPU work
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Add calculator
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
Due: none

Fix batched evaluation
  src/metatrain/cli/eval.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/remove.py
Due: none

Remove print
  src/metatrain/experimental/graph2mat/model.py
Due: none

Remove debugging line
  src/metatrain/experimental/graph2mat/model.py
Due: none

Restore eval file
  src/metatrain/cli/eval.py
Due: none

Added matrix loss functions
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/matrix.py
Due: none

Small bug
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Add support for edge composition model
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/additive/remove.py
Due: none

Optimizations and profiling
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
Due: none

Little fix for new edge composition convention
  src/metatrain/utils/additive/remove.py
Due: none

Trying to make eval work
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/experimental/edge_composition/utils/model.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/experimental/graph2mat/model.py
Due: none

Add exponential messages
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/utils/log_transform.py
Due: none

Clean composition model tests (#1208)
  src/metatrain/composition/tests/test_basic.py
Due: none

Regenerate DiskDataset test resources
  tests/resources/spherical_disk_dataset.zip
  tests/resources/spherical_targets_rotated.zip
  tests/resources/spherical_targets_unrotated.zip
Due: none

Regenerate DiskDataset test resources (#1211)
  tests/resources/spherical_disk_dataset.zip
  tests/resources/spherical_targets_rotated.zip
  tests/resources/spherical_targets_unrotated.zip
Due: none

Applied review changes
  docs/src/concepts/batch-bounds.rst
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  src/metatrain/utils/distributed/batch_utils.py
  tests/cli/test_train_model.py
  tests/resources/spherical_disk_dataset.zip
  tests/utils/data/test_batch_bounds.py
  tests/utils/data/test_dataloaders.py
  tests/utils/data/test_samplers.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Linting fix
  src/metatrain/experimental/mace/tests/test_regression.py
Due: none

Updated the checkpoints in tests
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v7.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v12.ckpt.gz
Due: SOAP-BPNN, LLPR, FlashMD

Reduced the redundant flashmd checkpoint increase
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v6.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Also did a reduction for other architectures
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v6.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v7.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v11.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v12.ckpt.gz
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, LLPR

Increased the time limits on CSCS tests
  ci/cscs.yml
Due: none

Fixed a weird comment in trainers
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Restored the spherical_dist_dataset from main
  tests/resources/spherical_disk_dataset.zip
Due: none

Reverted back finetuning and removed default heads functionality
  src/metatrain/cli/train.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/cli/test_train_model.py
  tests/utils/test_abc.py
Due: PET, FlashMD

Reverted docs
  docs/src/concepts/fine-tuning.rst
Due: none

Restored model interface
  src/metatrain/cli/train.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  tests/utils/test_abc.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Proof of concept for hooks
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Add post-hooks to PET
  src/metatrain/pet/model.py
  src/metatrain/utils/hooks/__init__.py
Due: PET

fix output block with cuda values but cpu labels (#14)
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Make multipole hook work on GPU
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Add gap hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Things to make old pet work
  src/metatrain/pet/default-hypers.yaml
  src/metatrain/pet/model.py
  src/metatrain/pet/schema-hypers.json
  src/metatrain/pet/trainer.py
  src/metatrain/utils/hooks/minmax_gap.py
Due: PET

Fix tests
  src/metatrain/scaler/documentation.py
  tests/utils/test_architectures.py
Due: none

Update ref
  src/metatrain/scaler/documentation.py
Due: none

Copilot review
  docs/src/dev-docs/changelog.rst
  docs/src/dev-docs/utils/scaler/scaler.rst
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/tests/test_basic.py
  src/metatrain/scaler/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  tox.ini
Due: SOAP-BPNN, PET, FlashMD

Missed some scaler.forward and wrong import
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, FlashMD

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
