Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

added attention mechanism as pooling function
  src/metatrain/gap_pet/documentation.py
  src/metatrain/gap_pet/model.py
Due: none

Adaptive cutoff stats (#1131)
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Speedup PET inference: reduce kernel launches and host syncs in systems_to_batch
  src/metatrain/pet/modules/nef.py
  src/metatrain/pet/modules/structures.py
Due: PET

Update FlashMD to match new NEF function signatures
  src/metatrain/experimental/flashmd/modules/structures.py
Due: FlashMD

Speedup PET evaluation (#1122)
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/modules/nef.py
  src/metatrain/pet/modules/structures.py
Due: PET, FlashMD

Add rank 2 spherical targets (#1121)
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_target_info.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN

First sketch of graph2mat
  pyproject.toml
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
Due: none

fix featurizer_type default
  src/metatrain/gap_pet/model.py
Due: none

sofiia's comments+linting
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
Due: none

Fixed some comments by Copilot
  src/metatrain/experimental/phace/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/dataset.py
Due: none

tests changed
  src/metatrain/utils/testing/architectures.py
  tests/cli/test_train_model.py
  tests/resources/test.yaml
  tests/utils/data/test_combine_dataloaders.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_get_dataset.py
  tests/utils/data/test_readers.py
  tests/utils/data/test_readers_metatensor.py
  tests/utils/data/test_samplers.py
  tests/utils/data/test_target_info.py
  tests/utils/data/test_writers.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: none

metatomic change is now in main
  pyproject.toml
Due: none

Allow PET to randomize num_neighbors_adaptive over a list during training
  src/metatrain/cli/export.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Add pyscf J calculation on the fly
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
Due: PET

Make --num-neighbors-adaptive work for LLPR-wrapped checkpoints
  src/metatrain/cli/export.py
  src/metatrain/llpr/model.py
Due: LLPR

Added edge tokens cutoff filter
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Merged v13 changes into v12
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Linting fix
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Fixed the checkpoint version
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET

Fixed FlashMD tests
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Fixed FlashMD tests
  src/metatrain/experimental/flashmd/model.py
Due: FlashMD

Merged v13 changes into v12
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Fixed LLPR and classifier tests
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

Fix final model checkpoint copy for absolute output paths
  src/metatrain/cli/train.py
Due: none

Simple MoE
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
Due: PET

Fix tests
  tests/utils/test_scaler.py
Due: none

Workaround for Xet warning
  .github/workflows/tests.yml
Due: none

Fix PET regression tests
  src/metatrain/pet/tests/test_regression.py
Due: PET

Fix PhACE regression tests
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Fix MACE regression tests
  src/metatrain/experimental/mace/tests/test_regression.py
Due: none

Avoid inspecting wrapped checkpoints in
  src/metatrain/utils/testing/checkpoints.py
Due: none

Lint
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Increase allclose tolerance
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Remove double comments
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/pet/tests/test_regression.py
Due: PET

Editable cutoff
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Updated pet and llpr checkjpoints
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET, LLPR

Pass per_structure_targets to the scaler trainer
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN, PET, FlashMD

Workaround for Xet warning (#1135)
  .github/workflows/tests.yml
Due: none
