Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Skip walking through dataset if unnecessary
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: none

Lint
  src/metatrain/utils/scaler/scaler.py
Due: none

Fix non-conservative stress scaler fitting (#1137)
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: SOAP-BPNN, PET, FlashMD

have copy back
  src/metatrain/utils/evaluate_model.py
Due: none

remove all version puns to release candidates
  pyproject.toml
Due: none

lint
  src/metatrain/utils/scaler/_base_scaler.py
  tests/utils/test_scaler.py
Due: none

Move checkpoint updater to scaler's code
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/utils/scaler/checkpoints.py
Due: SOAP-BPNN, PET, FlashMD

Skip walking through dataset if unnecessary (#1138)
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: none

some fixes for compatibility with metatensor 0.9.0rc5 and metatomic rc (#1133)
  src/metatrain/pet/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/per_atom.py
  tests/utils/data/test_readers_metatensor.py
  tests/utils/test_metrics.py
Due: PET

Update docstrings
  src/metatrain/utils/scaler/_base_scaler.py
Due: none

lint
  src/metatrain/utils/scaler/_base_scaler.py
Due: none

Remove redundant DEFAULT_EFFECTIVE_NUM_NEIGHBORS_WIDTH constant
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Address final comments
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Added edge tokens cutoff filter
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Fixed FlashMD tests
  src/metatrain/experimental/flashmd/model.py
Due: FlashMD

Fixed tests
  src/metatrain/pet/documentation.py
  src/metatrain/pet/modules/structures.py
Due: PET

Linting fix
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Merged v13 changes into v12
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Fixed FlashMD tests
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Fixed LLPR and classifier tests
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

Simplified the adaptive_cutoff_width logic
  src/metatrain/pet/modules/structures.py
Due: PET

Update checkpoints
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET, LLPR

Fixed the checkpoint version
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v13.ckpt.gz
Due: PET

Merged v13 changes into v12
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
Due: PET

Add cutoff_width_adaptive option to set different smearing for the n(r) approximant
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Resolved simultaneous finetune and restart behavior
  src/metatrain/pet/trainer.py
Due: PET

fix: handle missing gradients in remove_additive for mixed datasets
  src/metatrain/utils/additive/remove.py
  tests/utils/test_additive.py
Due: none

style: fix ruff formatting
  src/metatrain/utils/additive/remove.py
  tests/utils/test_additive.py
Due: none

style: add stacklevel=2 to warnings.warn
  src/metatrain/utils/additive/remove.py
Due: none

Address some copilot comments
  docs/src/concepts/scale-targets.rst
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/remove.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
Due: none

Extend tensor basis support for e-pet
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN

Add experimental e-pet architecture
  src/metatrain/experimental/e_pet/__init__.py
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/__init__.py
  src/metatrain/experimental/e_pet/tests/options-e-pet.yaml
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Add invariant block-aware TensorMap losses
  docs/src/concepts/loss-functions.rst
  src/metatrain/utils/loss.py
  src/metatrain/utils/tests/test_loss.py
Due: none

Preserve PET diagnostic hooks and shared heads
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/concepts/output-naming.rst
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Document e-pet mainline alignment
  docs/src/dev-docs/e-pet-alignment.rst
  docs/src/dev-docs/index.rst
Due: none

Default e-pet training to split learning rates
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
Due: none

Clean e-pet tensor-basis and trainer surfaces
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/options-e-pet.yaml
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN, PET

Add E-PET l0 readout diagnostics controls
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Stabilize PET and E-PET smoke training
  docs/src/concepts/loss-functions.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/logging.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/tests/test_loss.py
  src/metatrain/utils/training_diagnostics.py
  tests/utils/test_logging.py
  tests/utils/test_metrics.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
