Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

fix indentation
  src/metatrain/experimental/mace/documentation.py
Due: none

lint
  src/metatrain/experimental/mace/documentation.py
Due: none

Support empty output request
  src/metatrain/utils/scaler/scaler.py
  src/metatrain/utils/testing/output.py
Due: none

fix: use local atom indices in MemmapDataset to avoid int32 overflow
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

simplify test
  tests/utils/data/test_dataset.py
Due: none

fix linting and ruff settings to allow for pos args like --fix
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
  tox.ini
Due: none

fix linting
  tests/utils/data/test_dataset.py
Due: none

Fix atomic indices overflow in MemmapDataset (#1059)
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
  tox.ini
Due: none

Support empty outputs in `Scaler` (#1058)
  src/metatrain/utils/scaler/scaler.py
  src/metatrain/utils/testing/output.py
Due: none

Fix YAML formatting in MACE documentation (#1057)
  src/metatrain/experimental/mace/documentation.py
Due: none

Remove nanoPET architecture (#1053)
  .github/copilot-instructions.md
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  README.md
  docs/src/concepts/auxiliary-outputs.rst
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/deprecated/nanopet/__init__.py
  src/metatrain/deprecated/nanopet/checkpoints.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/deprecated/nanopet/model.py
  src/metatrain/deprecated/nanopet/modules/__init__.py
  src/metatrain/deprecated/nanopet/modules/attention.py
  src/metatrain/deprecated/nanopet/modules/encoder.py
  src/metatrain/deprecated/nanopet/modules/feedforward.py
  src/metatrain/deprecated/nanopet/modules/nef.py
  src/metatrain/deprecated/nanopet/modules/radial_mask.py
  src/metatrain/deprecated/nanopet/modules/structures.py
  src/metatrain/deprecated/nanopet/modules/transformer.py
  src/metatrain/deprecated/nanopet/tests/__init__.py
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v1_trainer-v3.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v2_trainer-v3.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v6.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v7.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v8.ckpt.gz
  src/metatrain/deprecated/nanopet/tests/test_checkpoints.py
  src/metatrain/deprecated/nanopet/tests/test_continue.py
  src/metatrain/deprecated/nanopet/tests/test_exported.py
  src/metatrain/deprecated/nanopet/tests/test_functionality.py
  src/metatrain/deprecated/nanopet/tests/test_regression.py
  src/metatrain/deprecated/nanopet/tests/test_torchscript.py
  src/metatrain/deprecated/nanopet/trainer.py
  tests/cli/test_train_model.py
  tests/utils/test_architectures.py
  tox.ini
Due: NanoPET

Fix double-precision dtype validation in data readers
  src/metatrain/utils/data/readers/readers.py
  tests/utils/data/test_readers.py
Due: none

chore(ver): use new vesin release
  pyproject.toml
Due: none

bug(ci): apply workaround for CSCS runs
  ci/cscs.yml
Due: none

Remove validation dataset size check
  src/metatrain/experimental/mace/trainer.py
Due: none

bug(ci): "fix" with pins (#1056)
  ci/cscs.yml
  pyproject.toml
  src/metatrain/utils/data/readers/readers.py
  tests/utils/data/test_readers.py
Due: none

Remove validation dataset size check in MACE (#1060)
  src/metatrain/experimental/mace/trainer.py
Due: none

First draft
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/test_llpr.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/pet/tests/test_long_range.py
  src/metatrain/pet/tests/test_pet_mad.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/omegaconf.py
  src/metatrain/utils/scaler/scaler.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/autograd.py
  src/metatrain/utils/testing/output.py
Due: GAP, PET, LLPR, FlashMD

Update src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Temporarily revert changes to main
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/modules/structures.py
Due: PET, FlashMD

Fix Empty Neighbor Lists Triggering an Exception (#1054)
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Apply the same changes to FlashMD
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/structures.py
Due: FlashMD

Add tricky tests
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Improve comments and readability
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/modules/structures.py
Due: PET, FlashMD

Release metatrain 2026.2
  README.md
  docs/src/dev-docs/changelog.rst
Due: none

Update readme
  README.md
Due: none

Remove ghosts filtering in PET (#1055)
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET, FlashMD

Implement PhACE JAX calculator for speed
  src/metatrain/experimental/phace/calculator.py
  src/metatrain/experimental/phace/eqx.py
Due: none

Work around nasty torchscript bug
  src/metatrain/pet/modules/transformer.py
Due: PET

Implement batch bounds
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/trainer.py
Due: none

fix(dpa3): address PR review comments
  pyproject.toml
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
Due: none

refactor(dpa3): clean up trainer duplication and magic numbers
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/modules/__init__.py
  src/metatrain/experimental/dpa3/modules/structures.py
  src/metatrain/experimental/dpa3/trainer.py
Due: none

feat(dpa3): mixed precision via stanza-level precision overrides
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_precision.py
Due: none

feat(dpa3): add _forward_from_batch for compilation preparation
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_compile.py
Due: none

feat(dpa3): pretrained model loading via dpa3_model hyper
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/trainer.py
Due: none

docs(dpa3): add DPA3 bibliography entry and pretrained usage section
  docs/static/refs.bib
  src/metatrain/experimental/dpa3/documentation.py
Due: none

Disable torchscript static fusion
  src/metatrain/cli/eval.py
Due: none

Release metatrain 2026.2 (#1061)
  README.md
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/pet/modules/transformer.py
Due: PET
