Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Exclude generated files
  examples/1-advanced/.gitignore
Due: none

Reformat
  examples/1-advanced/09-symplectic-flashmd.py
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Fix time step
  examples/1-advanced/options-flashmd-symplectic.yaml
Due: none

"MAE calibration"
  src/metatrain/llpr/model.py
Due: LLPR

Fix MACE export on GPU
  src/metatrain/experimental/mace/model.py
Due: none

update mace model.py as done by @pfebrer
  src/metatrain/experimental/mace/model.py
Due: none

incorporate latest from @frostedoyster and @ppegolo
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Allow choice from user
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/trainer.py
Due: LLPR

Small fix
  src/metatrain/llpr/model.py
Due: LLPR

Fix components for LLPR and add support for distributed LLPR calibration (#1008)
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/trainer.py
Due: LLPR

Hack for direct-force MACE LLPR
  src/metatrain/experimental/mace/model.py
  src/metatrain/llpr/model.py
Due: LLPR

Fix linter
  src/metatrain/llpr/model.py
Due: LLPR

tmp rename
  src/metatrain/llpr/tests/checkpoints/__model-v3_trainer-v4.ckpt.gz
Due: LLPR

Fix CRPS
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
Due: LLPR

add checkpoint file
  src/metatrain/llpr/tests/checkpoints/__model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
Due: LLPR

Allow zero-sized validation splits
  src/metatrain/share/base_hypers.py
Due: none

lint
  src/metatrain/llpr/model.py
Due: LLPR

fix docs
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
Due: LLPR

Fix tests
  tests/cli/test_train_model.py
Due: none

fix checkpoint
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
Due: LLPR

WIP, some MACE fixes here will be incorporated into forceuq2
  src/metatrain/experimental/mace/model.py
  src/metatrain/llpr/model.py
  src/metatrain/utils/scaler/_base_scaler.py
Due: LLPR

fix device
  src/metatrain/llpr/model.py
Due: LLPR

account for mace: (1) dynamic llfeat size (2) weight params
  src/metatrain/experimental/mace/model.py
  src/metatrain/llpr/model.py
Due: LLPR

device again
  src/metatrain/llpr/model.py
Due: LLPR

Allow zero-sized validation splits (#1003)
  src/metatrain/share/base_hypers.py
  tests/cli/test_train_model.py
Due: none

try a fix
  src/metatrain/llpr/model.py
Due: LLPR

make ens training work
  src/metatrain/llpr/model.py
  src/metatrain/utils/loss.py
Due: LLPR

Update tox.ini
  tox.ini
Due: none

Update src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/classifier/trainer.py
Due: none

Remove unused variable
  src/metatrain/experimental/classifier/model.py
Due: none

Fix tests
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/classifier/tests/options-classifier.yaml
  src/metatrain/experimental/classifier/tests/test_classifier.py
Due: none

Add Classifier model for transfer learning classification (#917)
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  examples/1-advanced/09-classifier.py
  examples/1-advanced/carbon_allotropes.xyz
  examples/1-advanced/options-classifier.yaml
  pyproject.toml
  src/metatrain/experimental/classifier/__init__.py
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/__init__.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/classifier/tests/checkpoints/readme.txt
  src/metatrain/experimental/classifier/tests/options-classifier.yaml
  src/metatrain/experimental/classifier/tests/options-pet.yaml
  src/metatrain/experimental/classifier/tests/qm9_reduced_100.xyz
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/llpr/tests/checkpoints/readme.txt
  tests/utils/test_architectures.py
  tox.ini
Due: LLPR

Fix
  src/metatrain/utils/neighbor_lists.py
Due: none

Avoid redundant work in `_compute_single_neighbor_list` for full neighbor list (#788)
  src/metatrain/utils/neighbor_lists.py
Due: none

shooting for grads of ensemble preds, almost there
  src/metatrain/llpr/trainer.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/loss.py
Due: LLPR

Explicit "ensemble" in loss name
  docs/src/concepts/loss-functions.rst
  src/metatrain/llpr/documentation.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/omegaconf.py
Due: LLPR

hot fixes to get ensemble grad to work for training
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/output_gradient.py
Due: none

Fix checkpoint upgrades and add missing reference checkpoints
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v12.ckpt.gz
Due: PET, LLPR, FlashMD

Revert "Fix checkpoint upgrades and add missing reference checkpoints"
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v12.ckpt.gz
Due: PET, LLPR, FlashMD

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
