Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Handle sanitizer errors in the architecture validation error report
  src/metatrain/utils/pydantic.py
  tests/utils/test_slurm.py
Due: none

Address review comments
  docs/src/dev-docs/changelog.rst
  src/metatrain/composition/__init__.py
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/__init__.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/composition/tests/test_distributed.py
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Add gap hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Fix gap hook
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

fix output block with cuda values but cpu labels (#14)
  src/metatrain/utils/hooks/minmax_gap.py
Due: none

Add tensor basis hook
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/tensor_basis.py
Due: none

Add post-hooks to PET
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/utils/hooks/__init__.py
Due: PET

Make multipole hook work on GPU
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Proof of concept for hooks
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Minor improvement to space docs
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/modules/tensor_product.py
Due: none

Minor improvement to space docs (#1220)
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/modules/tensor_product.py
Due: none

Enable PET finetuning with hooks.
  src/metatrain/cli/train.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/hooks/__init__.py
  src/metatrain/utils/hooks/helpers.py
  tests/utils/test_hooks.py
Due: PET

Support `atom_pair` targets in metatrain
  src/metatrain/cli/eval.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/per_atom.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/test_atom_pair_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Update hidden feature extraction example with omission of `backend` in module paths
  examples/1-advanced/10-pet-hidden-features.py
Due: none

Update hidden feature extraction example with omission of `backend` in module paths (#1221)
  examples/1-advanced/10-pet-hidden-features.py
Due: none

Forgot to remove post_hooks from PET hypers
  src/metatrain/pet/documentation.py
Due: PET

Fix distributed training for the standalone composition model (#1217)
  docs/src/dev-docs/changelog.rst
  src/metatrain/composition/__init__.py
  src/metatrain/composition/_base_composition.py
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/__init__.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/composition/tests/test_distributed.py
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_scaler.py
  tests/utils/test_slurm.py
Due: PET

Address review comments
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/scaler/_base_scaler.py
  tests/utils/data/test_atom_pair_helpers.py
Due: none

Fix tests
  src/metatrain/utils/data/atom_pair_helpers.py
  tests/utils/data/test_atom_pair_helpers.py
Due: none

Avoid json schema making docs ugly
  src/metatrain/utils/pydantic.py
  tests/utils/test_pydantic.py
Due: none

SPACE: Make sure that the radial basis hypers are shown in docs
  src/metatrain/experimental/space/documentation.py
Due: none

Add possibility to build docs without running examples
  docs/src/conf.py
  tox.ini
Due: none

Avoid json schema making docs ugly (#1222)
  src/metatrain/utils/pydantic.py
  tests/utils/test_pydantic.py
Due: none

Support and test scalar and Cartesian atom-pair targets definition in `TargetInfo`, and test their augmentation
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/target_info.py
  tests/utils/data/test_target_info.py
  tests/utils/test_augmentation.py
Due: none

SPACE: Make sure that the radial basis hypers are shown in docs (#1223)
  src/metatrain/experimental/space/documentation.py
Due: none

Remove edge direction utils
  src/metatrain/utils/data/atom_pair_helpers.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/test_atom_pair_helpers.py
Due: none

Make the dipole ansatz origin independent by subtracting the center of nuclear charge
  src/metatrain/utils/hooks/global_multipoles/documentation.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
Due: none

Enable post-hooks in space and soap-bpnn
  src/metatrain/experimental/space/model.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN

Make the origin a hyper of the GlobalMultipole hook, keeping the origin dependent version accessible
  src/metatrain/cli/train.py
  src/metatrain/utils/hooks/global_multipoles/documentation.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
  src/metatrain/utils/hooks/global_multipoles/tests/test_translation_invariance.py
Due: none

Fix rst table rendering in `max_eigenvalue` hyper docs of space arch
  src/metatrain/experimental/space/documentation.py
Due: none

Fix hooks for mace
  src/metatrain/experimental/mace/model.py
Due: none

Add a note about periodic systems
  src/metatrain/utils/hooks/global_multipoles/documentation.py
Due: none

Support `atom_pair` targets in metatrain (#1219)
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/per_atom.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/data/test_atomic_basis_helpers.py
  tests/utils/data/test_target_info.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Fix rst table rendering in `max_eigenvalue` hyper docs of space arch (#1225)
  src/metatrain/experimental/space/documentation.py
Due: none

Helpers for single direction edges
  src/metatrain/utils/data/atom_pair_helpers.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
Due: none

Add experimental edge composition model
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/__init__.py
  src/metatrain/experimental/edge_composition/checkpoints.py
  src/metatrain/experimental/edge_composition/documentation.py
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/__init__.py
  src/metatrain/experimental/edge_composition/radials/exponential.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/tests/test_basic.py
  src/metatrain/experimental/edge_composition/tests/test_samples.py
  src/metatrain/experimental/edge_composition/trainer.py
  src/metatrain/experimental/edge_composition/utils/samples.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  tox.ini
Due: none

Update atom pair utilities and Scaler (#13)
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Remove print
  src/metatrain/experimental/graph2mat/model.py
Due: none

Some more flexibility
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/operations.py
Due: none
