Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Turn on log_mae by default
  src/metatrain/experimental/flashmd_symplectic/documentation.py
Due: none

Show training configuration in example
  examples/1-advanced/09-symplectic-flashmd.py
Due: none

Use Cholesky decomposition for a more stable LLPR
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/llpr/tests/test_llpr.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Lint
  src/metatrain/experimental/flashmd_symplectic/documentation.py
Due: none

Fix reference
  src/metatrain/experimental/flashmd_symplectic/documentation.py
Due: none

Fix checkpoint update and make the llpr test pass
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/tests/test_llpr.py
Due: LLPR

Fix the same bug in the model
  src/metatrain/llpr/model.py
Due: LLPR

Add GitHub link to the docs
  docs/src/_templates/sidebar/github-link.html
  docs/src/conf.py
  docs/static/styles.css
Due: none

Reduce validation memory usage
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Use Cholesky decomposition for a more stable LLPR (#1043)
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
  src/metatrain/llpr/trainer.py
Due: LLPR

Fix missing extra dependencies for FlashMD
  pyproject.toml
Due: none

Fix missing extra dependencies for FlashMD (#1046)
  pyproject.toml
Due: none

feat(pet): add neighbor_atom_indices and _forward_from_batch
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

feat(pet): full-graph FX compilation for training
  docs/src/dev-docs/changelog.rst
  pyproject.toml
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/modules/compile.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/trainer.py
Due: PET

test(pet): add tests for FX compilation and _forward_from_batch
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_compile.py
Due: PET

Apparently working implementation
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
Due: PET

Improve documentation on `per_structure_targets`
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Format
  src/metatrain/utils/data/writers/ase.py
Due: none

Fix eval and abc tests
  tests/cli/test_eval_model.py
  tests/utils/test_abc.py
Due: none

Run trainings lazily in tests
  .gitignore
  tests/cli/__init__.py
  tests/cli/test_eval_model.py
  tests/cli/test_export_model.py
  tests/cli/test_train_model.py
  tests/conftest.py
  tests/resources/generate-outputs.sh
  tests/resources/run_trainings.sh
  tests/utils/__init__.py
  tests/utils/test_augmentation.py
  tests/utils/test_evaluate_model.py
  tests/utils/test_io.py
  tests/utils/test_long_range.py
  tests/utils/test_output_gradient.py
  tests/utils/test_scaler.py
  tox.ini
Due: none

Add __init__.py
  tests/__init__.py
Due: none

Fix transfer learning tests
  tests/cli/test_train_model.py
Due: none

Fix export tests
  tests/cli/test_export_model.py
  tests/resources/run_trainings.sh
Due: none

lint
  tests/conftest.py
Due: none

Final test fixes
  tests/cli/test_eval_model.py
  tests/cli/test_train_model.py
Due: none

Print training output on failure
  tests/conftest.py
Due: none

Avoid lockfiles being removed
  tests/resources/run_trainings.sh
Due: none

typo
  tests/resources/run_trainings.sh
Due: none

Account for adaptive cutoff in creation of edge sample labels
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Implement PhACE
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/phace/__init__.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/__init__.py
  src/metatrain/experimental/phace/modules/adaptive_cutoff.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/center_embedding.py
  src/metatrain/experimental/phace/modules/cg_coefficients.py
  src/metatrain/experimental/phace/modules/cg_iterator.py
  src/metatrain/experimental/phace/modules/cutoff_function.py
  src/metatrain/experimental/phace/modules/layers.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/physical_basis.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/modules/splines.py
  src/metatrain/experimental/phace/modules/tensor_product.py
  src/metatrain/experimental/phace/tests/__init__.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/experimental/phace/utils.py
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/utils/testing/mtt_plugin.py
  src/metatrain/utils/testing/output.py
  tests/resources/options.yaml
  tests/utils/test_architectures.py
  tox.ini
Due: PET, NanoPET

Improve documentation on `per_structure_targets` (#1047)
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Remove unused file
  src/metatrain/experimental/phace/modules/center_embedding.py
Due: none

Run training lazily for tests
  .gitignore
  tests/__init__.py
  tests/cli/__init__.py
  tests/cli/test_eval_model.py
  tests/cli/test_export_model.py
  tests/cli/test_train_model.py
  tests/conftest.py
  tests/resources/generate-outputs.sh
  tests/resources/run_trainings.sh
  tests/utils/__init__.py
  tests/utils/test_abc.py
  tests/utils/test_augmentation.py
  tests/utils/test_evaluate_model.py
  tests/utils/test_io.py
  tests/utils/test_long_range.py
  tests/utils/test_output_gradient.py
  tests/utils/test_scaler.py
  tox.ini
Due: none

Improve hypers and their description
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/tests/test_basic.py
  tests/resources/options.yaml
Due: none

Improve comments and docstrings
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/cg_coefficients.py
  src/metatrain/experimental/phace/modules/cg_iterator.py
  src/metatrain/experimental/phace/modules/layers.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/physical_basis.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/modules/tensor_product.py
  src/metatrain/experimental/phace/utils.py
Due: none

Reduce validation memory usage (#1045)
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Apply a few fixes
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/utils/testing/output.py
Due: none

One more fix
  src/metatrain/experimental/phace/modules/base_model.py
Due: none

Fix docs
  src/metatrain/experimental/phace/documentation.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
