Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Speed up the torch metric assembly ~3.5x
  src/metatrain/utils/torch_metric.py
Due: none

Port the system-frame augmenter to the batched O3Transformations API
  src/metatrain/utils/augmentation.py
  tests/utils/test_pyscf_loss.py
Due: none

Refactor metrics reporting to allow L2 real-space density error to be reported in train/eval
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/reported_metrics.py
  tests/utils/test_abc.py
  tests/utils/test_pyscf_loss.py
  tests/utils/test_reported_metrics.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Keep the PET LR schedule in place on restarts that change steps per epoch
  src/metatrain/pet/trainer.py
Due: PET

Take the via_w coefficient layout from the projections
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

add mtt show
  docs/src/dev-docs/cli/index.rst
  docs/src/dev-docs/cli/show.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/__main__.py
  src/metatrain/cli/show.py
  src/metatrain/share/metatrain-completion.bash
  src/metatrain/utils/io.py
  tests/cli/test_cli.py
  tests/cli/test_show_model.py
Due: none

fix lint & windows path
  src/metatrain/utils/io.py
  tests/cli/test_show_model.py
Due: none

Drop CustomHelpFormatter after rebase on main
  docs/src/dev-docs/cli/index.rst
  src/metatrain/cli/show.py
Due: none

Remove remaining `to` and move remaining mts data into buffer according to Claude's suggestion
  src/metatrain/composition/_base_composition.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/gap/model.py
  src/metatrain/scaler/_base_scaler.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/modules/power_spectrum.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: GAP, SOAP-BPNN

Formatting
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/modules/power_spectrum.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN

Try to fix CI
  src/metatrain/experimental/mace/model.py
  src/metatrain/gap/trainer.py
Due: GAP

update of mtt info command
  docs/src/dev-docs/changelog.rst
  docs/src/dev-docs/cli/index.rst
  docs/src/dev-docs/cli/info.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/__main__.py
  src/metatrain/cli/info.py
  src/metatrain/cli/show.py
  src/metatrain/share/metatrain-completion.bash
  tests/cli/test_cli.py
  tests/cli/test_info_model.py
  tests/cli/test_show_model.py
Due: none

Try again, and update warning filter
  pyproject.toml
  src/metatrain/gap/model.py
Due: GAP

And again
  src/metatrain/gap/model.py
Due: GAP

clean up the attention test from former version
  src/metatrain/pet/tests/test_attention_masking.py
Due: PET

Make `layouts` persistent
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/mace/model.py
Due: none

Update ckpt for lorem and mace
  src/metatrain/experimental/lorem/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
Due: none

Suggest upgrading metatrain for newer trainer checkpoints (#1264)
  src/metatrain/utils/io.py
  tests/utils/test_io.py
Due: none

clean up the attention test from former version (#1295)
  src/metatrain/pet/tests/test_attention_masking.py
Due: PET

add device to feature tensormap
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/model.py
Due: none

add device to feature tensormap (#1297)
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/space/model.py
Due: none

Avoid omegaconf deprecation warning
  src/metatrain/utils/omegaconf.py
Due: none

Update comment on __init_subclass__
  src/metatrain/utils/abc.py
Due: none

Update omegaconf dependency
  pyproject.toml
Due: none

Fix llpr warnings
  src/metatrain/llpr/model.py
  src/metatrain/utils/wrapper.py
Due: LLPR

More gap
  src/metatrain/gap/tests/test_regression.py
Due: GAP

Ported lorem
  src/metatrain/experimental/lorem/checkpoints.py
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/tests/test_long_range.py
  src/metatrain/experimental/lorem/tests/test_regression.py
  src/metatrain/experimental/lorem/tests/test_train_step.py
  src/metatrain/experimental/lorem/trainer.py
  src/metatrain/utils/io.py
Due: none

Fix restart
  src/metatrain/pet/trainer.py
  src/metatrain/utils/wrapper.py
Due: PET

Fix scaler tests
  src/metatrain/composition/tests/test_distributed.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/checkpoints.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/io.py
Due: PET

fix space finetuning
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_finetuning.py
Due: none

Make ZBL a ModelInterface
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/io.py
Due: none

soap_bpnn leftover
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN

lint
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
Due: none

Ported soap-bpnn
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/io.py
Due: SOAP-BPNN, PET

Almost space
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/tests/test_basic.py
  src/metatrain/experimental/space/tests/test_finetuning.py
  src/metatrain/experimental/space/tests/test_regression.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/utils/io.py
Due: none

Store best state dict on the checkpoint of each model
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/wrapper.py
Due: PET

lint
  tests/utils/test_additive.py
Due: none

Fix regex
  src/metatrain/utils/abc.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
