Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Fix cumulative trapezoid calculation in loss.py
  src/metatrain/utils/loss.py
Due: none

Added FocusedDOS and DOS+Gap Loss
  src/metatrain/utils/loss.py
Due: none

Fix cumulative trapezoid calculation for DOS loss (#994)
  src/metatrain/utils/loss.py
Due: none

Hardcoded temperature for the PET gnn in flashmd
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/pet/modules/transformer.py
Due: PET, FlashMD

Updated tests
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Added temperature option to FlashMD
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Add tests for label creation for variants of generic targets (#995)
  tests/utils/data/test_target_info.py
Due: none

Update architecture count in tests
  tests/utils/test_architectures.py
Due: none

Fix linter
  tests/utils/data/test_target_info.py
Due: none

Don't resort if already sorted
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/pet/modules/nef.py
  src/metatrain/utils/neighbor_lists.py
Due: PET, FlashMD

Added an option to access intermediate layers for features
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
Due: none

Add tunable temperature to FlashMD
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET, FlashMD

Added 2 more loss functions
  src/metatrain/utils/loss.py
Due: none

Better naming for the feature layer selection
  examples/1-advanced/08-classifier.py
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/classifier/model.py
Due: none

Fix syntax error in .readthedocs.yml
  .readthedocs.yml
Due: none

Update examples/1-advanced/08-classifier.py
  examples/1-advanced/08-classifier.py
Due: none

Update src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/model.py
Due: none

Fix checkpoint tests
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v11.ckpt.gz
Due: PET, LLPR

Better documentation and error messages
  docs/src/concepts/batch-bounds.rst
  docs/src/concepts/index.rst
  examples/1-advanced/09-training-with-batch-bounds.py
  src/metatrain/utils/errors.py
Due: none

Lint
  docs/src/concepts/batch-bounds.rst
Due: none

Release metatrain 2026.1
  docs/src/dev-docs/changelog.rst
Due: none

Fix some bugs
  examples/1-advanced/09-classifier.py
  examples/1-advanced/carbon_allotropes.xyz
  examples/1-advanced/options-classifier.yaml
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
Due: none

Implement batch bounds to even out resource usage during training (#990)
  docs/src/concepts/batch-bounds.rst
  docs/src/concepts/index.rst
  src/metatrain/deprecated/nanopet/checkpoints.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v8.ckpt.gz
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v2_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v7_trainer-v10.ckpt.gz
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/distributed/batch_utils.py
  src/metatrain/utils/errors.py
  tests/utils/data/test_batch_bounds.py
Due: SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Rename MACE output features temporarily
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Rename MACE output features temporarily (#998)
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Add attention temperature to PET (#993)
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v11.ckpt.gz
  src/metatrain/pet/tests/test_functionality.py
Due: PET, LLPR, FlashMD

Update changelog with the latest changes
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v12.ckpt.gz
Due: PET, FlashMD

Also modify other functions
  src/metatrain/utils/data/target_info.py
  tests/utils/data/test_target_info.py
Due: none

Fix tests
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
Due: LLPR

Allow one-shot CRPS calibration
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Bugfix for device
  src/metatrain/utils/loss.py
Due: none

Add copilot instructions
  .github/copilot-instructions.md
Due: none

Debug lines
  src/metatrain/utils/loss.py
Due: none

Fixed index
  src/metatrain/utils/loss.py
Due: none

Implement changes everywhere
  src/metatrain/utils/loss.py
Due: none

Fix fine-tuning for FlashMD
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/utils/data/dataset.py
Due: FlashMD

Fix checkpoint?
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
Due: LLPR

Fix tests
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v12.ckpt.gz
  src/metatrain/utils/data/dataset.py
Due: PET, FlashMD
