Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Increase the time for tox test to 40 minutes
  ci/cscs.yml
Due: none

feat: add preset support for PET hyperparameters
  examples/0-beginner/options-pet-preset.yaml
  src/metatrain/cli/train.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/presets.py
  src/metatrain/pet/tests/test_presets.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/architectures.py
  src/metatrain/utils/tests/test_presets.py
Due: PET

Remove outdated comment about version pinning
  pyproject.toml
Due: none

Make MACE export not break the ability to save a checkpoint (#1020)
  src/metatrain/experimental/mace/model.py
Due: none

Refactor SOAP-BPNN modules
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v8_trainer-v10.ckpt.gz
Due: SOAP-BPNN

Apply review suggestions
  src/metatrain/utils/abc.py
  src/metatrain/utils/testing/training.py
  tests/distributed/submit-distributed.sh
Due: none

Fix the handling of `num_epochs` for restart and finetune contexts (#845)
  ci/cscs.yml
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/testing/training.py
  tests/distributed/options-distributed-finetuning.yaml
  tests/distributed/options-distributed-multitarget.yaml
  tests/distributed/options-distributed.yaml
  tests/distributed/options.yaml
Due: SOAP-BPNN, PET

Small speed-up
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/modules/power_spectrum.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN

Support rank-2 tensors and non_conservative_stress
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/test_functionality.py
Due: SOAP-BPNN

Handle non-periodic and zero volume systems in ASE writer
  src/metatrain/utils/data/writers/ase.py
Due: none

Fix key sorting bug across different processes
  src/metatrain/utils/metrics.py
Due: none

add charge and spin to dataset
  pyproject.toml
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
Due: PET

add spin/charge hyperparameters to systemhypers
  src/metatrain/utils/data/dataset.py
Due: none

small fixes
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

add spin/charge hyperparameters to systemhypers
  src/metatrain/share/base_hypers.py
Due: none

add new checkpoint
  pyproject.toml
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

new checkpoint file
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v12.ckpt.gz
Due: PET

revert toml change
  pyproject.toml
Due: none

Fix a bug affecting metric calculation with NaN stress inputs (#1035)
  src/metatrain/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

add checkpoints for classifier and llpr
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

add checkpoints for classifier and llpr
  src/metatrain/llpr/checkpoints.py
Due: LLPR

Address minor review comments
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
Due: SOAP-BPNN

Clean up examples
  examples/1-advanced/09-symplectic-flashmd.py
  examples/1-advanced/options-flashmd-symplectic.yaml
  examples/1-advanced/options-flashmd.yaml
Due: none

Add tests for legacy/no legacy and for tensorial outputs
  src/metatrain/soap_bpnn/tests/test_functionality.py
Due: SOAP-BPNN

Add TorchScript tests for legacy and add_lambda_basis branches
  src/metatrain/soap_bpnn/tests/test_basic.py
Due: SOAP-BPNN

Fix inconsistencies and remove gradaccum
  examples/1-advanced/options-flashmd-symplectic.yaml
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
Due: none

Remove profiling
  src/metatrain/experimental/flashmd_symplectic/trainer.py
Due: none

Refactor SOAP-BPNN model (#1038)
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/modules/power_spectrum.py
  src/metatrain/soap_bpnn/modules/tensor_basis.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v8_trainer-v10.ckpt.gz
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/soap_bpnn/tests/test_functionality.py
Due: SOAP-BPNN

Clean up code and reformat
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/utils/data/dataset.py
Due: none

Update checkpoint
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
Due: none

Remove architecture name attribute
  src/metatrain/experimental/flashmd/tests/test_basic.py
Due: FlashMD

Skip evaluation after LLPR calibration or training
  src/metatrain/cli/train.py
Due: none

Skip only then train_all_parameters is false
  src/metatrain/cli/train.py
Due: none

Fix
  src/metatrain/cli/train.py
Due: none

Skip model evaluation after LLPR calibration or training (#1041)
  src/metatrain/cli/train.py
Due: none

Some very important changes
  LICENSE
Due: none

Increase default learning rate
  examples/1-advanced/options-flashmd-symplectic.yaml
Due: none
