Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Try to add component reporting
  .codecov.yml
Due: none

Casting the width to float
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

fix docs
  src/metatrain/llpr/documentation.py
Due: LLPR

Rename options and backward compatibility
  examples/0-beginner/00-basic-usage.sh
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/schema-hypers.json
Due: PET, FlashMD

Linting
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Use the model cutoff as neighbor selection cutoff
  src/metatrain/pet/modules/structures.py
Due: PET

add docs section
  docs/src/concepts/loss-functions.rst
Due: none

Fix gradient request bug
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/trainer.py
Due: none

Fix numerical instabilities in the bump function
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/utilities.py
Due: PET

More permissive eps value
  src/metatrain/pet/modules/utilities.py
Due: PET

Debug Best metric
  src/metatrain/pet/trainer.py
Due: PET

Lint
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/trainer.py
Due: none

Provide a good error message if target L is too large
  src/metatrain/experimental/phace/modules/base_model.py
Due: none

Replace `torch.nn.Module` with `metatensor.torch.learn.nn.Module`
  src/metatrain/deprecated/nanopet/modules/attention.py
  src/metatrain/deprecated/nanopet/modules/encoder.py
  src/metatrain/deprecated/nanopet/modules/feedforward.py
  src/metatrain/deprecated/nanopet/modules/transformer.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/modules/encoder.py
  src/metatrain/gap/model.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/long_range.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
Due: GAP, SOAP-BPNN, PET, NanoPET, FlashMD

Update a little bit
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/gap/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/long_range.py
  src/metatrain/utils/scaler/scaler.py
Due: GAP, SOAP-BPNN, FlashMD

Remove more and break more tests
  src/metatrain/deprecated/nanopet/model.py
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/test_torchscript.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/scaler/scaler.py
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Remove `to` related to properties of `self`
  src/metatrain/gap/model.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/scaler/_base_scaler.py
Due: GAP

Linting fix
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Fixed torchscript
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/utilities.py
Due: PET

Fix autograd test
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/__init__.py
  src/metatrain/utils/testing/autograd.py
Due: PET

Tweaked tolerances in tests so they pass
  src/metatrain/utils/testing/autograd.py
Due: none

Fix LLPR tests
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
Due: LLPR

revert epsilon to cosine cutoff
  src/metatrain/pet/modules/utilities.py
Due: PET

Scatter_add -> index_add
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Linter
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

more review fixes
  src/metatrain/pet/schema-hypers.json
  src/metatrain/pet/tests/__init__.py
  src/metatrain/pet/tests/test_regression.py
Due: PET

Linter
  src/metatrain/pet/tests/__init__.py
Due: PET

Include the target name in the scaler logging
  src/metatrain/utils/scaler/_base_scaler.py
Due: none

Uncomment command in tox.ini tests
  tox.ini
Due: none

Documenting hyperparameters in python
  docs/src/architectures/README.md
  docs/src/architectures/templates/flashmd.rst
  docs/src/architectures/templates/gap.rst
  docs/src/architectures/templates/generic.rst
  docs/src/architectures/templates/llpr.rst
  docs/src/architectures/templates/nanopet.rst
  docs/src/architectures/templates/pet.rst
  docs/src/architectures/templates/soap_bpnn.rst
  docs/src/conf.py
  docs/src/dev-docs/dummy_model.py
  docs/src/dev-docs/dummy_trainer.py
  src/metatrain/deprecated/nanopet/hypers.py
  src/metatrain/deprecated/nanopet/model.py
  src/metatrain/deprecated/nanopet/tests/test_functionality.py
  src/metatrain/experimental/flashmd/hypers.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/gap/hypers.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/hypers.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/hypers.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/architectures.py
  tox.ini
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Moved architecture generation and documented variables
  docs/src/architectures/README.md
  docs/src/conf.py
Due: none

Finished creating all shared tests; polishing still needed
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/utils/testing/autograd.py
  src/metatrain/utils/testing/base.py
  src/metatrain/utils/testing/equivariance.py
Due: PET

First draft
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/utils/testing/base.py
  src/metatrain/utils/testing/equivariance.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
