Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Release candidates everywhere
  pyproject.toml
Due: none

Fix mypy errors in LossAggregator config typing
  src/metatrain/utils/loss.py
Due: none

Add max-atom-sampler checkpoint migration function
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

Restore broader warning filters and silence requested_inputs deprecation
  pyproject.toml
  src/metatrain/cli/eval.py
Due: none

Use memory-efficient attention
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/triton_memory_efficient_attention.py
Due: PET

pyscf-related tests
  tests/utils/test_pyscf_loss.py
Due: none

Add expansion factor to nonlinear readout correction
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/modules/transformer.py
Due: PET

rename momenta to momentum
  pyproject.toml
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd/tests/test_torchscript.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_torchscript.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/readers/ase.py
Due: FlashMD

rename masses to mass
  pyproject.toml
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/utils/data/dataset.py
Due: FlashMD

drop positions, velocities, charges
  pyproject.toml
Due: none

Non-static shapes
  src/metatrain/pet/modules/triton_memory_efficient_attention.py
Due: PET

More refactoring
  examples/0-beginner/options-memmap.yaml
  examples/1-advanced/01-llpr.py
  examples/1-advanced/03-fitting-generic-targets.py
  examples/1-advanced/08-llpr-ensemble-training.py
  examples/1-advanced/09-classifier.py
  examples/1-advanced/options-dos.yaml
  examples/1-advanced/options-flashmd-finetune.yaml
  examples/1-advanced/options-flashmd-symplectic.yaml
  examples/1-advanced/options-flashmd.yaml
  pyproject.toml
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/utils/data/readers/readers.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: PET

add momenta momentum rename for a variable
  src/metatrain/utils/data/readers/ase.py
Due: none

Lint and fix torchscript
  examples/1-advanced/08-llpr-ensemble-training.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/testing/architectures.py
Due: SOAP-BPNN

Replace per_atom in docs
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/getting-started/train_yaml_config.rst
Due: none

Remove pyproject.toml change
  pyproject.toml
Due: none

not needed anymore: "ignore:calling Model.requested_inputs\\(use_new_names=False\\) is deprecated:UserWarning",
  pyproject.toml
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

rename plural to singlular in yaml and flashmd and flashmd_symplectic state dicts, add tests and updated checkpoints
  examples/1-advanced/options-flashmd-finetune.yaml
  examples/1-advanced/options-flashmd-symplectic.yaml
  examples/1-advanced/options-flashmd.yaml
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v5.ckpt.gz
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd/tests/test_migration.py
  src/metatrain/experimental/flashmd/tests/test_torchscript.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_migration.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_torchscript.py
  src/metatrain/utils/omegaconf.py
  tests/utils/test_omegaconf.py
Due: FlashMD

Sanitize inputs
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/pydantic.py
  tests/utils/test_hypers.py
Due: none

Add end to end training deprecation test, fix validation bug
  src/metatrain/share/base_hypers.py
  tests/cli/test_train_model.py
  tests/conftest.py
  tests/resources/options-spherical.yaml
Due: none

Fix eval validation
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/pydantic.py
  tests/cli/test_train_model.py
Due: none

Continue fixing eval
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/pydantic.py
Due: none

fix tests
  tests/resources/options-spherical.yaml
Due: none

Metric losses with readouts
  docs/src/concepts/loss-functions.rst
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_loss.py
  tests/utils/test_pydantic.py
  tests/utils/test_pyscf_loss.py
  tox.ini
Due: PET

ETB builder
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Retry at building ETB
  src/metatrain/utils/pyscf_loss.py
Due: none

DeprecationWarning was not showing up in logs
  src/metatrain/utils/logging.py
Due: none

lint
  src/metatrain/utils/logging.py
Due: none

replace "features" with "feature" in models
  examples/1-advanced/09-classifier.py
  src/metatrain/cli/eval.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_target_info.py
Due: SOAP-BPNN, PET, FlashMD

replace "features" with "feature" in documentation
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: SOAP-BPNN, PET, FlashMD

delete filterwarning of deprecated warnings for features
  examples/1-advanced/09-classifier.py
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/target_info.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

rename deprecated metatomic 0.1.12 "features" to "feature" (#1152)
  examples/1-advanced/09-classifier.py
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_target_info.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Efficient ragged truncation
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/tests/test_functionality.py
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

rename "non_conservative_forces" to "non_conservative_force"
  docs/src/getting-started/train_yaml_config.rst
  examples/0-beginner/options-memmap.yaml
  pyproject.toml
  src/metatrain/utils/data/target_info.py
  tests/cli/test_train_model.py
Due: none

flashmd: accept deprecated 'momenta' field name for backwards compat
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/modules/structures.py
Due: FlashMD

First implementation of atom pairs
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/scaler/scaler.py
  tests/conftest.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

First graph2mat implementations
  src/metatrain/cli/eval.py
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/remove.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Make GPU work
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Add calculator
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
