Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Accept documented str/shorthand loss config in LossAggregator
  src/metatrain/utils/loss.py
Due: none

Update gap extras
  pyproject.toml
Due: none

Remove setup python from CI
  .github/workflows/tests.yml
Due: none

Bump uv
  .github/workflows/tests.yml
Due: none

Bump uv everywhere
  .github/workflows/architecture-tests.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

Bring back setup python
  .github/workflows/tests.yml
Due: none

lint
  .github/workflows/tests.yml
Due: none

Bump uv to make CI run with the new metatensor releases (#1146)
  .github/workflows/architecture-tests.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Remove the extra dependency for gap
  pyproject.toml
Due: none

Pin sphericart on windows
  pyproject.toml
Due: none

Make model type print a bit prettier
  src/metatrain/cli/train.py
Due: none

Nonlinear readouts
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
Due: PET

Add requested_inputs to FlashMD and FlashMDSymplectic
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: FlashMD

temporary override metatomic with pr branch
  pyproject.toml
Due: none

temporary filter warning for overriding metatomic-torch
  pyproject.toml
Due: none

temporary: attempt to add cpu torch index
  pyproject.toml
Due: none

temporary: another attempr to use cpu torch index
  pyproject.toml
Due: none

another try on cpu torch from GF
  pyproject.toml
  tox.ini
Due: none

PETT
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/modules/transformer.py
Due: PET

Fix bugs
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Add deeper nonlinear corrections
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
Due: PET

Double cutoff
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
Due: PET

Another try for CPU torch
  .github/workflows/architecture-tests.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

temporar: try to fix readthedocs job
  .readthedocs.yml
Due: none

point to release candidate or metatomic-torch
  .readthedocs.yml
  pyproject.toml
Due: none

use metatomic-torch 0.1.14
  .readthedocs.yml
  pyproject.toml
Due: none

drop cpu torch workarounds
  .github/workflows/architecture-tests.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  tox.ini
Due: none

use block.copy(deep=False)
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/gap/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/per_atom.py
  src/metatrain/utils/scaler/_base_scaler.py
  tests/utils/test_metrics.py
Due: GAP, SOAP-BPNN, FlashMD

Split heads
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_basic.py
  tests/cli/test_train_model.py
Due: PET

Use "MATH" backend for double-backward attention
  src/metatrain/pet/modules/transformer.py
Due: PET

Move sphericart pin
  pyproject.toml
Due: none

More convergence steps
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Fix zero-neighbor limit
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Regenerate PET v14 checkpoint fixture after scaler block.copy(deep=False) merge
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
Due: PET

dependency bump: metatensor 0.9, metatomic 0.1.14, featomic 0.7.4 (#1144)
  .github/workflows/architecture-tests.yml
  .github/workflows/tests.yml
  pyproject.toml
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/gap/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/per_atom.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_readers.py
  tests/utils/test_metrics.py
Due: GAP, SOAP-BPNN, FlashMD

Fixed some comments by Copilot
  src/metatrain/experimental/phace/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/dataset.py
Due: none

tests changed
  src/metatrain/utils/testing/architectures.py
  tests/cli/test_train_model.py
  tests/resources/test.yaml
  tests/utils/data/test_combine_dataloaders.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_get_dataset.py
  tests/utils/data/test_readers.py
  tests/utils/data/test_readers_metatensor.py
  tests/utils/data/test_samplers.py
  tests/utils/data/test_target_info.py
  tests/utils/data/test_writers.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
  tests/utils/test_scaler.py
Due: none

sofiia's comments+linting
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
Due: none

fix test linting
  src/metatrain/pet/model.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_additive.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
