Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Update examples/0-beginner/02-fine-tuning.py
  examples/0-beginner/02-fine-tuning.py
Due: none

Fix stuff
  docs/src/concepts/fine-tuning.rst
  examples/0-beginner/02-fine-tuning.py
Due: none

Add comment on time-reversibility
  examples/1-advanced/04-flashmd.py
Due: none

Update FlashMD fine-tuning example (#1005)
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/options-flashmd-finetune.yaml
Due: none

Migrate to new hyperparameter format
  src/metatrain/experimental/flashmd_symplectic/default-hypers.yaml
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/schema-hypers.json
Due: none

Make linter happy
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/modules/structures.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/utils/data/dataset.py
Due: none

Fix ngpu dependency (#3)
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Add workflow figure
  docs/requirements.txt
  docs/src/faq.rst
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/robots.txt
  docs/src/workflow.png
  docs/static/images/workflow-dark.svg
  docs/static/images/workflow.svg
  examples/0-beginner/00-basic-usage.sh
  examples/0-beginner/01-data_preparation.py
Due: none

Add workflow figure to beginner example (#1009)
  docs/requirements.txt
  docs/src/faq.rst
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/robots.txt
  docs/src/workflow.png
  docs/static/images/workflow-dark.svg
  docs/static/images/workflow.svg
  examples/0-beginner/00-basic-usage.sh
  examples/0-beginner/01-data_preparation.py
Due: none

Update src/metatrain/llpr/model.py
  src/metatrain/llpr/model.py
Due: LLPR

Use `no_grad` for computing the covariance too
  src/metatrain/llpr/model.py
Due: LLPR

Update logging
  src/metatrain/llpr/trainer.py
Due: LLPR

Set random seed in `generate_ensemble` to prevent different processes from creating desynced weights
  src/metatrain/llpr/model.py
Due: LLPR

Fix some problems for unconstrained equivariant targets
  src/metatrain/llpr/model.py
Due: LLPR

Minor tweaks to doc setup
  docs/requirements.txt
  docs/src/conf.py
Due: none

Document why we set the sphinx constraint
  docs/requirements.txt
Due: none

Minor tweaks to doc setup (#1011)
  docs/requirements.txt
  docs/src/conf.py
Due: none

Make MACE work with LLPR
  src/metatrain/experimental/mace/model.py
  src/metatrain/llpr/model.py
  src/metatrain/utils/testing/output.py
Due: LLPR

Make sure the LLPR object is not modified on export
  src/metatrain/llpr/model.py
Due: LLPR

Fix bugs and implement double calibration
  src/metatrain/llpr/model.py
Due: LLPR

Document why we set the sphinx constraint (#1012)
  docs/requirements.txt
Due: none

Add variant specification examples for ASE and LAMMPS in fine-tuning documentation (#1007)
  docs/src/concepts/fine-tuning.rst
  examples/0-beginner/02-fine-tuning.py
Due: none

Enable symplectic FlashMD tests
  tox.ini
Due: none

Add tests
  .github/workflows/architecture-tests.yml
Due: none

Fix errors
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_torchscript.py
Due: FlashMD

Propagate gradients properly
  src/metatrain/utils/data/dataset.py
Due: none

More fixing
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
Due: none

Fixed sign on forces
  src/metatrain/utils/loss.py
Due: none

Fix wrong reference
  src/metatrain/experimental/flashmd/tests/test_basic.py
Due: FlashMD

Reformat
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_torchscript.py
  src/metatrain/utils/data/dataset.py
Due: FlashMD

Fix architecture name in checkpoint
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
Due: none

Fix restarting
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
Due: none

Add architecture to test
  tests/utils/test_architectures.py
Due: none

Exclude unrelated changes
  src/metatrain/experimental/flashmd_symplectic/modules/structures.py
  src/metatrain/pet/modules/nef.py
  src/metatrain/utils/neighbor_lists.py
Due: PET

Remove duplicated modules
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/modules/additive.py
  src/metatrain/experimental/flashmd_symplectic/modules/encoder.py
  src/metatrain/experimental/flashmd_symplectic/modules/structures.py
Due: none

Reuse dataset file
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/__init__.py
  src/metatrain/experimental/flashmd_symplectic/tests/data/flashmd.xyz
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
Due: none

Add example for symplectic FlashMD training
  examples/1-advanced/09-symplectic-flashmd.py
  examples/1-advanced/options-flashmd-symplectic.yaml
Due: none

Remove redundant files
  tests/resources/dump_data.py
  tests/resources/flashmd.xyz
  tests/resources/options-flashmd.yaml
  tests/resources/options-symplectic.yaml
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
