Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

"One more fix"
  src/metatrain/pet/trainer.py
Due: PET

Remove bias from covariant readouts
  src/metatrain/pet/model.py
Due: PET

Ignore removable handles in torchscript
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
Due: PET

Update description
  examples/1-advanced/04-flashmd.py
Due: none

Another error fix
  src/metatrain/utils/loss.py
Due: none

Allow zero-sized validation splits
  src/metatrain/share/base_hypers.py
Due: none

Add check for squared residuals dimensionality
  src/metatrain/llpr/model.py
Due: LLPR

lint
  src/metatrain/llpr/model.py
Due: LLPR

Fix bug
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/pet/trainer.py
Due: PET, FlashMD

Add tutorial on fine-tuning FlashMD
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/options-flashmd-finetune.yaml
Due: none

Implement checkpoint update
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Fix docs
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Forcefully disable composition model...again
  src/metatrain/pet/trainer.py
Due: PET

Fix fine-tuning for FlashMD (#1002)
  examples/1-advanced/04-flashmd.py
  examples/1-advanced/options-flashmd-finetune.yaml
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v12.ckpt.gz
  src/metatrain/utils/data/dataset.py
Due: PET, LLPR, FlashMD

Fix LLPR calibration (#1004)
  src/metatrain/llpr/model.py
Due: LLPR

disable scaling at validation because it bugs somehow
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
Due: PET

Disable metric calculators
  src/metatrain/pet/trainer.py
Due: PET

Fix label creation for variants of generic targets (#991)
  src/metatrain/utils/data/target_info.py
  tests/utils/data/test_target_info.py
Due: none

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Fix typo
  docs/src/dev-docs/changelog.rst
Due: none

Release metatrain 2026.1 (#997)
  docs/src/dev-docs/changelog.rst
Due: none

Update FlashMD fine-tuning example
  examples/1-advanced/04-flashmd.py
Due: none

Add empirical CRPS loss
  docs/src/concepts/loss-functions.rst
  src/metatrain/utils/loss.py
Due: none

Update trainer version
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/trainer.py
Due: LLPR

lint
  src/metatrain/llpr/trainer.py
Due: LLPR

update docs
  src/metatrain/utils/loss.py
Due: none

Update fine-tuning yaml file
  examples/1-advanced/options-flashmd-finetune.yaml
Due: none

Update examples/0-beginner/02-fine-tuning.py
  examples/0-beginner/02-fine-tuning.py
Due: none

Update docs/src/concepts/fine-tuning.rst
  docs/src/concepts/fine-tuning.rst
Due: none

Apply suggestions from code review
  docs/src/concepts/fine-tuning.rst
  examples/0-beginner/02-fine-tuning.py
Due: none

change line length comment
  .github/copilot-instructions.md
Due: none

Add todo
  src/metatrain/llpr/trainer.py
Due: LLPR

Add copilot instructions (#1000)
  .github/copilot-instructions.md
Due: none

Add distributed calibration support to LLPR architecture
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Fix wrong calling convention
  src/metatrain/utils/scaler/scaler.py
Due: none

Restore original FlashMD
  src/metatrain/experimental/flashmd/__init__.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/modules/encoder.py
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/experimental/flashmd/tests/__init__.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v1_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v2_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v2_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/experimental/flashmd/tests/data/flashmd.xyz
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd/tests/test_torchscript.py
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
