Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

update changelog
  docs/src/dev-docs/changelog.rst
Due: none

fix lint
  tests/utils/data/test_dataset.py
Due: none

read periodicity from pbc.npy in memmapdataset
  docs/src/concepts/dataset-formats.rst
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/writers/memmap.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_writers.py
Due: none

ns.py should be only scalar
  docs/src/concepts/dataset-formats.rst
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataset.py
Due: none

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Add a loss with an equivariance error penalty
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/test_equivariance_penalty.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/equivariance_penalty.py
  src/metatrain/utils/loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_equivariance_penalty.py
  tests/utils/test_loss.py
Due: PET

Add equivariance error to mtt eval
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/per_atom.py
  tests/utils/test_metrics.py
Due: none

Shallow ensembles in PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v19_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_shallow_ensemble.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/ensemble.py
  src/metatrain/utils/loss.py
Due: PET

Extend `mtt eval` to optionally log per-block metrics
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

Add spherical harmonics geometry embeddings to PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v18_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_geometry_embedding.py
Due: PET

docs: fix typos in PET documentation (#1253)
  src/metatrain/pet/documentation.py
Due: PET

docs: add conda installation reference to architecture pages
  docs/src/architectures/templates/installation.rst
Due: none

Support `from_file` and `from_hypers` dpa3 test modes
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

And remove v3v2 ckpt
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
Due: none

Linting
  src/metatrain/experimental/dpa3/tests/test_basic.py
Due: none

Lock training runs in Python
  tests/conftest.py
  tests/resources/run_trainings.sh
  tox.ini
Due: none

Add support for multi-task DPA3 models (#1246)
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Update to metatensor-learn v0.6.1
  pyproject.toml
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
Due: SOAP-BPNN

Update the outer layer of composition model to mts.learn.nn.Module
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/utils/abc.py
Due: none

And also scaler models
  src/metatrain/scaler/checkpoints.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
Due: none

And also PET and LLPR
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
Due: PET, LLPR

And also soap
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: SOAP-BPNN

Use the new mts.keys_to_samples to densify atomic basis data
  src/metatrain/utils/data/atomic_basis_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

And experimental models
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v6.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
Due: FlashMD

Use the new mts.keys_to_samples to densify atomic basis data (#1263)
  src/metatrain/utils/data/atomic_basis_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

Apply nn.Module to get rid of calling `.to` for mts objects manually
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/gap/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
Due: GAP, SOAP-BPNN, PET, FlashMD

Formatting, linting, and minor fixing
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Helpers for single direction edges
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/match_tmaps.py
  src/metatrain/utils/data/spherical_helpers.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
  tests/utils/data/test_match_tmaps.py
  tests/utils/data/test_spherical_helpers.py
Due: none

Update atom pair utilities and Scaler (#13)
  src/metatrain/scaler/_base_scaler.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

Add experimental edge composition model
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/__init__.py
  src/metatrain/experimental/edge_composition/checkpoints.py
  src/metatrain/experimental/edge_composition/documentation.py
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/__init__.py
  src/metatrain/experimental/edge_composition/radials/exponential.py
  src/metatrain/experimental/edge_composition/radials/splines.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/tests/test_basic.py
  src/metatrain/experimental/edge_composition/tests/test_samples.py
  src/metatrain/experimental/edge_composition/trainer.py
  src/metatrain/experimental/edge_composition/utils/samples.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/utils/additive/remove.py
  tox.ini
Due: none

Add graph2mat architecture
  src/metatrain/cli/eval.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/log_transform.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/experimental/space/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/matrix.py
  src/metatrain/utils/scaler/remove.py
Due: none

Unlock per block logging
  src/metatrain/experimental/graph2mat/trainer.py
Due: none

Enable contractions
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/utils/loss.py
Due: none

Clean up matrix loss
  src/metatrain/utils/loss.py
Due: none

Update mts-learn version requirement
  pyproject.toml
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, PET
