Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Make FlashMD work with the MetatrainModel wrapper (#17)
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd/tests/test_torchscript.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/test_checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_continue.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_torchscript.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/utils/io.py
  src/metatrain/utils/wrapper.py
Due: FlashMD

Ported GAP (what everyone was waiting for)
  src/metatrain/gap/tests/test_errors.py
  src/metatrain/gap/tests/test_exported.py
  src/metatrain/gap/tests/test_regression.py
  src/metatrain/gap/tests/test_torchscript.py
  src/metatrain/gap/trainer.py
Due: GAP

Make composition tests pass
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v3.ckpt.gz
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/trainer.py
  src/metatrain/pet/trainer.py
Due: PET

Almost all tests done
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
  tests/utils/test_additive.py
  tests/utils/test_augmentation.py
Due: none

fix some tests
  src/metatrain/gap/tests/test_regression.py
  src/metatrain/gap/tests/test_torchscript.py
  src/metatrain/pet/tests/test_pet_mad.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: GAP, SOAP-BPNN, PET

Port DPA3
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/utils/io.py
Due: none

Making metatrain wrapper work for PET
  src/metatrain/cli/train.py
  src/metatrain/composition/__init__.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/pet/tests/test_composition_checkpoint.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/pet/tests/test_pet_mad.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/match_tmaps.py
  src/metatrain/utils/io.py
  src/metatrain/utils/testing/checkpoints.py
  src/metatrain/utils/testing/training.py
  src/metatrain/utils/wrapper.py
Due: PET, LLPR

Ported MACE
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/tests/test_regression.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/io.py
Due: SOAP-BPNN

Fix some tests
  src/metatrain/utils/io.py
  src/metatrain/utils/wrapper.py
  tests/utils/data/test_atomic_basis_helpers.py
  tests/utils/test_abc.py
  tests/utils/test_io.py
Due: none

Fix flashmd checkpoint
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
Due: FlashMD

Made classifier work
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/classifier/tests/test_classifier.py
  src/metatrain/experimental/classifier/trainer.py
Due: none

Fix last test
  tests/utils/test_additive.py
Due: none

Avoid omegaconf deprecation warning (#1298)
  pyproject.toml
  src/metatrain/utils/omegaconf.py
Due: none

Update all checkpoints
  src/metatrain/composition/tests/checkpoints/model-v1_trainer-v3.ckpt.gz
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/lorem/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/scaler/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: SOAP-BPNN, PET, LLPR, FlashMD

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
