Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Reorganized stuff for the coupled basis
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/spherical_target_helpers.py
  src/metatrain/utils/data/target_info.py
Due: none

lint
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

Add tests for rotational augmentation (#4)
  tests/resources/spherical_targets_rotated.zip
  tests/resources/spherical_targets_unrotated.zip
  tests/utils/test_augmentation.py
Due: none

Add tests for architecture outputs
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
Due: SOAP-BPNN

Make sparsification work on GPU
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

Revert changes in eval.py
  src/metatrain/cli/eval.py
Due: none

Undo change to PET's model.py
  src/metatrain/pet/model.py
Due: PET

Adding spherical atomic basis targets
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/_merge_atom_types.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
  src/metatrain/utils/data/readers/metatensor.py
  src/metatrain/utils/data/spherical_target_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/pydantic.py
  src/metatrain/utils/scaler/scaler.py
Due: PET

Added composition model and scaler (#3)
  src/metatrain/cli/eval.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/spherical_target_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
Due: PET

Finalized target info with docs and tests
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/target_info.py
  tests/utils/data/test_target_info.py
Due: none

Added tests for composition model and fixed bug
  src/metatrain/utils/additive/_base_composition.py
  tests/utils/test_additive.py
Due: none

Remove validation dataset size check
  src/metatrain/experimental/phace/trainer.py
Due: none

Small tweaks
  src/metatrain/cli/train.py
  src/metatrain/pet/trainer.py
Due: PET

Always fit composition and scaler
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/scaler/scaler.py
Due: none

test: swap metatensor deps to labels-values-array-clean branch for v0.2.0 compat testing
  pyproject.toml
Due: none

fix(dpa3): resolve mypy errors and add missing checkpoint
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
Due: none

fix(dpa3): add pytest-cov to tox env for CI coverage
  tox.ini
Due: none

Avoid overriding successive targets in LLPR Cholesky decomposition
  src/metatrain/llpr/model.py
Due: LLPR

Update src/metatrain/llpr/model.py
  src/metatrain/llpr/model.py
Due: LLPR

Remove print
  src/metatrain/llpr/model.py
Due: LLPR

fix: set METATENSOR_NO_LOCAL_DEPS=1 to prevent file:// URL conflicts in uv
  tox.ini
Due: none

fix: CI clones metatensor branch locally, reverts pyproject.toml to loose version pins
  .github/workflows/build.yml
  .github/workflows/docs.yml
  pyproject.toml
Due: none

fix: don't pre-install metatensor-torch (tox gets it from PyPI)
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

fix: disable build packaging job (requires released metatensor)
  .github/workflows/build.yml
Due: none

fix: install all metatensor packages from branch clone (including torch), re-enable build
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

fix: add setuptools to CI pre-install for --no-build-isolation
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

fix: install torch before metatensor-torch, use uv pip in build.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

ci: disable build job (metatensor setup.py needs setuptools compat fix)
  .github/workflows/build.yml
Due: none

Increase test-tox cscs-ci run time limit
  ci/cscs.yml
Due: none

Increase test-tox cscs-ci run time limit (#1102)
  ci/cscs.yml
Due: none

dpa3 architecture (#725)
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  README.md
  docs/static/refs.bib
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/experimental/dpa3/__init__.py
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/modules/__init__.py
  src/metatrain/experimental/dpa3/modules/structures.py
  src/metatrain/experimental/dpa3/tests/__init__.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/dpa3/tests/test_compile.py
  src/metatrain/experimental/dpa3/tests/test_precision.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
  src/metatrain/utils/testing/torchscript.py
  tests/utils/test_architectures.py
  tox.ini
Due: none

linting
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

perf(sampler): vectorise atom-count initialisation for large datasets
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

linting
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

feat(sampler): add min_atoms, sampler_seed, and fixes
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: PET

fix linter, checkpoint
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v13.ckpt.gz
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/writers/ase.py
  tests/utils/data/test_samplers.py
Due: PET

remove leftover spin/charge reference
  src/metatrain/utils/data/writers/ase.py
Due: none

better sampler
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/__init__.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  src/metatrain/utils/data/writers/ase.py
  tests/utils/data/test_samplers.py
Due: PET

remove pin memory
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/__init__.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
