Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

feature: Support writing predictions to extxyz files (#1256)
  src/metatrain/utils/data/writers/__init__.py
  tests/cli/test_eval_model.py
  tests/utils/data/test_readers.py
  tests/utils/data/test_writers.py
Due: none

Extend `mtt eval` to optionally log per-block metrics
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

Inject diversity to shallow ensemble training
  src/metatrain/pet/documentation.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_shallow_ensemble.py
  src/metatrain/utils/ensemble.py
Due: PET

fix hook eval
  src/metatrain/cli/eval.py
Due: none

Raw-tensor system transport across dataloader workers
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataloaders.py
Due: PET

Defer per-batch host syncs in metric and loss accumulation
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/metrics.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Keep the batch order of system ids when padding for evaluation
  src/metatrain/cli/eval.py
  tests/cli/test_eval_atomic_basis_ids.py
Due: none

fix: undo the removed scale in the density losses
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Record the removed scale in the scale-removal transform
  src/metatrain/utils/scaler/remove.py
Due: none

Refactor metrics reporting to allow L2 real-space density error to be reported in train/eval
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/reported_metrics.py
  tests/utils/test_abc.py
  tests/utils/test_pyscf_loss.py
  tests/utils/test_reported_metrics.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Implement metric-loss for density learning, and make available in SPACE and PET
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_pyscf_loss.py
Due: PET

Port the system-frame augmenter to the batched O3Transformations API
  src/metatrain/utils/augmentation.py
Due: none

Add a byte-budgeted LRU cache for collate-transform reuse
  src/metatrain/utils/data/byte_budget_cache.py
  tests/utils/data/test_byte_budget_cache.py
Due: none

Take the via_w coefficient layout from the projections
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Cache metric matrices across epochs
  tests/utils/test_pyscf_loss_cache.py
Due: none

Fix torchscript bug in r-string
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/pet/modules/backend.py
Due: PET

Ignore warnings when restarting model with strange hypers
  src/metatrain/utils/testing/input.py
Due: none

Deal with nested dictionaries
  src/metatrain/composition/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/testing/input.py
Due: SOAP-BPNN, PET, FlashMD

Final touches
  docs/src/dev-docs/changelog.rst
  src/metatrain/utils/testing/input.py
Due: none

Avoid precision hyper
  src/metatrain/utils/testing/input.py
Due: none

Fix pet tests
  src/metatrain/utils/testing/input.py
Due: none

Fix dpa3 test
  src/metatrain/utils/testing/input.py
Due: none

Apply suggestion from @PicoCentauri
  src/metatrain/composition/model.py
Due: none

Check hypers on restart
  src/metatrain/cli/train.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_basic.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/test_basic.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/testing/input.py
  tests/utils/test_abc.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Rename target_name from energy/finetune to energy_finetune
  src/metatrain/utils/data/writers/metatensor.py
Due: none

Check input model hypers when restarting trainings (#1232)
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/train.py
  src/metatrain/composition/model.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_basic.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/test_basic.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/testing/input.py
  tests/utils/test_abc.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Linting
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Add tests for multi-task DPA3 models
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Allow for exporting multi-task DPA3 models
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Renaming
  src/metatrain/experimental/dpa3/model.py
Due: none

Clean up matrix loss
  src/metatrain/utils/loss.py
Due: none

Unlock per block logging
  src/metatrain/experimental/graph2mat/trainer.py
Due: none

Make multipole hook work on GPU
  src/metatrain/utils/hooks/global_multipole.py
Due: none

Fix hooks for mace
  src/metatrain/experimental/mace/model.py
Due: none

Move hooks back to model hypers for MACE
  src/metatrain/cli/train.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/hooks/helpers.py
Due: none

Temporary changes
  src/metatrain/experimental/mace/model.py
  src/metatrain/utils/hooks/abc.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
  src/metatrain/utils/hooks/identity/hook.py
Due: none

Added PET, enable finetuning, make sure exported models work
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/utils/hooks/abc.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
  src/metatrain/utils/hooks/helpers.py
  src/metatrain/utils/hooks/identity/hook.py
  src/metatrain/utils/hooks/intensive_gap/hook.py
  src/metatrain/utils/hooks/tensor_basis/hook.py
Due: PET

Enable post-hooks in space and soap-bpnn
  src/metatrain/experimental/space/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/hooks/global_multipoles/hook.py
Due: SOAP-BPNN

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
