Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Lock training runs in Python
  tests/conftest.py
  tests/resources/run_trainings.sh
  tox.ini
Due: none

fix(data): keep DataLoader workers on Python 3.14 (#1243)
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
Due: none

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Defer per-batch host syncs in metric and loss accumulation
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/metrics.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Cache metric matrices across epochs
  tests/utils/test_pyscf_loss_cache.py
Due: none

Add a byte-budgeted LRU cache for collate-transform reuse
  src/metatrain/utils/data/byte_budget_cache.py
  tests/utils/data/test_byte_budget_cache.py
Due: none

Refactor metrics reporting to allow L2 real-space density error to be reported in train/eval
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/reported_metrics.py
  tests/utils/test_abc.py
  tests/utils/test_pyscf_loss.py
  tests/utils/test_reported_metrics.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Raw-tensor system transport across dataloader workers
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataloaders.py
Due: PET

Implement metric-loss for density learning, and make available in SPACE and PET
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_pyscf_loss.py
Due: PET

Allow for exporting multi-task DPA3 models
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Add tests for multi-task DPA3 models
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
Due: none

Port augmentation to the batched O3Transformations API
  docs/src/dev-docs/changelog.rst
  pyproject.toml
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_augmentation.py
Due: none

Renaming
  src/metatrain/experimental/dpa3/model.py
Due: none

Modify metatomic-torch version constraint
  pyproject.toml
Due: none

Update metatomic-ase version constraint in pyproject.toml
  pyproject.toml
Due: none

Port augmentation to the batched O3Transformations API (#1245)
  docs/src/dev-docs/changelog.rst
  pyproject.toml
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/testing/output.py
  tests/utils/test_augmentation.py
Due: none

Deprecate the distributed hyper
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v2_trainer-v3.ckpt.gz
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v7.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v15.ckpt.gz
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v12.ckpt.gz
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

docs: note Python 3.14 incompatibility
  README.md
Due: none

docs: add conda installation instructions to architecture pages
  docs/src/architectures/templates/installation.rst
Due: none

docs: add documentation placeholders to LLPR for installation section
  src/metatrain/llpr/documentation.py
Due: LLPR

docs: add documentation section placeholders for architecture rendering
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/scaler/documentation.py
Due: PET, FlashMD

Deprecate the distributed hyper (#1247)
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v2_trainer-v3.ckpt.gz
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v5_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v7.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v15.ckpt.gz
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v9_trainer-v12.ckpt.gz
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Avoid and hide deprecation warnings
  pyproject.toml
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_compile.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_functionality.py
  src/metatrain/experimental/space/tests/test_regression.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/test_scaler.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/test_functionality.py
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/logging.py
  src/metatrain/utils/testing/output.py
Due: GAP, SOAP-BPNN, PET, FlashMD

Revert removal of filterwarnings
  pyproject.toml
Due: none

Set up logging before running test trainings
  src/metatrain/utils/logging.py
  tests/cli/test_train_model.py
Due: none

Get rid of ModelOutput.quantity in LLPR
  src/metatrain/llpr/model.py
Due: LLPR

Avoid and hide deprecation warnings (#1248)
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/test_errors.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/test_compile.py
  src/metatrain/experimental/dpa3/tests/test_pretrained.py
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_functionality.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/test_functionality.py
  src/metatrain/experimental/space/tests/test_regression.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/tests/test_scaler.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/test_functionality.py
  src/metatrain/soap_bpnn/tests/test_regression.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/logging.py
  src/metatrain/utils/testing/output.py
  tests/cli/test_train_model.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Release version v2026.4
  docs/src/dev-docs/changelog.rst
Due: none

Release version v2026.4 (#1252)
  docs/src/dev-docs/changelog.rst
Due: none

Helpers for single direction edges
  src/metatrain/utils/data/atom_pair_helpers.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
Due: none

Add experimental edge composition model
  pyproject.toml
  src/metatrain/cli/eval.py
  src/metatrain/experimental/edge_composition/__init__.py
  src/metatrain/experimental/edge_composition/checkpoints.py
  src/metatrain/experimental/edge_composition/documentation.py
  src/metatrain/experimental/edge_composition/model.py
  src/metatrain/experimental/edge_composition/radials/__init__.py
  src/metatrain/experimental/edge_composition/radials/exponential.py
  src/metatrain/experimental/edge_composition/radials/splines.py
  src/metatrain/experimental/edge_composition/radials/tabulated.py
  src/metatrain/experimental/edge_composition/tests/test_basic.py
  src/metatrain/experimental/edge_composition/tests/test_samples.py
  src/metatrain/experimental/edge_composition/trainer.py
  src/metatrain/experimental/edge_composition/utils/samples.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  tox.ini
Due: none

Update atom pair utilities and Scaler (#13)
  src/metatrain/scaler/_base_scaler.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: none

First graph2mat implementations
  src/metatrain/cli/eval.py
  src/metatrain/experimental/graph2mat/.gitignore
  src/metatrain/experimental/graph2mat/__init__.py
  src/metatrain/experimental/graph2mat/checkpoints.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/__init__.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/tests/targets.yaml
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/__init__.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/remove.py
Due: none

Make GPU work
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Some more flexibility
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/operations.py
Due: none

Add calculator
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
Due: none

Fix batched evaluation
  src/metatrain/cli/eval.py
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/modules/edge_embedding.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/tests/test_transforms.py
  src/metatrain/experimental/graph2mat/trainer.py
  src/metatrain/experimental/graph2mat/utils/basis.py
  src/metatrain/experimental/graph2mat/utils/conversions.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
  src/metatrain/experimental/graph2mat/utils/eval.py
  src/metatrain/experimental/graph2mat/utils/mtt.py
  src/metatrain/experimental/graph2mat/utils/structures.py
  src/metatrain/utils/data/writers/diskdataset.py
  src/metatrain/utils/scaler/remove.py
Due: none
