Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Remove print
  src/metatrain/experimental/graph2mat/model.py
Due: none

Make GPU work
  src/metatrain/experimental/graph2mat/model.py
  src/metatrain/experimental/graph2mat/utils/dataset.py
Due: none

Release metatrain 2026.3 (#1173)
  docs/src/dev-docs/changelog.rst
Due: none

Fix flashmd_symplectic requested input names
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Fix flashmd_symplectic requested input names (#1174)
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: none

Extracted the pure-torch PET backend
  src/metatrain/pet/COMPILE_NOTES.md
  src/metatrain/pet/backend.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_core.py
  src/metatrain/pet/tests/test_diagnostic.py
  src/metatrain/pet/tests/test_feature_extraction.py
Due: PET

Add exponential messages
  src/metatrain/experimental/graph2mat/documentation.py
  src/metatrain/experimental/graph2mat/modules/operations.py
  src/metatrain/experimental/graph2mat/utils/log_transform.py
Due: none

Fixed diagnostics tests
  src/metatrain/pet/backend.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/tests/test_diagnostic.py
Due: PET

Moved backend into modules
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_diagnostic.py
Due: PET

Moved backend into modules
  src/metatrain/pet/backend.py
  src/metatrain/pet/tests/test_backend.py
Due: PET

Saving everything before flat transformer redesign
  src/metatrain/pet/modules/structures.py
Due: PET

Replace per_atom=False with sample_kind="system")
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

in _eval_targets filter inputs to include only those with sample_kind="system"
  src/metatrain/cli/eval.py
Due: none

removed unused MODEL_CHECKPOINT_VERSION const
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
Due: PET

add residual featurizer_type to the testing as well
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Preliminary torch-compile-compatible implementation
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_backend.py
Due: PET

Finalized the torch-compile with a full-graph flag
  pyproject.toml
  src/metatrain/pet/COMPILE_NOTES.md
  src/metatrain/pet/modules/nef.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_feature_extraction.py
Due: PET

Made sure compiled backend runs with no dynamo patching
  src/metatrain/pet/tests/test_backend.py
Due: PET

Added a test for compiled model forces and stresses prediction
  src/metatrain/pet/tests/test_backend.py
Due: PET

Fix PET CUDA backward crash for systems >65535 atoms (SDPA grid-dim limit)
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Fixed the old-new target names handling in LLPR wrapper
  src/metatrain/llpr/model.py
Due: LLPR

Decoupled the cutoff function width from adaptive cutoff neighbor count smearing
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
Due: PET

Fixed the adaptive cutoff test
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Cleanup PET and LLPR modules (#1176)
  src/metatrain/llpr/model.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET, LLPR

Add final_evaluation flag to mtt_train
  .claude/settings.local.json
  docs/src/dev-docs/utils/data/writers.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/writers/__init__.py
  src/metatrain/utils/data/writers/memmap.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
  tests/utils/data/test_writers.py
  tests/utils/test_pydantic.py
Due: none

Stop tracking .claude/settings.local.json
  .claude/settings.local.json
Due: none

Release version 2026.3.1
  docs/src/dev-docs/changelog.rst
Due: none

Solve failing tests
  .gitignore
  src/metatrain/cli/train.py
Due: none

revert .gitignore
  .gitignore
Due: none

Release version 2026.3.1 (#1178)
  docs/src/dev-docs/changelog.rst
Due: none

Solve failed tests
  docs/src/getting-started/train_yaml_config.rst
Due: none

Trying to make eval work
  src/metatrain/cli/eval.py
  src/metatrain/cli/train.py
  src/metatrain/experimental/edge_composition/utils/model.py
  src/metatrain/experimental/edge_composition/utils/transforms.py
  src/metatrain/experimental/graph2mat/model.py
Due: none

tmp debug
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
Due: PET

Update checkpoint version
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v15_trainer-v13.ckpt.gz
Due: PET

Add possibility to avoid warm up in mtt eval
  src/metatrain/cli/eval.py
Due: none

Lint
  src/metatrain/cli/eval.py
Due: none

Add tests
  src/metatrain/cli/eval.py
  tests/cli/test_eval_model.py
Due: none

lint again
  tests/cli/test_eval_model.py
Due: none

Add to the changelog
  docs/src/dev-docs/changelog.rst
Due: none
