Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

clean up imports
  src/metatrain/pet/tests/test_conditioning.py
  tests/utils/data/test_dataset.py
Due: PET

Added JSON schema to the docs
  docs/src/architectures/generate.py
  docs/src/conf.py
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/utils/pydantic.py
Due: none

Revise DOS loss to shift agnostic MSE loss function
  docs/src/concepts/loss-functions.rst
Due: none

Document shift agnostic MSE loss function
  docs/src/concepts/loss-functions.rst
Due: none

Remove references to DOS, avoid implementation details
  docs/src/concepts/loss-functions.rst
Due: none

Update loss function reference in DOS training tutorial
  examples/1-advanced/07-dos-training.py
Due: none

Final tutorial fix and added a couple references
  docs/src/concepts/loss-functions.rst
  examples/1-advanced/07-dos-training.py
Due: none

initial commit weighted losses
  docs/src/concepts/loss-functions.rst
  src/metatrain/experimental/phace/utils.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/__init__.py
  src/metatrain/utils/data/get_dataset.py
  src/metatrain/utils/data/readers/__init__.py
  src/metatrain/utils/data/readers/ase.py
  src/metatrain/utils/data/readers/readers.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/omegaconf.py
  tests/utils/data/test_get_dataset.py
  tests/utils/test_augmentation.py
  tests/utils/test_loss.py
Due: none

Memory optimization for rho metric losses
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_loss.py
  tox.ini
Due: PET

Add requested_inputs to FlashMD and FlashMDSymplectic (#1149)
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
Due: FlashMD

Update pyproject.toml
  pyproject.toml
Due: none

pet(trainer): spawn dataloader workers on CUDA to avoid fork-after-CUDA OOM
  src/metatrain/pet/trainer.py
Due: PET

data(DiskDataset): make picklable across spawn workers
  src/metatrain/utils/data/dataset.py
Due: none

pet(trainer): use file_system sharing strategy for spawn under restricted /dev/shm
  src/metatrain/pet/trainer.py
Due: PET

data(DiskDataset): index via valid-entry map for sparse/non-zero-based zips
  src/metatrain/utils/data/dataset.py
Due: none

utils: make dataloader transforms picklable for spawn workers
  src/metatrain/utils/additive/remove.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/neighbor_lists.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/scaler/remove.py
Due: none

remove unnecesarry "warning ignore" from metatomic 0.1.12
  pyproject.toml
Due: none

Constrain sphericart until 2.0.0 works with docs.
  pyproject.toml
Due: none

Address review comments
  examples/1-advanced/10-pet-hidden-features.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/tests/test_diagnostic.py
Due: PET

Format, lint
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/tests/test_diagnostic.py
Due: PET

gap_pet: add softmax pooling, drop attention, unify on alpha
  src/metatrain/gap_pet/documentation.py
  src/metatrain/gap_pet/model.py
  src/metatrain/gap_pet/tests/test_gap_specific.py
Due: none

Remove unused function
  src/metatrain/pet/modules/diagnostic.py
Due: PET

Simplify comments
  src/metatrain/pet/model.py
Due: PET

Only upload to HF when we are generating the 32-bit model
  tests/resources/run_trainings.sh
Due: none

gap_pet: make featurizer_type configurable (default residual)
  src/metatrain/gap_pet/documentation.py
  src/metatrain/gap_pet/model.py
Due: none

Disable HF upload
  tests/resources/run_trainings.sh
Due: none

Use `sample_kind`
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/tests/test_diagnostic.py
Due: PET

Fix MemmapDataset energy property label name
  src/metatrain/utils/data/dataset.py
Due: none

Remove fork-only checkpoint migration from PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

Ignore new numpy warning triggered by ASE
  pyproject.toml
Due: none

First implementation of atom pairs
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/data/atom_pair_helpers.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/scaler/scaler.py
  tests/conftest.py
  tests/resources/scfbench_2_bidirectional_edges.zip
  tests/utils/data/__init__.py
  tests/utils/data/test_atom_pair_helpers.py
  tests/utils/data/test_atomic_basis_helpers.py
Due: none

Revert "flashmd: accept deprecated 'momenta' field name for backwards compat"
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/modules/structures.py
Due: FlashMD

flashmd: request 'momentum'/'mass' inputs instead of deprecated plural names
  src/metatrain/experimental/flashmd/model.py
Due: FlashMD

Make sure CSCS CI works, make it easier to debug
  .gitignore
  ci/cscs.yml
  pyproject.toml
  tests/cli/test_eval_model.py
  tests/conftest.py
  tests/resources/run_trainings.sh
  tests/test_registered_archs.py
  tox.ini
Due: none

Prerun trainings in CSCS
  ci/cscs.yml
  tests/resources/run_all_trainings.sh
Due: none

Make prerunning work
  ci/cscs.yml
  tests/resources/run_all_trainings.sh
  tox.ini
Due: none

Update ase links
  docs/src/conf.py
  examples/0-beginner/01-data_preparation.py
  examples/1-advanced/fig_09-classifier_001.json.gz
Due: none

Tutorials links were pointing to ASE website, lol
  examples/GALLERY_HEADER.rst
Due: none

Clean previous trainings
  tests/resources/setup_trainings.sh
  tox.ini
Due: none

Increase MACE time limit
  ci/cscs.yml
Due: none
