Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Update mts-learn version requirement
  pyproject.toml
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v15.ckpt.gz
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, PET

Update to metatensor-learn v0.6.1
  pyproject.toml
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
Due: SOAP-BPNN

Update GAP trainer to pass docs
  src/metatrain/gap/trainer.py
Due: GAP

And also soap
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
Due: SOAP-BPNN

Lock training runs in Python
  tests/conftest.py
  tests/resources/run_trainings.sh
  tox.ini
Due: none

Update the outer layer of composition model to mts.learn.nn.Module
  src/metatrain/composition/checkpoints.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
  src/metatrain/utils/abc.py
Due: none

Formatting, linting, and minor fixing
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

And experimental models
  src/metatrain/experimental/classifier/checkpoints.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/classifier/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v6.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v6_trainer-v7.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/checkpoints.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/experimental/flashmd_symplectic/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v3.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v5_trainer-v4.ckpt.gz
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v4.ckpt.gz
Due: FlashMD

Ignore warnings and update composition model
  pyproject.toml
  src/metatrain/composition/_base_composition.py
Due: none

Require `metatensor-torch >=0.10.7`
  pyproject.toml
Due: none

Formatting
  src/metatrain/composition/_base_composition.py
Due: none

Update lorem
  src/metatrain/experimental/lorem/checkpoints.py
  src/metatrain/experimental/lorem/model.py
  src/metatrain/experimental/lorem/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/lorem/trainer.py
Due: none

Run tests in 1 process
  tests/conftest.py
Due: none

Lint
  tests/conftest.py
Due: none

Increase time limit of tests
  ci/cscs.yml
Due: none

fix: Apply equivalence checks for units rather than strict string equalities (#1289)
  ci/cscs.yml
  docs/src/dev-docs/changelog.rst
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
  src/metatrain/utils/units.py
  tests/conftest.py
  tests/utils/data/test_dataset.py
  tests/utils/data/test_target_info.py
  tests/utils/test_units.py
Due: PET

exclude zero-cutoff keys from attention
  docs/src/dev-docs/changelog.rst
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_attention_masking.py
Due: PET

Remove buffer related annotations from model classes
  src/metatrain/composition/model.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
Due: SOAP-BPNN, PET, LLPR

exclude zero-cutoff keys from attention (#1294)
  docs/src/dev-docs/changelog.rst
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_attention_masking.py
Due: PET

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Add spherical harmonics geometry embeddings to PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v18_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_geometry_embedding.py
Due: PET

Shallow ensembles in PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/checkpoints/model-v19_trainer-v15.ckpt.gz
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_shallow_ensemble.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/ensemble.py
  src/metatrain/utils/loss.py
Due: PET

Add equivariance error to mtt eval
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  src/metatrain/utils/per_atom.py
  tests/utils/test_metrics.py
Due: none

Speed up PET's gated readouts and edge heads
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

Pool PET edge features before the linear readout layers
  src/metatrain/pet/modules/backend.py
  src/metatrain/utils/readout.py
Due: PET

Extend `mtt eval` to optionally log per-block metrics
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/metrics.py
  tests/utils/test_metrics.py
Due: none

Speed up the sparsification of atomic-basis predictions at evaluation
  src/metatrain/composition/model.py
  src/metatrain/pet/model.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: PET

Add a loss with an equivariance error penalty
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/test_equivariance_penalty.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/equivariance_penalty.py
  src/metatrain/utils/loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_equivariance_penalty.py
  tests/utils/test_loss.py
Due: PET

Implement metric-loss for density learning, and make available in SPACE and PET
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/augmentation.py
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  tests/utils/test_augmentation.py
  tests/utils/test_pyscf_loss.py
Due: PET

Defer per-batch host syncs in metric and loss accumulation
  src/metatrain/experimental/classifier/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/metrics.py
Due: SOAP-BPNN, PET, LLPR, FlashMD

Add a byte-budgeted LRU cache for collate-transform reuse
  src/metatrain/utils/data/byte_budget_cache.py
  tests/utils/data/test_byte_budget_cache.py
Due: none

Raw-tensor system transport across dataloader workers
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
  tests/utils/data/test_dataloaders.py
Due: PET

Keep the batch order of system ids when padding for evaluation
  src/metatrain/cli/eval.py
  tests/cli/test_eval_atomic_basis_ids.py
Due: none

Cache metric matrices across epochs
  tests/utils/test_pyscf_loss_cache.py
Due: none

fix: undo the removed scale in the density losses
  src/metatrain/utils/loss.py
  tests/utils/test_pyscf_loss.py
Due: none

Add a torch backend for the density-loss metric matrices
  src/metatrain/utils/density_hooks.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
  src/metatrain/utils/torch_metric.py
  tests/utils/test_torch_metric.py
Due: none

Fix batch ordering in density_mse_via_w
  src/metatrain/utils/loss.py
Due: none

PET: add hold_fraction to the learning-rate schedule
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
Due: PET

Record the removed scale in the scale-removal transform
  src/metatrain/utils/scaler/remove.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
