Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Lint for docs build
  src/metatrain/utils/omegaconf.py
Due: none

remove pin memory
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/__init__.py
Due: PET

linting
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

remove leftover spin/charge reference
  src/metatrain/utils/data/writers/ase.py
Due: none

Collect per-architecture coverage (#803)
  .codecov.yml
  .github/workflows/architecture-tests.yml
  .github/workflows/tests.yml
  docs/src/architectures/generate.py
  pyproject.toml
  tox.ini
Due: none

batched MLP Z-readout
  pet-mods.txt
  src/metatrain/pet_23/__init__.py
  src/metatrain/pet_23/checkpoints.py
  src/metatrain/pet_23/documentation.py
  src/metatrain/pet_23/model.py
  src/metatrain/pet_23/modules/adaptive_cutoff.py
  src/metatrain/pet_23/modules/finetuning.py
  src/metatrain/pet_23/modules/nef.py
  src/metatrain/pet_23/modules/structures.py
  src/metatrain/pet_23/modules/transformer.py
  src/metatrain/pet_23/modules/utilities.py
  src/metatrain/pet_23/trainer.py
Due: none

Update url to point to codev component of the arhitecture
  docs/src/architectures/generate.py
Due: none

Add faster Z-conditioned linear readout
  src/metatrain/pet_24/__init__.py
  src/metatrain/pet_24/checkpoints.py
  src/metatrain/pet_24/documentation.py
  src/metatrain/pet_24/model.py
  src/metatrain/pet_24/modules/adaptive_cutoff.py
  src/metatrain/pet_24/modules/finetuning.py
  src/metatrain/pet_24/modules/nef.py
  src/metatrain/pet_24/modules/structures.py
  src/metatrain/pet_24/modules/transformer.py
  src/metatrain/pet_24/modules/utilities.py
  src/metatrain/pet_24/trainer.py
Due: none

Use archictecture path directly
  docs/src/architectures/generate.py
Due: none

Fix evaluation
  src/metatrain/cli/eval.py
Due: none

Changed product to have None, cartesian, and coupled options
  src/metatrain/pet/trainer.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/spherical_target_helpers.py
  src/metatrain/utils/data/target_info.py
Due: PET

Solved comments by Pol to my PR
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
Due: PET

Fixed comments - Second part
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/target_info.py
Due: none

Trying to solve conflicts
  CODEOWNERS
  src/metatrain/deprecated/nanopet/trainer.py
Due: NanoPET

Add phace to codecov
  .codecov.yml
  tox.ini
Due: none

Lint
  src/metatrain/experimental/phace/calculator.py
Due: none

update mod description
  pet-mods.txt
Due: none

fix(docs): correct codecov badge target url for architecture page only (#1069)
  docs/src/architectures/generate.py
Due: none

Polishing README file
  README.md
Due: none

feat: add PhACE architecture (experimental)
  .codecov.yml
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/experimental/phace/__init__.py
  src/metatrain/experimental/phace/calculator.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/eqx.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/__init__.py
  src/metatrain/experimental/phace/modules/adaptive_cutoff.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/cg_coefficients.py
  src/metatrain/experimental/phace/modules/cg_iterator.py
  src/metatrain/experimental/phace/modules/cutoff_function.py
  src/metatrain/experimental/phace/modules/layers.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/physical_basis.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/modules/splines.py
  src/metatrain/experimental/phace/modules/tensor_product.py
  src/metatrain/experimental/phace/tests/__init__.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_functionality.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/experimental/phace/utils.py
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/utils/testing/mtt_plugin.py
  src/metatrain/utils/testing/output.py
  tests/resources/options-phace-debug.yaml
  tests/resources/options-phace.yaml
  tests/utils/test_architectures.py
  tox.ini
Due: PET

fix(phace): update tests and README for upstream/main compatibility
  README.md
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_regression.py
Due: none

Add PhACE architecture
  .codecov.yml
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  README.md
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/experimental/phace/__init__.py
  src/metatrain/experimental/phace/calculator.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/eqx.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/__init__.py
  src/metatrain/experimental/phace/modules/adaptive_cutoff.py
  src/metatrain/experimental/phace/modules/base_model.py
  src/metatrain/experimental/phace/modules/cg_coefficients.py
  src/metatrain/experimental/phace/modules/cg_iterator.py
  src/metatrain/experimental/phace/modules/cutoff_function.py
  src/metatrain/experimental/phace/modules/layers.py
  src/metatrain/experimental/phace/modules/message_passing.py
  src/metatrain/experimental/phace/modules/physical_basis.py
  src/metatrain/experimental/phace/modules/precomputations.py
  src/metatrain/experimental/phace/modules/radial_mlp.py
  src/metatrain/experimental/phace/modules/splines.py
  src/metatrain/experimental/phace/modules/tensor_product.py
  src/metatrain/experimental/phace/tests/__init__.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_functionality.py
  src/metatrain/experimental/phace/tests/test_regression.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/experimental/phace/utils.py
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/utils/testing/mtt_plugin.py
  src/metatrain/utils/testing/output.py
  tests/resources/options-phace-debug.yaml
  tests/resources/options-phace.yaml
  tests/utils/test_architectures.py
  tox.ini
Due: PET

Reorganized stuff for the coupled basis
  src/metatrain/cli/eval.py
  src/metatrain/utils/data/spherical_target_helpers.py
  src/metatrain/utils/data/target_info.py
Due: none

Indicate that PhACE is experimental in its docs.
  src/metatrain/experimental/phace/documentation.py
Due: none

Make TargetInfo torchscript compatible
  src/metatrain/utils/data/target_info.py
Due: none

change hyperparameters for system embedding
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
Due: PET

Clearer validation errors
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/architectures.py
  src/metatrain/utils/pydantic.py
Due: none

Target type is not required
  src/metatrain/share/base_hypers.py
Due: none

Change expected error messages
  tests/cli/test_train_model.py
  tests/utils/test_architectures.py
Due: none

feat(pet): add neighbor_atom_indices and _forward_from_batch
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

feat(pet): full-graph FX compilation for training
  docs/src/dev-docs/changelog.rst
  pyproject.toml
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/modules/compile.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/trainer.py
Due: PET

test(pet): add tests for FX compilation and _forward_from_batch
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_compile.py
Due: PET

test(pet): add backward regression tests for compiled vs eager
  src/metatrain/pet/tests/test_compile.py
Due: PET

test(pet): add adaptive cutoff tests for FX compilation
  src/metatrain/pet/tests/test_compile.py
Due: PET

fix(pet): decompose RMSNorm and SDPA for compiled force training
  pyproject.toml
  src/metatrain/pet/modules/compile.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/tests/test_compile.py
Due: PET

fix(pet): dataset mismatch and SDPA backward in compile tests
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_compile.py
Due: PET

feat(pet): enable torch.compile with DDP
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/tests/checkpoints/model-v11_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_compile_ddp.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/__init__.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
Due: PET

test(pet): add training regression tests for compiled vs eager
  src/metatrain/pet/tests/test_compile.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
