Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Remove debugging artifacts
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Add imports in the tutorial of transfer learning
  examples/1-advanced/00-transfer-learning.py
Due: none

Add imports in the tutorial of transfer learning (#1018)
  examples/1-advanced/00-transfer-learning.py
Due: none

Make MACE export not break the ability to save a checkpoint
  src/metatrain/experimental/mace/model.py
Due: none

Abstract calibration
  src/metatrain/llpr/model.py
  src/metatrain/llpr/modules/calibration.py
Due: LLPR

Small refactor
  src/metatrain/llpr/calibration.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/modules/recalib.py
  src/metatrain/llpr/trainer.py
Due: LLPR

Allow integer values for validation_set and test_set sizes (#1019)
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  tests/cli/test_train_model.py
Due: none

Fix CRPS
  src/metatrain/llpr/calibration.py
Due: LLPR

Add Solid Harmonics embeddings
  src/metatrain/pet/modules/transformer.py
Due: PET

Enforce float64 to reduce distributed variability
  src/metatrain/llpr/calibration.py
  src/metatrain/llpr/model.py
Due: LLPR

Revert removal of covariant biases
  src/metatrain/pet/model.py
Due: PET

Clarify the documentation for outputs that are not trained targets
  CONTRIBUTING.rst
  developer/clean-tempfiles.sh
  docs/src/architectures/generate.py
  docs/src/architectures/templates/default_hypers.rst
  docs/src/architectures/templates/installation.rst
  docs/src/architectures/templates/model_hypers.rst
  docs/src/architectures/templates/references.rst
  docs/src/architectures/templates/trainer_hypers.rst
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/getting-started/override.rst
  examples/0-beginner/.gitignore
  examples/0-beginner/00-basic-usage.sh
  examples/0-beginner/05-run_ase.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/gap/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Clearly mark experimental architectures as such
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
Due: FlashMD

final bug fixes before production run
  src/metatrain/llpr/model.py
  src/metatrain/llpr/trainer.py
  src/metatrain/utils/evaluate_model.py
  src/metatrain/utils/output_gradient.py
Due: LLPR

Add CRPS scoring rule for the ensemble loss (#971)
  docs/src/concepts/loss-functions.rst
  src/metatrain/llpr/calibration.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/documentation.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/modules/recalib.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v5.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/omegaconf.py
  tests/utils/test_loss.py
Due: LLPR

Extra outputs documentation (#986)
  CONTRIBUTING.rst
  developer/clean-tempfiles.sh
  docs/src/architectures/generate.py
  docs/src/architectures/templates/default_hypers.rst
  docs/src/architectures/templates/installation.rst
  docs/src/architectures/templates/model_hypers.rst
  docs/src/architectures/templates/references.rst
  docs/src/architectures/templates/trainer_hypers.rst
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/getting-started/override.rst
  examples/0-beginner/.gitignore
  examples/0-beginner/00-basic-usage.sh
  examples/0-beginner/05-run_ase.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/experimental/classifier/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/gap/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Add PET mods
  create_new_architecture.py
  pet-mods.txt
  src/metatrain/pet_1/__init__.py
  src/metatrain/pet_1/checkpoints.py
  src/metatrain/pet_1/documentation.py
  src/metatrain/pet_1/model.py
  src/metatrain/pet_1/modules/adaptive_cutoff.py
  src/metatrain/pet_1/modules/finetuning.py
  src/metatrain/pet_1/modules/nef.py
  src/metatrain/pet_1/modules/structures.py
  src/metatrain/pet_1/modules/transformer.py
  src/metatrain/pet_1/modules/utilities.py
  src/metatrain/pet_1/trainer.py
  src/metatrain/pet_2/__init__.py
  src/metatrain/pet_2/checkpoints.py
  src/metatrain/pet_2/documentation.py
  src/metatrain/pet_2/model.py
  src/metatrain/pet_2/modules/adaptive_cutoff.py
  src/metatrain/pet_2/modules/finetuning.py
  src/metatrain/pet_2/modules/nef.py
  src/metatrain/pet_2/modules/structures.py
  src/metatrain/pet_2/modules/transformer.py
  src/metatrain/pet_2/modules/utilities.py
  src/metatrain/pet_2/trainer.py
  src/metatrain/pet_3/__init__.py
  src/metatrain/pet_3/checkpoints.py
  src/metatrain/pet_3/documentation.py
  src/metatrain/pet_3/model.py
  src/metatrain/pet_3/modules/adaptive_cutoff.py
  src/metatrain/pet_3/modules/finetuning.py
  src/metatrain/pet_3/modules/nef.py
  src/metatrain/pet_3/modules/readout.py
  src/metatrain/pet_3/modules/structures.py
  src/metatrain/pet_3/modules/transformer.py
  src/metatrain/pet_3/modules/utilities.py
  src/metatrain/pet_3/trainer.py
Due: none

Add new mod
  pet-mods.txt
  src/metatrain/pet_4/__init__.py
  src/metatrain/pet_4/checkpoints.py
  src/metatrain/pet_4/documentation.py
  src/metatrain/pet_4/model.py
  src/metatrain/pet_4/modules/adaptive_cutoff.py
  src/metatrain/pet_4/modules/finetuning.py
  src/metatrain/pet_4/modules/nef.py
  src/metatrain/pet_4/modules/readout.py
  src/metatrain/pet_4/modules/structures.py
  src/metatrain/pet_4/modules/transformer.py
  src/metatrain/pet_4/modules/utilities.py
  src/metatrain/pet_4/trainer.py
Due: none

Add new SpH mods
  src/metatrain/pet_5/__init__.py
  src/metatrain/pet_5/checkpoints.py
  src/metatrain/pet_5/documentation.py
  src/metatrain/pet_5/model.py
  src/metatrain/pet_5/modules/adaptive_cutoff.py
  src/metatrain/pet_5/modules/finetuning.py
  src/metatrain/pet_5/modules/nef.py
  src/metatrain/pet_5/modules/structures.py
  src/metatrain/pet_5/modules/transformer.py
  src/metatrain/pet_5/modules/utilities.py
  src/metatrain/pet_5/trainer.py
  src/metatrain/pet_6/__init__.py
  src/metatrain/pet_6/checkpoints.py
  src/metatrain/pet_6/documentation.py
  src/metatrain/pet_6/model.py
  src/metatrain/pet_6/modules/adaptive_cutoff.py
  src/metatrain/pet_6/modules/finetuning.py
  src/metatrain/pet_6/modules/nef.py
  src/metatrain/pet_6/modules/structures.py
  src/metatrain/pet_6/modules/transformer.py
  src/metatrain/pet_6/modules/utilities.py
  src/metatrain/pet_6/trainer.py
Due: none

Radial polynomials
  src/metatrain/pet_6/modules/transformer.py
Due: none

Update mod descriptions
  pet-mods.txt
Due: none

Remove extraneous MoE from pet_5
  src/metatrain/pet_5/documentation.py
Due: none

Update device
  src/metatrain/pet_6/modules/transformer.py
Due: none

Add mod with explicit radial basis
  pet-mods.txt
  src/metatrain/pet_7/__init__.py
  src/metatrain/pet_7/checkpoints.py
  src/metatrain/pet_7/documentation.py
  src/metatrain/pet_7/model.py
  src/metatrain/pet_7/modules/adaptive_cutoff.py
  src/metatrain/pet_7/modules/finetuning.py
  src/metatrain/pet_7/modules/nef.py
  src/metatrain/pet_7/modules/structures.py
  src/metatrain/pet_7/modules/transformer.py
  src/metatrain/pet_7/modules/utilities.py
  src/metatrain/pet_7/trainer.py
Due: none

Also with solid harmonics
  pet-mods.txt
  src/metatrain/pet_8/__init__.py
  src/metatrain/pet_8/checkpoints.py
  src/metatrain/pet_8/documentation.py
  src/metatrain/pet_8/model.py
  src/metatrain/pet_8/modules/adaptive_cutoff.py
  src/metatrain/pet_8/modules/finetuning.py
  src/metatrain/pet_8/modules/nef.py
  src/metatrain/pet_8/modules/structures.py
  src/metatrain/pet_8/modules/transformer.py
  src/metatrain/pet_8/modules/utilities.py
  src/metatrain/pet_8/trainer.py
Due: none

device error
  src/metatrain/pet_7/modules/transformer.py
  src/metatrain/pet_8/modules/transformer.py
Due: none

Add a simple MoE
  pet-mods.txt
  src/metatrain/pet_9/__init__.py
  src/metatrain/pet_9/checkpoints.py
  src/metatrain/pet_9/documentation.py
  src/metatrain/pet_9/model.py
  src/metatrain/pet_9/modules/adaptive_cutoff.py
  src/metatrain/pet_9/modules/finetuning.py
  src/metatrain/pet_9/modules/nef.py
  src/metatrain/pet_9/modules/readout.py
  src/metatrain/pet_9/modules/structures.py
  src/metatrain/pet_9/modules/transformer.py
  src/metatrain/pet_9/modules/utilities.py
  src/metatrain/pet_9/trainer.py
Due: none

Fix docs
  docs/src/concepts/loss-functions.rst
Due: none

Fix docs (#1021)
  docs/src/concepts/loss-functions.rst
Due: none

Adjustd to support finetuning
  src/metatrain/utils/loss.py
Due: none

Support load_checkpoint
  src/metatrain/pet/model.py
Due: PET

debug Support load_checkpoint
  src/metatrain/pet/model.py
Due: PET

Fix syntax errors
  src/metatrain/pet/model.py
Due: PET

Fix LLPR
  src/metatrain/llpr/calibration.py
  src/metatrain/llpr/model.py
Due: LLPR

Fix behavior when covariance/multiplier not found
  src/metatrain/llpr/model.py
Due: LLPR

Simplify CPRS code
  src/metatrain/llpr/calibration.py
Due: LLPR

Last fix (TM)
  src/metatrain/llpr/model.py
Due: LLPR

Remove prints
  src/metatrain/llpr/model.py
Due: LLPR
