Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Test hypers in architecture tests
  src/metatrain/deprecated/nanopet/tests/test_functionality.py
  src/metatrain/experimental/flashmd/tests/test_functionality.py
  src/metatrain/gap/tests/test_functionality.py
Due: GAP, NanoPET, FlashMD

Some documentation
  README.md
  examples/1-advanced/03-fitting-generic-targets.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/utils/hypers.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/experimental/mace/utils/structures.py
  src/metatrain/soap_bpnn/tests/test_basic.py
Due: SOAP-BPNN

All tests passing
  src/metatrain/experimental/mace/.gitignore
  src/metatrain/experimental/mace/_dev/_gen_documentation.py
  src/metatrain/experimental/mace/_dev/documentation.py_template
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/tests/__init__.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/utils/hypers.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/utils/testing/exported.py
  src/metatrain/utils/testing/output.py
  src/metatrain/utils/testing/torchscript.py
Due: none

Some cleaning
  src/metatrain/experimental/mace/model.py
Due: none

Return only the used last layer features
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/utils/mts.py
Due: none

finetune config
  src/metatrain/experimental/mace/model.py
Due: none

hypers
  src/metatrain/experimental/mace/tests/__init__.py
Due: none

Implement selected_atoms for MACE
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/utils/mts.py
Due: none

format
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/utils/data/target_info.py
Due: none

fix docs
  src/metatrain/utils/pydantic.py
Due: none

Make things right again
  docs/src/conf.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN

Fix GPU autograd test
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Fix tests
  src/metatrain/experimental/mace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_foundation.py
Due: none

Moved hypers generation to a _dev folder
  src/metatrain/experimental/mace/_dev/_gen_hypers.py
  src/metatrain/experimental/mace/_dev/default-hypers-template.temp_yaml
  src/metatrain/experimental/mace/default-hypers.yaml
  src/metatrain/experimental/mace/utils/hypers.py
Due: none

Make things right
  src/metatrain/deprecated/nanopet/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/gap/trainer.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/pydantic.py
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Simplify llf
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/trainer.py
Due: none

Philip's suggestions
  docs/src/conf.py
Due: none

Transfer baselines and scales from MACE to metatrain
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
Due: none

Make scale and shift single value torch tensors
  src/metatrain/experimental/mace/modules/scale_shift.py
Due: none

Add MACE model
  src/metatrain/experimental/mace/__init__.py
  src/metatrain/experimental/mace/default-hypers.yaml
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/__init__.py
  src/metatrain/experimental/mace/utils/structures.py
Due: none

Fix foundation model MLIP, add test
  src/metatrain/experimental/mace/_dev/_gen_documentation.py
  src/metatrain/experimental/mace/_dev/documentation.py_template
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/hypers.py
  tests/resources/periodic_water.lmp
Due: none

Back to wrapping import error
  src/metatrain/utils/architectures.py
Due: none

Remove leftover debugging
  src/metatrain/experimental/mace/model.py
Due: none

Remove unused mypy directives
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Some lint
  src/metatrain/experimental/mace/_dev/_gen_documentation.py
  src/metatrain/experimental/mace/documentation.py
Due: none

fix architecture tests
  src/metatrain/deprecated/nanopet/tests/test_functionality.py
Due: NanoPET

Adapt to new cutoff hyper
  src/metatrain/experimental/mace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Make foundation models work
  src/metatrain/experimental/mace/_dev/default-hypers-template.temp_yaml
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/scale_shift.py
Due: none

Ability to reinitialize loaded model to random weights
  src/metatrain/experimental/mace/model.py
Due: none

Fix documentation
  src/metatrain/experimental/mace/documentation.py
Due: none

Add install deps
  pyproject.toml
Due: none

Move to e3nn's compiling
  docs/static/refs.bib
  src/metatrain/experimental/mace/__init__.py
  src/metatrain/experimental/mace/_dev/default-hypers-template.temp_yaml
  src/metatrain/experimental/mace/default-hypers.yaml
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/utils/__init__.py
  src/metatrain/experimental/mace/utils/e3nn.py
  src/metatrain/experimental/mace/utils/hypers.py
  src/metatrain/experimental/mace/utils/mts.py
Due: none

Guillaume's suggestions
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/utils/testing/output.py
Due: none

Remove intended link since it does not work
  src/metatrain/experimental/mace/documentation.py
Due: none

Added a better error message for choosing the optimizer
  src/metatrain/pet/modules/optimizer.py
Due: PET

Added a description of Muon
  src/metatrain/pet/modules/optimizer.py
Due: PET

Added an error message
  src/metatrain/pet/modules/optimizer.py
Due: PET

Linting fix
  src/metatrain/pet/modules/optimizer.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
