Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Revert change in TargetInfo
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/utils/data/target_info.py
Due: none

Add `experimental.mace` architecture (#846)
  .github/workflows/architecture-tests.yml
  CODEOWNERS
  README.md
  docs/static/refs.bib
  examples/1-advanced/03-fitting-generic-targets.py
  pyproject.toml
  src/metatrain/experimental/mace/.gitignore
  src/metatrain/experimental/mace/__init__.py
  src/metatrain/experimental/mace/_dev/README.md
  src/metatrain/experimental/mace/_dev/_gen_documentation.py
  src/metatrain/experimental/mace/_dev/documentation.py_template
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/__init__.py
  src/metatrain/experimental/mace/modules/finetuning.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/modules/scale_shift.py
  src/metatrain/experimental/mace/tests/__init__.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/mace/utils/__init__.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/experimental/mace/utils/mts.py
  src/metatrain/experimental/mace/utils/structures.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/testing/exported.py
  src/metatrain/utils/testing/output.py
  src/metatrain/utils/testing/torchscript.py
  tests/resources/periodic_water.data
  tests/utils/test_architectures.py
  tox.ini
Due: SOAP-BPNN

Revert "Output coarser-grained diagnostic tokens from GNN and Transformer blocks"
  src/metatrain/pet/model.py
Due: PET

Format, lint
  src/metatrain/pet/model.py
Due: PET

Fix merge conflicts
  src/metatrain/pet/model.py
Due: PET

Split ensemble loss
  docs/src/concepts/loss-functions.rst
  src/metatrain/llpr/documentation.py
  src/metatrain/utils/loss.py
  tests/utils/test_loss.py
Due: LLPR

Clarified parameter conditions for using Muon
  src/metatrain/pet/modules/optimizer.py
Due: PET

Remove redundant validation collate function
  src/metatrain/experimental/mace/trainer.py
Due: none

Use new scaling
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/scaler/remove.py
Due: SOAP-BPNN, PET

Remove redundant validation collate function (#978)
  src/metatrain/experimental/mace/trainer.py
Due: none

Use atomic baseline
  pyproject.toml
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/trainer.py
  tox.ini
Due: none

Fix tests
  src/metatrain/experimental/phace/tests/test_basic.py
  src/metatrain/experimental/phace/tests/test_regression.py
  tests/utils/test_architectures.py
Due: none

Make sure all parameters are used
  src/metatrain/experimental/phace/trainer.py
Due: none

Use new scaler
  pyproject.toml
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/trainer.py
  tox.ini
Due: none

Use new scaler
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/utils/scaler/__init__.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/remove.py
  src/metatrain/utils/scaler/scaler.py
Due: PET

Removed the strict pytorch requirement
  pyproject.toml
  src/metatrain/pet/modules/optimizer.py
Due: PET

Add gradient accumulation and optional profiler
  src/metatrain/experimental/flashmd/default-hypers.yaml
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/structures.py
  src/metatrain/experimental/flashmd/schema-hypers.json
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Add momenta from MemmapDataset and sketch loading masses
  src/metatrain/utils/data/dataset.py
Due: none

Log duration of computing scale weights
  src/metatrain/utils/scaler/scaler.py
Due: none

Fixed huge MACE bug
  src/metatrain/experimental/mace/model.py
Due: none

Add checkpoint upgrade
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
Due: none

Make autograd tests pass again
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/utils/testing/autograd.py
Due: none

Fix autograd GPU
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Ensure checkpoints are compact
  src/metatrain/utils/testing/checkpoints.py
Due: none

Add changelog, fix checkpoints
  docs/src/dev-docs/changelog.rst
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v3_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/model.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/llpr/trainer.py
Due: LLPR, FlashMD

Remove LLPR trainer update (not needed)
  src/metatrain/llpr/checkpoints.py
Due: LLPR

Clarify default gradient clipping value in docstring
  src/metatrain/pet/documentation.py
Due: PET

Update documentation for grad_clip_norm
  src/metatrain/pet/documentation.py
Due: PET

Fix autograd tests for everyone by providing options
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/testing/autograd.py
Due: SOAP-BPNN

lint
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/utils/testing/autograd.py
Due: none

Clarify default gradient clipping value in docstring (#982)
  src/metatrain/pet/documentation.py
Due: PET

Fix huge MACE bug (#980)
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/soap_bpnn/tests/test_basic.py
  src/metatrain/utils/testing/autograd.py
Due: SOAP-BPNN
