Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

.codecov.yml:

coverage:
  status:
    project:
      default: false

    # core package
    core:
      target: 88%
      paths:
        - "src/metatrain/utils/.*"
        - "src/metatrain/cli/.*"

    patch:
      default:
        informational: true

component_management:
  individual_components:

    # stable architectures
    - component_id: gap
      name: GAP
      paths:
        - "src/metatrain/gap/.*"

    - component_id: soap_bpnn
      name: SOAP-BPNN
      paths:
        - "src/metatrain/soap_bpnn/.*"

    - component_id: pet
      name: PET
      paths:
        - "src/metatrain/pet/.*"

    - component_id: llpr
      name: LLPR
      paths:
        - "src/metatrain/llpr/.*"

    # deprecated architectures
    - component_id: nanopet
      name: NanoPET
      paths:
        - "src/metatrain/deprecated/nanopet/.*"

    # experimental architectures
    - component_id: flashmd
      name: FlashMD
      paths:
        - "src/metatrain/experimental/flashmd/.*"

  ignore:
    # no need to report coverage of the test code themself
    - "src/metatrain/utils/testing/.*"
    - "src/metatrain/**/tests/.*"
    # we don't currently run distributed tests on CI
    - "src/metatrain/utils/distributed/.*"

comment: false

Fix PET v15 -> v16 checkpoint upgrade with system conditioning
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v15-conditioning_trainer-v13.ckpt.gz
Due: PET

SPACE: incorrect `model.scaler` call in distributed case
  src/metatrain/experimental/space/trainer.py
Due: none

SPACE: fix incorrect `model.scaler` call in distributed case (#1236)
  src/metatrain/experimental/space/trainer.py
Due: none

Missed some scaler.forward and wrong import
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, FlashMD

Support GPU and use build_val_dataloader
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/trainer.py
Due: none

Make tests pass
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/scaler/trainer.py
Due: none

Add to codecov
  .codecov.yml
Due: none

Replace scaler checkpoint
  src/metatrain/scaler/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
Due: none

Scaler was not getting tested in github CI
  .github/workflows/architecture-tests.yml
  tests/test_registered_archs.py
Due: none

Update checkpoint
  src/metatrain/scaler/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
Due: none

Prevent scaler to be used in a wrong way
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, FlashMD

Copilot review
  docs/src/dev-docs/changelog.rst
  docs/src/dev-docs/utils/scaler/scaler.rst
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/tests/test_basic.py
  src/metatrain/scaler/trainer.py
  src/metatrain/soap_bpnn/documentation.py
  tox.ini
Due: SOAP-BPNN, PET, FlashMD

Apply review changes
  src/metatrain/scaler/model.py
Due: none

Skip final evaluation for scaler
  src/metatrain/cli/train.py
Due: none

Accept additive models as a hyper
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/pet/model.py
  src/metatrain/scaler/__init__.py
  src/metatrain/scaler/documentation.py
  src/metatrain/scaler/trainer.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, PET, FlashMD

Update ref
  src/metatrain/scaler/documentation.py
Due: none

Fix tests
  src/metatrain/scaler/documentation.py
  tests/utils/test_architectures.py
Due: none

Make it really work
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/scaler/model.py
  src/metatrain/scaler/trainer.py
Due: none

Fix PET v15 -> v16 checkpoint upgrade with system conditioning (#1235)
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v15-conditioning_trainer-v13.ckpt.gz
Due: PET

Fix scaler buffer loading on GPU
  src/metatrain/scaler/model.py
Due: none

lint
  src/metatrain/scaler/model.py
Due: none

Fix scaler buffer loading on GPU (#1239)
  src/metatrain/scaler/model.py
Due: none

Run CI with Python 3.14
  .github/workflows/architecture-tests.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  developer/clean-tempfiles.sh
  pyproject.toml
  src/metatrain/cli/formatter.py
  src/metatrain/experimental/dpa3/tests/test_regression.py
  src/metatrain/experimental/mace/tests/test_foundation.py
Due: none

Remove CustomHelpFormatter
  docs/src/dev-docs/cli/formatter.rst
  docs/src/dev-docs/cli/index.rst
  src/metatrain/cli/eval.py
  src/metatrain/cli/export.py
  src/metatrain/cli/formatter.py
  src/metatrain/cli/train.py
  tests/cli/test_formatter.py
Due: none

Add the possibility to avoid printing stats (#1189)
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
Due: none

Remove unnecessary whitespaces
  tests/cli/test_train_model.py
Due: none

Remove unused _available_heads function
  src/metatrain/experimental/mace/tests/test_foundation.py
Due: none

Add `final_eval` option to skip final RMSE/MAE evaluation in `mtt train` (#1192)
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/train_yaml_config.rst
  src/metatrain/cli/train.py
  src/metatrain/share/base_hypers.py
  src/metatrain/utils/omegaconf.py
  tests/cli/test_train_model.py
Due: none

Write a failing test for training on atomic basis targets
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/utils/testing/training.py
Due: FlashMD

Fix for the failing tests
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/space/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, PET

Pass DatasetInfo with sparse atomic basis targets to the Scaler (#1242)
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/flashmd/tests/test_basic.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/space/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/testing/training.py
Due: SOAP-BPNN, PET, FlashMD

Add general-purpose, model-agnostic linear readout utilities, and make available in SPACE and PET
  src/metatrain/experimental/space/checkpoints.py
  src/metatrain/experimental/space/documentation.py
  src/metatrain/experimental/space/eqx.py
  src/metatrain/experimental/space/model.py
  src/metatrain/experimental/space/modules/base_model.py
  src/metatrain/experimental/space/modules/layers.py
  src/metatrain/experimental/space/tests/checkpoints/model-v4_trainer-v3.ckpt.gz
  src/metatrain/experimental/space/tests/test_readouts.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/checkpoints/model-v17_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/test_heads_readouts.py
  src/metatrain/utils/hypers.py
  src/metatrain/utils/readout.py
  tests/utils/test_readout.py
Due: PET

fix(data): keep DataLoader workers on Python 3.14
  src/metatrain/utils/data/dataloaders.py
  src/metatrain/utils/data/dataset.py
Due: none

Update to metatensor-learn v0.6.1
  pyproject.toml
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v10_trainer-v11.ckpt.gz
Due: SOAP-BPNN
