Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Shrink LLPR checkpoints
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v2.ckpt.gz
  src/metatrain/llpr/tests/test_basic.py
Due: LLPR

Remove min LR
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
Due: PET

Shrink MACE checkpoints
  src/metatrain/experimental/mace/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/checkpoints/model-v2_trainer-v1.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
Due: none

Fix adaptive cutoff weight normalization problem
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Another way to regularize weights
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Fix adaptive cutoff weight normalization problem (#983)
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Update speedup range for FlashMD method
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Added 2 loss functions
  src/metatrain/utils/loss.py
Due: none

Fix device error
  src/metatrain/utils/loss.py
Due: none

Update src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Adaptive Gaussian width for cutoff smoothing
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Clarify the documentation for outputs that are not trained targets
  CONTRIBUTING.rst
  developer/clean-tempfiles.sh
  docs/src/architectures/generate.py
  docs/src/architectures/templates/default_hypers.rst
  docs/src/architectures/templates/installation.rst
  docs/src/architectures/templates/model_hypers.rst
  docs/src/architectures/templates/references.rst
  docs/src/architectures/templates/trainer_hypers.rst
  docs/src/concepts/auxiliary-outputs.rst
  docs/src/getting-started/override.rst
  examples/0-beginner/.gitignore
  examples/0-beginner/00-basic-usage.sh
  examples/0-beginner/05-run_ase.py
  src/metatrain/deprecated/nanopet/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/gap/documentation.py
  src/metatrain/llpr/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Clearly mark experimental architectures as such
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/mace/documentation.py
Due: FlashMD

Improve documentation for FlashMD method
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Linter
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Make edges symmetric
  src/metatrain/pet/modules/structures.py
Due: PET

VdW radii
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
Due: PET

Symmetric edges
  src/metatrain/pet/modules/structures.py
Due: PET

Fix bug
  src/metatrain/pet/modules/structures.py
Due: PET

Small refactor and add comments
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
Due: PET

Format
  src/metatrain/pet/modules/structures.py
Due: PET

Simplify code
  src/metatrain/pet/modules/structures.py
Due: PET

Update to main
  src/metatrain/__main__.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Batch bounds
  examples/1-advanced/09-training-with-batch-bounds.py
Due: none

Simplified gradient calculation logic in the AC gaussian weights
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Removed postfix
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Removed redundant comment
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Revered _t prefix
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Added adaptive cutoff tests
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Suppress numpy 2.0 deprecation warning from skmatter in GAP (#989)
  src/metatrain/gap/model.py
Due: GAP

Put comment back
  src/metatrain/pet/modules/adaptive_cutoff.py
Due: PET

Add adaptive Gaussian width for cutoff smoothing and symmetrize edges (#987)
  src/metatrain/pet/modules/adaptive_cutoff.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/test_adaptive_cutoff.py
Due: PET

Update checkpoints
  examples/1-advanced/09-training-with-batch-bounds.py
  src/metatrain/deprecated/nanopet/checkpoints.py
  src/metatrain/deprecated/nanopet/tests/checkpoints/model-v3_trainer-v8.ckpt.gz
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/flashmd/checkpoints.py
  src/metatrain/experimental/flashmd/tests/checkpoints/model-v2_trainer-v4.ckpt.gz
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/checkpoints.py
  src/metatrain/llpr/tests/checkpoints/model-v3_trainer-v3.ckpt.gz
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v10_trainer-v12.ckpt.gz
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/checkpoints.py
  src/metatrain/soap_bpnn/tests/checkpoints/model-v7_trainer-v10.ckpt.gz
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/distributed/batch_utils.py
  tests/utils/data/test_batch_bounds.py
Due: SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Remove useless comments
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Add checkpoint
  src/metatrain/experimental/mace/tests/checkpoints/model-v2_trainer-v2.ckpt.gz
Due: none

Update speedup range for FlashMD method (#985)
  src/metatrain/experimental/flashmd/documentation.py
Due: FlashMD

Fix label creation for variants of generic targets
  src/metatrain/utils/data/target_info.py
Due: none

Add attention temperature to PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/transformer.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
