Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

SoH, no bias
  pet-mods.txt
  src/metatrain/pet_14/__init__.py
  src/metatrain/pet_14/checkpoints.py
  src/metatrain/pet_14/documentation.py
  src/metatrain/pet_14/model.py
  src/metatrain/pet_14/modules/adaptive_cutoff.py
  src/metatrain/pet_14/modules/finetuning.py
  src/metatrain/pet_14/modules/nef.py
  src/metatrain/pet_14/modules/structures.py
  src/metatrain/pet_14/modules/transformer.py
  src/metatrain/pet_14/modules/utilities.py
  src/metatrain/pet_14/trainer.py
Due: none

lmax
  src/metatrain/pet_14/modules/transformer.py
Due: none

Fix handling of components in LLPR (#1022)
  src/metatrain/llpr/calibration.py
  src/metatrain/llpr/model.py
Due: LLPR

feat(export): add gh style interactions
  src/metatrain/cli/export.py
  tests/cli/test_export_model.py
Due: none

doc(export): add details of gh-style usage
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/cli/export.py
Due: none

Fix number of epochs for finetuning
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

linting
  src/metatrain/experimental/dpa3/trainer.py
  tests/utils/test_architectures.py
Due: none

Fix number of epochs for finetuning (#1026)
  src/metatrain/experimental/flashmd/trainer.py
Due: FlashMD

Reset trainer epochs in 'finetune' context
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, LLPR, NanoPET

Reset trainer epochs in 'finetune' context (#1028)
  src/metatrain/deprecated/nanopet/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/llpr/trainer.py
  src/metatrain/soap_bpnn/trainer.py
Due: SOAP-BPNN, LLPR, NanoPET

Fix the handling of `num_epochs` for restart and finetune contexts
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/testing/training.py
Due: SOAP-BPNN, PET

Moved to shared tests (some still failing)
  src/metatrain/experimental/dpa3/checkpoints.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/dpa3/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/experimental/dpa3/tests/test_basic.py
  src/metatrain/experimental/dpa3/tests/test_continue.py
  src/metatrain/experimental/dpa3/tests/test_functionality.py
  src/metatrain/experimental/dpa3/tests/test_torchscript.py
  src/metatrain/utils/testing/architectures.py
  src/metatrain/utils/testing/output.py
  src/metatrain/utils/testing/torchscript.py
Due: none

Make docs build
  docs/src/architectures/dpa3.rst
  src/metatrain/experimental/dpa3/documentation.py
Due: none

Make docs build
  docs/src/architectures/dpa3.rst
  docs/src/architectures/nanopet.rst
  src/metatrain/experimental/dpa3/documentation.py
Due: none

Fix test typo
  src/metatrain/utils/testing/architectures.py
Due: none

feat(export): add gh style interactions
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/cli/export.py
  src/metatrain/utils/io.py
  tests/cli/test_export_model.py
Due: none

feat(export): add gh style interactions (#1025)
  docs/src/dev-docs/changelog.rst
  docs/src/getting-started/checkpoints.rst
  src/metatrain/cli/export.py
  src/metatrain/utils/io.py
  tests/cli/test_export_model.py
Due: none

feat(torch.compile): partial PET application
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/modules/utilities.py
  src/metatrain/pet/trainer.py
Due: PET

Update distributed tests to the current finetuning syntax
  tests/distributed/options-distributed-finetuning.yaml
  tests/distributed/options-distributed.yaml
  tests/distributed/options.yaml
Due: none

Update CI for distributed tests
  ci/cscs.yml
Due: none

add blank line
  tests/distributed/submit-distributed.sh
Due: none

ignore torch jit deprecation warnings
  pyproject.toml
Due: none

also for `load`
  pyproject.toml
Due: none

and trace_method
  pyproject.toml
Due: none

Ignore TorchScript deprecation warnings (#1031)
  pyproject.toml
Due: none

Ignore another deprecation warning
  pyproject.toml
Due: none

Add deprecation warning for torch.jit.trace
  pyproject.toml
Due: none

Add links to architectures on README table
  .gitignore
  README.md
  docs/src/conf.py
  docs/src/index.rst
Due: none

Remove duplicated header
  README.md
Due: none

SoapBPNN to PET in distributed tests
  tests/distributed/options-distributed-multitarget.yaml
Due: none

Quicker tests
  tests/distributed/options-distributed-multitarget.yaml
  tests/distributed/options-distributed.yaml
Due: none

Add failing test
  tests/utils/test_metrics.py
Due: none

Implement the fix
  src/metatrain/utils/metrics.py
Due: none

Add links to architectures in README table (#1034)
  .gitignore
  README.md
  docs/src/conf.py
  docs/src/index.rst
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
