Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

First run at atomic_predictions
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
Due: none

Clean up E-PET option surface and helpers
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Experiments on LR, clipping, whitening
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

WIP safety checkpoint before main alignment
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/_atomic_basis_irrep_balanced_loss.py
Due: PET

Align E-PET with mainline atomic-basis scaler flow
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
  src/metatrain/utils/_atomic_basis_irrep_balanced_loss.py
Due: PET

Clean E-PET option surface and OMAT example
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/pet/documentation.py
Due: PET

Tighten E-PET defaults and custom trainer guards
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
  src/metatrain/utils/_atomic_basis_irrep_balanced_loss.py
Due: none

Refactor E-PET spherical output registration
  src/metatrain/experimental/e_pet/model.py
Due: none

Refactor E-PET custom trainer helpers
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Implement projections loss
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
  src/metatrain/utils/pyscf_loss.py
Due: PET

Reword docsting and remove DPA `# TODO` (will be handled in a separate PR)
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Clean PET comparison support for E-PET
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_basic.py
  src/metatrain/pet/tests/test_functionality.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/_atomic_basis_irrep_balanced_loss.py
Due: PET

Simplify E-PET model and trainer paths
  src/metatrain/experimental/e_pet/model.py
  src/metatrain/experimental/e_pet/tests/test_model.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Document cleaned E-PET option surface
  docs/src/dev-docs/e-pet-alignment.rst
  examples/1-advanced/options-e-pet-pet-omat-xs32.yaml
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/tests/test_basic.py
Due: none

Support distributed custom E-PET training
  src/metatrain/experimental/e_pet/documentation.py
  src/metatrain/experimental/e_pet/tests/test_trainer.py
  src/metatrain/experimental/e_pet/trainer.py
Due: none

Mention docs page for scaler
  src/metatrain/experimental/dpa3/documentation.py
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/soap_bpnn/documentation.py
Due: SOAP-BPNN, PET, FlashMD

see if ci passes with updated metatomic
  pyproject.toml
  tox.ini
Due: none

Revert metatomic deps to PyPI versions
  pyproject.toml
  tox.ini
Due: none

Use targetinfo quantity as modeloutput quantity was deprecated
  src/metatrain/utils/evaluate_model.py
Due: none

fix checkpoint
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v14.ckpt.gz
  src/metatrain/pet/trainer.py
Due: PET

Combine CSR storage with vectorised greedy packing
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

move function to go from csr to list of lists for tests into tests
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: none

Vectorize MaxAtomDistributedBatchSampler greedy packing
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
Due: none

Drop batch_atom_bounds from PET; sampler yields ndarray batches
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/samplers.py
  tests/utils/data/test_samplers.py
Due: PET

fix linting
  src/metatrain/utils/data/samplers.py
Due: none

Regenerate v14 reference for PET model bump to v13
  src/metatrain/pet/tests/checkpoints/model-v12_trainer-v14.ckpt.gz
  src/metatrain/pet/tests/checkpoints/model-v13_trainer-v14.ckpt.gz
Due: PET

is_auxiliary_output - also match singular "feature"
  src/metatrain/utils/data/target_info.py
Due: none

gap: recreate tensorblocks
  src/metatrain/gap/model.py
Due: GAP

copy blocks
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/soap_bpnn/model.py
Due: SOAP-BPNN, FlashMD

update tests for stricter validation
  src/metatrain/utils/testing/output.py
  tests/utils/data/test_readers.py
Due: none

scaler: copy block before second tensormap
  src/metatrain/utils/scaler/_base_scaler.py
Due: none

Simple MoE and Z-readout
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/modules/transformer.py
Due: PET

revert regex for backward compat with current metatomic
  tests/utils/data/test_readers.py
Due: none

Use both coefficients and projections when computing the indirect loss
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
Due: PET

some tests to check
  docs/src/concepts/loss-functions.rst
  src/metatrain/pet/tests/test_regression.py
  tests/utils/test_loss.py
  tests/utils/test_pydantic.py
  tox.ini
Due: PET

update regex for metatensor 0.9 validation message
  tests/utils/data/test_readers.py
Due: none

bump metatensor to 0.9, metatomic to 0.1.12
  pyproject.toml
Due: none

add featomic rc
  pyproject.toml
Due: none

Fix scaler block double-move and add v14 PET checkpoint fixture
  src/metatrain/pet/tests/checkpoints/model-v14_trainer-v13.ckpt.gz
  src/metatrain/utils/scaler/_base_scaler.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
