Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

fix spin/charge extraction
  src/metatrain/pet/model.py
Due: PET

fix absolute to relative indices
  src/metatrain/utils/system_data.py
Due: none

fix torch script string issues
  src/metatrain/pet/model.py
Due: PET

warning on missing conditioning incompatible with torch script
  src/metatrain/pet/model.py
Due: PET

requested inputs not working in eval, revert back to all extra data, add test that confirms eval is working with spin/charge
  src/metatrain/cli/eval.py
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

add check for existing system data, necessary when reading from xyz instead of memmap
  src/metatrain/utils/system_data.py
Due: none

Training example in the README file was wrong
  README.md
Due: none

Philip's suggestion
  tests/test_readme.py
Due: none

Added test for readme file
  tests/test_readme.py
Due: none

clean up
  tests/test_readme.py
Due: none

windows is weird
  tests/test_readme.py
Due: none

lint
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/test_conditioning.py
  tests/utils/data/test_dataset.py
Due: PET

missing return type in system-conditioning-transform
  src/metatrain/pet/modules/conditioning.py
Due: PET

update memory
  ci/cscs.yml
Due: none

Handle non-periodic and zero-volume systems in ASE writer (#1039)
  src/metatrain/utils/data/writers/ase.py
Due: none

Increase CI builder memory (#1081)
  ci/cscs.yml
Due: none

Format and add fine-tuning capabilities
  src/metatrain/__main__.py
  src/metatrain/experimental/phace/checkpoints.py
  src/metatrain/experimental/phace/documentation.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/modules/finetuning.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/scaler/scaler.py
Due: none

Change color range
  .codecov.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

update llpr/classification checkpoints
  src/metatrain/experimental/classifier/tests/checkpoints/model-v1_trainer-v1.ckpt.gz
  src/metatrain/llpr/tests/checkpoints/model-v4_trainer-v5.ckpt.gz
Due: LLPR

correct function parameters for linter
  src/metatrain/pet/modules/conditioning.py
Due: PET

correct function parameters for linter
  src/metatrain/cli/eval.py
Due: none

Change color range (#1082)
  .codecov.yml
Due: none

fix(coverage): exclude test files and auto generated files from coverage
  .codecov.yml
Due: none

fix(coverage): exclude test files and auto generated files from coverage (#1083)
  .codecov.yml
Due: none

Avoid CI error with newest build release
  tox.ini
Due: none

Made stupid mistake
  tox.ini
Due: none

Add explicit comments to indicate diagnostic code blocks
  src/metatrain/pet/model.py
Due: PET

Update changelog
  docs/src/dev-docs/changelog.rst
Due: none

Move to build 1.4.2
  tox.ini
Due: none

Also allow extraction of the raw (not aggregated) node and edge BBF and LLF
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_hidden_layer_outputs.py
Due: PET

replace extra_data_keys with model.requested_inputs() in eval
  src/metatrain/cli/eval.py
Due: none

Avoid CI error with build 1.4.1 (#1084)
  tox.ini
Due: none

remove system-conditioning-transform
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/trainer.py
Due: PET

remove conditioning keys
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
Due: PET

remove test that depends on metatomic calculator, will go into metatomic
  src/metatrain/pet/tests/test_conditioning.py
Due: PET

mtt::spin/charge to spin/charge
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/system_data.py
  tests/utils/data/test_dataset.py
Due: PET

add standard output charge/spin
  src/metatrain/pet/modules/conditioning.py
Due: PET

Initialize wandb earlier in the pipeline
  src/metatrain/__main__.py
  src/metatrain/cli/train.py
Due: none

Lint
  src/metatrain/__main__.py
  src/metatrain/cli/train.py
Due: none

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
