Repository metatensor/metatrain: changes, and which Codecov flags are due for each by the changed paths.
All: GAP, SOAP-BPNN, PET, LLPR, NanoPET, FlashMD

Add possibility to avoid warm up in mtt eval (#1179)
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  tests/cli/test_eval_model.py
Due: none

add warning for missing conditioning keys
  src/metatrain/pet/trainer.py
Due: PET

Spin/Charge System Conditioning (#1080)
  docs/src/dev-docs/changelog.rst
  src/metatrain/cli/eval.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/conditioning.py
  src/metatrain/pet/tests/checkpoints/model-v15_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_conditioning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/data/dataset.py
  src/metatrain/utils/data/get_dataset.py
  src/metatrain/utils/system_data.py
  tests/utils/data/test_dataset.py
Due: PET

Fixed a few minor caveats
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
Due: PET

Add composition to GitHub Actions architecture-tests matrix
  .github/workflows/architecture-tests.yml
Due: none

Fixed a tiny bug in adaptive cutoff stats reduction method
  src/metatrain/pet/model.py
Due: PET

Move _get_dataloader to Trainer, drop initial_transforms
  src/metatrain/composition/__init__.py
  src/metatrain/composition/documentation.py
  src/metatrain/composition/model.py
  src/metatrain/composition/tests/test_basic.py
  src/metatrain/composition/tests/test_checkpoint.py
  src/metatrain/composition/tests/test_export.py
  src/metatrain/composition/tests/test_regression.py
  src/metatrain/composition/tests/test_torchscript.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/pet/tests/test_composition_checkpoint.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/trainer.py
  tests/utils/test_additive.py
Due: SOAP-BPNN, PET

Support the multi-head foundation MACE model
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
Due: none

Fixed the fine-tuning tests
  src/metatrain/pet/modules/finetuning.py
  tests/cli/test_train_model.py
Due: PET

Compatibility with old single-head mace models
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/utils/_load_model_file.py
  src/metatrain/experimental/mace/utils/structures.py
Due: none

Some more comments
  src/metatrain/experimental/mace/model.py
Due: none

Remove spurious atomic_basis_transform from Trainer.train
  src/metatrain/composition/trainer.py
Due: none

Extract the correct last layer features of the selected head
  src/metatrain/experimental/mace/checkpoints.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/modules/heads.py
  src/metatrain/experimental/mace/tests/checkpoints/model-v4_trainer-v2.ckpt.gz
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_foundation.py
Due: none

Formatting
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
Due: none

Try to fix docs
  src/metatrain/experimental/mace/documentation.py
Due: none

Updated the backend tests so they check torch-compile only once
  src/metatrain/pet/COMPILE_NOTES.md
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_backend.py
Due: PET

Updated the fine-tuning block
  src/metatrain/pet/modules/finetuning.py
  src/metatrain/pet/tests/test_finetuning.py
Due: PET

Cleaned up tests
  src/metatrain/pet/tests/test_diagnostic.py
  tests/cli/test_train_model.py
Due: PET

Fixed regression tests
  src/metatrain/pet/tests/test_regression.py
Due: PET

Save checkpoint and extend atomic_baseline for unknown targets
  src/metatrain/composition/__init__.py
  src/metatrain/composition/model.py
  src/metatrain/composition/trainer.py
  src/metatrain/experimental/dpa3/trainer.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/trainer.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/experimental/phace/trainer.py
  src/metatrain/gap/trainer.py
  src/metatrain/pet/model.py
  src/metatrain/pet/trainer.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/soap_bpnn/trainer.py
  src/metatrain/utils/data/atomic_basis_helpers.py
  tests/utils/test_additive.py
Due: GAP, SOAP-BPNN, PET, FlashMD

pet: clean up tmp-debug cruft, wire ZConditionedReadout chunk size as a hyperparameter
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/atomic_basis.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/loss.py
Due: PET

Densify CM additive contributions at architecture level
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/pet/model.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/data/atomic_basis_helpers.py
Due: SOAP-BPNN, PET

Enabled a for-loop over a batch dimension if batch size exceeds 65535
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

pet: fix TorchScript export in ZConditionedReadout's non-conditioned fast path
  src/metatrain/pet/modules/atomic_basis.py
Due: PET

Fixed the state corruption in pet-tests
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/tests/test_long_range.py
  src/metatrain/pet/tests/test_regression.py
Due: PET

Fix PET CUDA backward crash for systems >65535 atoms (#1175)
  src/metatrain/pet/modules/transformer.py
  src/metatrain/pet/tests/test_functionality.py
Due: PET

Commented out the print option
  src/metatrain/pet/tests/test_regression.py
Due: PET

Update src/metatrain/pet/checkpoints.py
  src/metatrain/pet/checkpoints.py
Due: PET

Cleaned up the comments
  src/metatrain/pet/model.py
Due: PET

Fixed the redundant argument
  src/metatrain/pet/model.py
Due: PET

Fixed comments
  src/metatrain/pet/checkpoints.py
Due: PET

Speedup of the tests
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_pet_mad.py
Due: PET

Moved the finetuning model to metatrain.utils
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/finetuning.py
Due: PET, FlashMD

Extract pure-torch PET backend into a separate module (#1180)
  pyproject.toml
  src/metatrain/experimental/flashmd/documentation.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd/trainer.py
  src/metatrain/experimental/flashmd_symplectic/documentation.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/trainer.py
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/pet/checkpoints.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/modules/diagnostic.py
  src/metatrain/pet/modules/nef.py
  src/metatrain/pet/modules/structures.py
  src/metatrain/pet/tests/checkpoints/model-v16_trainer-v13.ckpt.gz
  src/metatrain/pet/tests/test_adaptive_cutoff.py
  src/metatrain/pet/tests/test_backend.py
  src/metatrain/pet/tests/test_diagnostic.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/pet/tests/test_long_range.py
  src/metatrain/pet/tests/test_pet_mad.py
  src/metatrain/pet/tests/test_regression.py
  src/metatrain/pet/trainer.py
  src/metatrain/utils/finetuning.py
  tests/cli/test_train_model.py
Due: PET, FlashMD

Test both 1 head and 2 heads model
  src/metatrain/experimental/mace/.gitignore
  src/metatrain/experimental/mace/documentation.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/mace/tests/test_basic.py
  src/metatrain/experimental/mace/tests/test_foundation.py
  src/metatrain/experimental/mace/utils/mace_head.py
Due: none

Drop incompatible stale targets/heads after full/lora fine-tuning
  docs/src/concepts/fine-tuning.rst
  src/metatrain/cli/train.py
  src/metatrain/experimental/classifier/model.py
  src/metatrain/experimental/dpa3/model.py
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/modules/additive.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/experimental/mace/model.py
  src/metatrain/experimental/phace/model.py
  src/metatrain/gap/model.py
  src/metatrain/llpr/model.py
  src/metatrain/pet/model.py
  src/metatrain/pet/modules/backend.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/soap_bpnn/model.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/additive/zbl.py
  src/metatrain/utils/finetuning.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
Due: GAP, SOAP-BPNN, PET, LLPR, FlashMD

Defer stale-target removal until after inherit_heads copies weights
  src/metatrain/experimental/flashmd/model.py
  src/metatrain/experimental/flashmd/tests/test_finetuning.py
  src/metatrain/experimental/flashmd_symplectic/model.py
  src/metatrain/experimental/flashmd_symplectic/tests/test_finetuning.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/utils/finetuning.py
Due: PET, FlashMD

Add default_target fine-tuning flag to copy a target's state into "energy"
  docs/src/concepts/fine-tuning.rst
  src/metatrain/cli/train.py
  src/metatrain/pet/documentation.py
  src/metatrain/pet/model.py
  src/metatrain/pet/tests/test_finetuning.py
  src/metatrain/utils/abc.py
  src/metatrain/utils/additive/_base_composition.py
  src/metatrain/utils/additive/composition.py
  src/metatrain/utils/finetuning.py
  src/metatrain/utils/scaler/_base_scaler.py
  src/metatrain/utils/scaler/scaler.py
  tests/utils/test_abc.py
Due: PET

Path conditions:
  GAP: any of: src/metatrain/gap/.*
  SOAP-BPNN: any of: src/metatrain/soap_bpnn/.*
  PET: any of: src/metatrain/pet/.*
  LLPR: any of: src/metatrain/llpr/.*
  NanoPET: any of: src/metatrain/deprecated/nanopet/.*
  FlashMD: any of: src/metatrain/experimental/flashmd/.*
